Repository shadow/shadow, pull requests merged in 2020-08, with the labels that each got.

#953 Updated install docs in the master branch
  docs/1.1-Shadow.md
Labels: Component: Documentation

#955 Invert spinlock loop condition
  src/shim/binary_spinning_sem.cc
Labels: Component: Shim, Priority: High, Status: Accepted, Type: Bug

#952 Minimal clone implementation in ThreadPtrace
  src/main/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/clone.c
  src/main/host/syscall/clone.h
  src/main/host/syscall_handler.c
  src/main/host/syscall_handler.h
  src/main/host/thread.c
  src/main/host/thread.h
  src/main/host/thread_preload.c
  src/main/host/thread_protected.h
  src/main/host/thread_ptrace.c
  src/test/CMakeLists.txt
  src/test/clone/CMakeLists.txt
  src/test/clone/clone_test_config.xml
  src/test/clone/test_clone.c
Labels: Component: Main, Priority: Medium, Status: Accepted, Type: Enhancement
