Repository shadow/shadow, pull requests merged in 2020-10, with the labels that each got.

#979 Avoid performing an atomic write in spinlock loop.
  src/shim/binary_spinning_sem.cc
Labels: Component: Shim, Priority: Medium, Type: Enhancement

#1002 Use 'minimal' profile for rustup in CI
  .github/workflows/lint.yml
  .github/workflows/run_tests.yml
  ci/container_scripts/install_extra_deps.sh
Labels: Component: Testing

#1003 Specify interpose method for epoll tests
  src/test/epoll/CMakeLists.txt
Labels: Component: Testing

#1005 Changed script shebangs and CI workflows to use python3
  .github/workflows/build_shadow.yml
  setup
  src/external/elf-loader/extract-system-config.py
  src/external/elf-loader/get-valgrind-cflags.py
  src/external/elf-loader/test/junit_xml_output/__init__.py
  src/external/elf-loader/test/run-valgrind.py
  src/external/elf-loader/test/testjunit.py
Labels: Component: Support Libs

#1006 Run Python 3 linter on 'src/external'
  .github/workflows/lint_python.yml
  src/external/elf-loader/test/junit_xml_output/__init__.py
Labels: Component: Elf Loader, Component: Testing

#978 Have Shadow tell the plugin not to spin when its blocked.
  src/main/host/thread_preload.c
  src/shim/binary_spinning_sem.cc
  src/shim/binary_spinning_sem.h
  src/shim/ipc.cc
  src/shim/ipc.h
  src/shim/preload_syscalls.c
  src/shim/shim.c
  src/shim/shim_event.h
Labels: Component: Shim, Type: Enhancement

#1000 Support TCP tests in preload mode
  src/shim/preload_libraries.c
  src/shim/preload_syscalls.c
  src/test/tcp/CMakeLists.txt
Labels: Component: Shim, Component: Testing

#1014 Enable epoll preload tests on all platforms
  src/test/epoll/CMakeLists.txt
Labels: Component: Testing
