Repository shadow/shadow, pull requests merged in 2021-12, with the labels that each got.

#1791 Replaced PRNG with a rust version
  src/main/CMakeLists.txt
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.c
  src/main/core/manager.c
  src/main/core/scheduler/scheduler.c
  src/main/core/worker.c
  src/main/host/descriptor/file.c
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
  src/main/host/process.c
  src/main/host/syscall/random.c
  src/main/utility/mod.rs
  src/main/utility/random.c
  src/main/utility/random.h
  src/main/utility/random.rs
Labels: Type: Enhancement, Component: Main, Component: Build

#1795 Support creating/binding abstract-named unix sockets
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/socket/abstract_unix_ns.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
  src/main/host/syscall/socket.c
  src/main/host/syscall/socket.rs
  src/main/host/syscall_handler.c
  src/test/socket/bind/test_bind.rs
  src/test/socket/sendto_recvfrom/test_sendto_recvfrom.rs
  src/test/socket/socket/test_socket.rs
Labels: Type: Enhancement, Component: Testing, Component: Main, Component: Build

#1799 Remove unnecessary 'Random' initialization
  src/main/utility/random.rs
Labels: Component: Main

#1803 Show build-time error if using clang 13.0.0, and exclude centos stream 8 + clang from the CI tests
  .github/workflows/run_tests.yml
  CMakeLists.txt
Labels: Component: Testing, Component: Build

#1800 Fix test regexes which caused incorrect tests to pass
  src/test/CMakeLists.txt
  src/test/exit/CMakeLists.txt
  src/test/socket/bind/CMakeLists.txt
  src/test/socket/sendto_recvfrom/test_sendto_recvfrom.rs
  src/test/tor/minimal/CMakeLists.txt
Labels: Component: Testing, Component: Build

#1804 Add note to docs about cURL spinloop
  docs/getting_started_basic.md
Labels: Component: Documentation

#1805 Fix rust unread struct field warning
  src/main/host/memory_manager/memory_mapper.rs
Labels: Type: Maintenance, Component: Main

#1810 Upgrade clap to 3.0.0-rc.3
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/core/support/configuration.rs
Labels: Type: Maintenance, Component: Main, Component: Build

#1811 Fix permissions for "CI Maintenance" workflow
  .github/workflows/ci_maintenance.yml
Labels: Type: Maintenance, Component: Testing

#1830 Prefer `IntoIterator::into_iter` instead of deprecated `IntoIter::new`
  src/main/core/support/configuration.rs
Labels: Component: Main
