Repository shadow/shadow, pull requests merged in 2021-08, with the labels that each got.

#1551 Ignore null pointer dereference warning in bindgen tests
  src/main/bindings/rust/CMakeLists.txt
  src/main/lib.rs
Labels: Component: Build, Component: Main

#1548 Fixed bug where epoll ready list contained non-ready items
  src/main/host/descriptor/epoll.c
Labels: Component: Main, Type: Bug

#1553 Fixed small bug in 'epoll_getEvents()' in release mode
  src/main/host/descriptor/epoll.c
Labels: Component: Main

#1557 Increase shim logger's line buffer size
  src/lib/shim/shim_logger.c
Labels: Component: Libraries

#1555 Improve TSC emulation
  src/lib/shim/shim.c
  src/lib/tsc/tsc.c
  src/lib/tsc/tsc.h
  src/lib/tsc/tsc_test.c
  src/main/bindings/rust/wrapper.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/thread_preload.c
  src/main/host/thread_ptrace.c
Labels: Component: Libraries, Component: Main

#1556 shim: Simplify and fix enabling/disabling interposition
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/shim_event.c
  src/test/clone/CMakeLists.txt
Labels: Component: Build, Component: Libraries, Component: Testing

#1560 Shim logger bug fixes
  src/lib/logger/logger.c
  src/lib/logger/logger.h
  src/lib/shim/preload_syscall.c
  src/lib/shim/shim.c
  src/lib/shim/shim_syscall.c
  src/main/core/manager.c
Labels: Component: Libraries, Component: Main

#1570 Descriptor/file organizational changes
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall/unistd.rs
  src/main/host/syscall_condition.h
  src/main/lib.rs
  src/main/utility/mod.rs
Labels: Component: Main, Component: Build

#1575 Respect shadow's initial CPU affinity
  src/main/host/affinity.c
Labels: Component: Main

#1577 Add documentation for working with CPU affinity
  docs/README.md
  docs/SUMMARY.md
  docs/parallel_sims.md
Labels: Component: Documentation

#1582 Add names to CI workflow jobs
  .github/workflows/run_tests.yml
  .github/workflows/run_tor.yml
Labels: Component: Testing

#1583 Simplify syscall condition and timeouts
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/timer.c
  src/main/host/descriptor/timer.h
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/epoll.c
  src/main/host/syscall/futex.c
  src/main/host/syscall/poll.c
  src/main/host/syscall/protected.c
  src/main/host/syscall/protected.h
  src/main/host/syscall/socket.c
  src/main/host/syscall/time.c
  src/main/host/syscall/uio.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/syscall_condition.rs
  src/main/host/syscall_handler.c
  src/main/host/thread.c
  src/main/host/thread.h
Labels: Component: Main

#1586 _getAffinity: handle larger CPU set sizes
  src/main/host/affinity.c
Labels: Component: Main

#1587 Parse jitter from network graph
  src/main/routing/network_graph.rs
Labels: Component: Main

#1584 Add and use EmulatedTime type in Rust
  src/main/core/logger/shadow_logger.rs
  src/main/core/support/definitions.h
  src/main/core/support/emulated_time.rs
  src/main/core/support/mod.rs
  src/main/core/support/simulation_time.rs
  src/main/core/worker.rs
  src/main/host/syscall_condition.c
Labels: Component: Main

#1589 Update rust nightly, bindgen, and cbindgen versions in CI
  .github/workflows/lint.yml
  ci/container_scripts/install_extra_deps.sh
  src/main/bindings/rust/wrapper.rs
Labels: Component: Testing, Component: Main

#1588 Upgraded clap from 3.0.0-beta.2 to 3.0.0-beta.4
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/core/support/units.rs
Labels: Component: Main, Component: Build

#1595 Fix order of packets in pcap
  src/main/host/network_interface.c
Labels: Component: Main

#1597 Set a few tests to log at debug level instead of trace
  src/test/determinism/CMakeLists.txt
  src/test/epoll/CMakeLists.txt
  src/test/sockbuf/CMakeLists.txt
  src/test/socket/accept/CMakeLists.txt
  src/test/socket/sendto_recvfrom/CMakeLists.txt
  src/test/socket/shutdown/CMakeLists.txt
Labels: Component: Testing, Component: Build

#1590 Fix documentation for network graph path
  docs/shadow_config_spec.md
  src/main/core/support/configuration.rs
  src/main/routing/network_graph.rs
Labels: Component: Main, Component: Documentation

#1614 Removed failing accept() test
  src/test/socket/accept/test_accept.rs
Labels: Component: Testing

#1612 Show detailed version info when using '--version'
  CMakeLists.txt
  src/main/CMakeLists.txt
  src/main/core/main.c
  src/main/core/support/configuration.rs
Labels: Type: Enhancement, Component: Main, Component: Build

#1610 Fix incorrect controller minimum time jump calculation
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.c
  src/main/core/controller.h
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/routing/network_graph.rs
Labels: Type: Bug, Component: Main

#1615 futex test cleanup
  src/test/futex/test_futex.c
Labels: Component: Testing

#1616 Fixed documentation links
  docs/shadow_config_spec.md
Labels: Component: Documentation

#1618 Fixed error preventing rustdoc builds
  src/main/core/support/configuration.rs
Labels: Type: Bug, Component: Main

#1619 Config spec documentation changes
  docs/shadow_config_spec.md
Labels: Type: Maintenance, Component: Documentation
