Repository shadow/shadow, pull requests merged in 2021-09, with the labels that each got.

#1608 fixes CPU ordering function to use CPU load table instead of erroneously using core load table
  src/main/host/affinity.c
Labels: Type: Bug, Component: Main

#1622 Fixed infinite loop in '_host_getRandomPort()'
  src/main/host/host.c
  src/test/socket/bind/CMakeLists.txt
  src/test/socket/bind/test_bind.rs
Labels: Type: Bug, Component: Testing, Component: Main, Component: Build

#1624 Added documentation details for 'hosts.<hostname>.options'
  docs/shadow_config_spec.md
Labels: Type: Maintenance, Component: Documentation

#1625 Make the pcap directory relative to the host directory
  docs/shadow_config_spec.md
  src/main/host/host.c
Labels: Type: Bug, Component: Main, Component: Documentation

#1627 Re-schedule syscall condition after spurious wakeup
  src/main/host/syscall_condition.c
Labels: Component: Main

#1630 Error if two hosts have the same hostname
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/core/controller.c
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler.h
  src/main/core/support/configuration.rs
  src/test/CMakeLists.txt
  src/test/config/CMakeLists.txt
  src/test/config/parsing/CMakeLists.txt
  src/test/config/parsing/error-on-duplicate-hosts-1.yaml
  src/test/config/parsing/error-on-duplicate-hosts-2.yaml
Labels: Type: Bug, Component: Testing, Component: Main, Component: Build

#1632 Remove use-c-syscalls option
  .github/workflows/run_tests.yml
  CMakeLists.txt
  ci/container_scripts/build_and_install.sh
  setup
  src/main/bindings/rust/wrapper.rs
  src/main/host/syscall/fcntl.c
  src/main/host/syscall/fcntl.h
  src/main/host/syscall/unistd.c
  src/main/host/syscall/unistd.h
  src/main/host/syscall_handler.c
Labels: Component: Testing, Component: Main, Component: Build

#1633 Rewrote shadow's main function in rust
  src/main/CMakeLists.txt
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.c
  src/main/core/controller.h
  src/main/core/logger/mod.rs
  src/main/core/logger/shadow_logger.rs
  src/main/core/main.c
  src/main/core/main.h
  src/main/core/main.rs
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/mod.rs
  src/main/main.c
  src/main/utility/disable_aslr.c
  src/main/utility/disable_aslr.h
Labels: Component: Main, Component: Build

#1639 Improve warning message for unsupported sockopt calls
  src/main/host/syscall/socket.c
Labels: Type: Maintenance, Component: Main

#1638 Support FIONBIO for eventfd descriptors
  src/main/host/syscall/ioctl.c
  src/test/eventfd/test_eventfd.rs
Labels: Type: Enhancement, Component: Testing, Component: Main

#1634 Added a simulation status bar
  docs/shadow_config_spec.md
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/core/logger/shadow_logger.rs
  src/main/core/manager.c
  src/main/core/support/configuration.rs
  src/main/utility/mod.rs
  src/main/utility/status_bar.rs
  src/main/utility/time.rs
Labels: Type: Enhancement, Component: Main, Component: Documentation

#1449 thread_ptrace: drop unnecessary spinning
  src/main/host/thread_ptrace.c
Labels: Component: Main, Tag: Performance

#1644 Warn if memory or fd usage is high
  src/main/core/manager.c
Labels: Type: Enhancement, Component: Main

#1649 Make preload the default interposition mechanism
  docs/shadow_config_spec.md
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Documentation

#1653 Fixed '--version' and '--help' parsing
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/core/main.rs
  src/main/core/support/configuration.rs
Labels: Type: Bug, Component: Main

#1650 Improve the descriptor close process
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/scheduler/scheduler.c
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/host/descriptor/channel.c
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor.h
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/descriptor_types.h
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/eventd.c
  src/main/host/descriptor/file.c
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/socket.h
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/timer.c
  src/main/host/descriptor/transport.c
  src/main/host/descriptor/transport.h
  src/main/host/descriptor/udp.c
  src/main/host/process.c
  src/main/host/syscall/file.c
  src/main/host/syscall/fileat.c
  src/main/host/syscall/unistd.c
Labels: Type: Enhancement, Component: Main, Component: Build

#1661 Re-enable pipe tests
  src/test/pipe/test_pipe.rs
Labels: Component: Testing

#1658 Improve error messages before logger is initialized
  src/main/core/main.rs
Labels: Component: Main

#1654 Moved the process descriptor functions to rust
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
Labels: Type: Maintenance, Component: Main, Component: Build

#1664 Don't panic on non-unicode env vars
  src/main/core/main.rs
Labels: Component: Main

#1655 Updated syscall handlers to use rust descriptor lookup
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/descriptor.c
  src/main/host/syscall/fcntl.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall/unistd.c
  src/main/host/syscall/unistd.h
  src/main/host/syscall/unistd.rs
Labels: Type: Enhancement, Component: Main

#1665 Return replaced descriptor from 'descriptortable_set()'
  src/main/bindings/c/bindings.h
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/process.c
Labels: Component: Main

#1667 Renamed 'FileStatus' to 'FileState' and 'FileFlags' to 'FileStatus'
  src/main/bindings/c/bindings.h
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/syscall/fcntl.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall/unistd.rs
Labels: Component: Main

#1660 Remove file from epoll interest list when closed
  src/main/host/descriptor/epoll.c
Labels: Component: Main

#1668 Updated tor versions for CI tests
  .github/workflows/run_tor.yml
Labels: Component: Testing

#1671 Fixes #1670. Allows absolute paths to be specified as the data directory
  src/main/core/manager.c
Labels: Component: Main

#1666 Added dup2() and dup3() support for rust descriptors
  src/main/bindings/c/bindings.h
  src/main/host/descriptor/mod.rs
  src/main/host/syscall/unistd.rs
  src/main/host/syscall_handler.c
  src/test/CMakeLists.txt
  src/test/Cargo.toml
  src/test/dup/CMakeLists.txt
  src/test/dup/dup.yaml
  src/test/dup/test_dup.rs
  src/test/pipe/test_pipe.rs
Labels: Type: Enhancement, Component: Testing, Component: Main, Component: Build

#1676 Update openssl determinism docs
  docs/getting_started_tor.md
Labels: Component: Documentation

#1677 Downgrade clap version to fix mismatched heading bug
  src/main/Cargo.lock
  src/main/Cargo.toml
Labels: Type: Bug, Component: Main, Component: Build

#1669 Handle file access and creation flags in fcntl()
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/syscall/fcntl.rs
Labels: Type: Bug, Component: Main

#1678 Improve access mode flag handling
  src/main/host/descriptor/mod.rs
  src/main/host/syscall/fcntl.rs
Labels: Type: Maintenance, Component: Main

#1680 Support more fcntl() options
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/process.rs
  src/main/host/syscall/fcntl.rs
  src/main/host/syscall/mod.rs
  src/test/dup/test_dup.rs
  src/test/pipe/test_pipe.rs
Labels: Type: Enhancement, Component: Testing, Component: Main

#1673 Improved error message when assigning IP more than once
  src/main/routing/network_graph.rs
Labels: Component: Main

#1681 Use self-loops for paths from a graph node to itself
  docs/network_graph_overview.md
  docs/network_graph_spec.md
  src/main/routing/network_graph.rs
Labels: Type: Enhancement, Component: Main, Component: Documentation

#1686 Fix some panics caused by invalid user input
  src/main/bindings/c/bindings.h
  src/main/core/controller.c
  src/main/core/manager.c
  src/main/core/support/configuration.rs
  src/main/host/process.c
  src/main/routing/network_graph.rs
Labels: Type: Bug, Component: Main

#1687 Filter flags in fcntl() F_SETFL
  src/main/host/syscall/fcntl.rs
Labels: Type: Maintenance, Component: Main
