Repository shadow/shadow, pull requests merged in 2021-10, with the labels that each got.

#1692 Check that the process path is an executable file
  src/main/core/support/configuration.rs
Labels: Type: Bug, Component: Main

#1696 Updated 'raise_rlimit()' to use nix functions
  src/main/core/main.rs
Labels: Type: Maintenance, Component: Main

#1697 poll and epoll: wait for timeout even with no fd's
  src/main/host/syscall/poll.c
  src/test/poll/test_poll.rs
Labels: Component: Testing, Component: Main

#1689 Some refactoring in the shim
  docs/developer_guide.md
  docs/shadow_config_spec.md
  src/lib/CMakeLists.txt
  src/lib/injector_preload/CMakeLists.txt
  src/lib/injector_preload/injector.c
  src/lib/libc_preload/CMakeLists.txt
  src/lib/libc_preload/gen_syscall_wrappers_c.py
  src/lib/libc_preload/interpose.h
  src/lib/libc_preload/libc_impls.c
  src/lib/libc_preload/libcall_wrappers.c
  src/lib/libc_preload/syscall_wrappers.c
  src/lib/openssl_preload/CMakeLists.txt
  src/lib/openssl_preload/shadow_openssl_rng.c
  src/lib/shim/CMakeLists.txt
  src/lib/shim/preload_syscall.c
  src/lib/shim/preload_syscall.h
  src/lib/shim/preload_syscalls.c
  src/lib/shim/shadow_spinlock.c
  src/lib/shim/shim.c
  src/lib/shim/shim_api.h
  src/lib/shim/shim_api_addrinfo.c
  src/lib/shim/shim_api_ifaddrs.c
  src/lib/shim/shim_api_syscall.c
  src/lib/shim/shim_event.c
  src/lib/shim/shim_logger.c
  src/lib/shim/shim_sys.c
  src/lib/shim/shim_sys.h
  src/lib/shim/shim_syscall.c
  src/lib/shim/shim_syscall.h
  src/lib/shim/shim_tls.c
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings.h
  src/main/core/manager.c
  src/main/core/support/configuration.rs
Labels: Component: Libraries, Type: Maintenance, Component: Main, Component: Build, Component: Documentation

#1701 Fix pread and pwrite with offset 0
  src/main/host/descriptor/file.c
  src/main/host/syscall/unistd.c
  src/test/file/test_file.c
Labels: Component: Testing, Component: Main

#1702 Fix nix deprecation warning
  src/test/ifaddrs/test_ifaddrs.rs
Labels: Type: Maintenance, Component: Testing
