Repository shadow/shadow, pull requests merged in 2021-07, with the labels that each got.

#1493 Disassociate sockets from interface when stopping process
  src/main/bindings/c/bindings.h
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/process.c
  src/test/Cargo.toml
  src/test/socket/bind/CMakeLists.txt
  src/test/socket/bind/bind_in_new_process.yaml
  src/test/socket/bind/test_bind_in_new_process.rs
Labels: Component: Build, Component: Main, Component: Testing, Type: Bug

#1496 Fixed socket disassociation when a process ends without 'stop_time'
  src/main/host/process.c
  src/test/socket/bind/bind_in_new_process.yaml
Labels: Component: Main, Component: Testing

#1475 interpose-method=preload thread support
  .dockerignore
  .gitignore
  src/lib/shim/CMakeLists.txt
  src/lib/shim/preload_syscall.c
  src/lib/shim/preload_syscall.h
  src/lib/shim/shadow_spinlock.c
  src/lib/shim/shadow_spinlock.h
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/shim_event.h
  src/lib/shim/shim_logger.c
  src/lib/shim/shim_tls.c
  src/lib/shim/shim_tls.h
  src/main/host/thread_preload.c
  src/test/clone/CMakeLists.txt
  src/test/determinism/CMakeLists.txt
  src/test/determinism/test_determinism.c
  src/test/socket/sendto_recvfrom/CMakeLists.txt
  src/test/threads/CMakeLists.txt
Labels: Component: Build, Component: Libraries, Component: Main, Component: Testing

#1492 Fix and enable preload mode for Tor test
  src/main/host/syscall/signal.c
  src/test/CMakeLists.txt
  src/test/tor/minimal/CMakeLists.txt
Labels: Component: Build, Component: Libraries, Component: Main, Component: Testing

#1499 _syscallhandler_validateVecParams: verify user pointer
  src/main/host/syscall/uio.c
Labels: Component: Main, Type: Bug

#1498 Added mdbook support for docs
  README.md
  docs/SUMMARY.md
  docs/developer_guide.md
  docs/shadow.md
  mdbook/book.toml
  mdbook/custom.css
Labels: Component: Documentation

#1497 Add check for milestone on PRs
  .github/workflows/pr_metadata.yml
Labels: Component: Tools

#1505 Change support from CentOS 8 to CentOS Stream 8
  .github/workflows/run_tests.yml
  ci/container_scripts/install_deps.sh
  ci/container_scripts/install_extra_deps.sh
  ci/run.sh
  docs/install_dependencies.md
  docs/supported_platforms.md
Labels: Component: Documentation, Component: Testing

#1500 Fixed bug when using AT_FDCWD
  src/main/host/descriptor/file.c
  src/main/host/descriptor/file.h
  src/main/host/syscall/fileat.c
  src/test/file/test_file.c
Labels: Component: Main, Component: Testing

#1504 Preload death
  src/lib/logger/log_level.h
  src/lib/logger/rust_bindings/src/bindings.rs
  src/lib/shim/binary_spinning_sem.cc
  src/lib/shim/ipc.cc
  src/lib/shim/ipc.h
  src/lib/shim/shim.c
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/host/descriptor/mod.rs
  src/main/host/process.c
  src/main/host/thread_preload.c
  src/main/utility/childpid_watcher.rs
  src/main/utility/mod.rs
  src/test/CMakeLists.txt
  src/test/Cargo.toml
  src/test/determinism/test_determinism.c
  src/test/exit/CMakeLists.txt
  src/test/exit/exit.yaml
  src/test/exit/test_exit.rs
Labels: Component: Build, Component: Libraries, Component: Main, Component: Testing

#1511 childpid watcher: retry on EINTR
  src/main/utility/childpid_watcher.rs
Labels: Component: Main, Type: Bug

#1512 Update nix
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/host/descriptor/pipe.rs
  src/main/host/memory_manager/memory_copier.rs
  src/main/host/syscall/unistd.rs
  src/main/host/syscall_types.rs
  src/main/utility/childpid_watcher.rs
  src/main/utility/syscall.rs
  src/test/eventfd/test_eventfd.rs
Labels: Component: Build, Component: Main, Component: Testing

#1513 Added documentation for the 'bootstrap_end_time' option
  docs/shadow_config_spec.md
  src/main/core/support/configuration.rs
Labels: Component: Documentation, Component: Main

#1510 spec-store-bypass: add a warning and documentation
  docs/README.md
  docs/SUMMARY.md
  docs/security.md
  docs/sidechannels.md
  src/main/core/main.c
Labels: Component: Documentation, Component: Main

#1516 Remove support for hybrid mode
  ci/container_scripts/test.sh
  docs/shadow_config_spec.md
  src/lib/shim/shim.c
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/manager.c
  src/main/core/support/configuration.rs
  src/main/host/process.c
  src/main/host/syscall/shadow.c
  src/main/host/thread_ptrace.c
  src/main/host/thread_ptrace.h
  src/test/CMakeLists.txt
  src/test/bindc/CMakeLists.txt
  src/test/clone/CMakeLists.txt
  src/test/config/read_from_stdin/CMakeLists.txt
  src/test/cpp/CMakeLists.txt
  src/test/determinism/CMakeLists.txt
  src/test/epoll/CMakeLists.txt
  src/test/eventfd/CMakeLists.txt
  src/test/exit/CMakeLists.txt
  src/test/file/CMakeLists.txt
  src/test/futex/CMakeLists.txt
  src/test/ifaddrs/CMakeLists.txt
  src/test/memory/CMakeLists.txt
  src/test/phold/CMakeLists.txt
  src/test/pipe/CMakeLists.txt
  src/test/poll/CMakeLists.txt
  src/test/random/CMakeLists.txt
  src/test/signal/CMakeLists.txt
  src/test/sleep/CMakeLists.txt
  src/test/sockbuf/CMakeLists.txt
  src/test/socket/accept/CMakeLists.txt
  src/test/socket/bind/CMakeLists.txt
  src/test/socket/connect/CMakeLists.txt
  src/test/socket/getpeername/CMakeLists.txt
  src/test/socket/getsockname/CMakeLists.txt
  src/test/socket/ioctl/CMakeLists.txt
  src/test/socket/listen/CMakeLists.txt
  src/test/socket/sendto_recvfrom/CMakeLists.txt
  src/test/socket/shutdown/CMakeLists.txt
  src/test/socket/socket/CMakeLists.txt
  src/test/socket/socketpair/CMakeLists.txt
  src/test/socket/sockopt/CMakeLists.txt
  src/test/tcp/CMakeLists.txt
  src/test/threads/CMakeLists.txt
  src/test/timerfd/CMakeLists.txt
  src/test/tor/minimal/CMakeLists.txt
  src/test/udp/CMakeLists.txt
  src/test/unistd/CMakeLists.txt
Labels: Component: Build, Component: Documentation, Component: Libraries, Component: Main, Component: Testing

#1514 Use write instead of fwrite_unlocked in shim logger
  src/lib/shim/shim_logger.c
Labels: Component: Libraries, Type: Bug

#1515 Rdtsc in preload mode
  src/lib/CMakeLists.txt
  src/lib/shim/CMakeLists.txt
  src/lib/shim/shim.c
  src/lib/tsc/CMakeLists.txt
  src/lib/tsc/tsc.c
  src/lib/tsc/tsc.h
  src/lib/tsc/tsc_test.c
  src/main/CMakeLists.txt
  src/main/host/syscall/signal.c
  src/main/host/thread_ptrace.c
  src/main/host/tsc.c
  src/main/host/tsc_test.c
Labels: Component: Build, Component: Libraries, Component: Main

#1518 Added an environment variable test
  src/test/CMakeLists.txt
  src/test/Cargo.toml
  src/test/environment/CMakeLists.txt
  src/test/environment/environment.yaml
  src/test/environment/test_env.rs
Labels: Component: Build, Component: Testing

#1521 Tsc tweaks
  src/lib/logger/logger.c
  src/lib/tsc/tsc.c
  src/lib/tsc/tsc_test.c
Labels: Component: Libraries

#1517 Openssl drbg
  docs/getting_started_tor.md
  src/lib/CMakeLists.txt
  src/lib/openssl_preload/CMakeLists.txt
  src/lib/openssl_preload/shadow_openssl_rng.c
  src/test/tor/minimal/tor-minimal.yaml
Labels: Component: Build, Component: Documentation, Component: Libraries, Component: Testing

#1524 TSC: Use CPU model map to find crystal frequency
  src/lib/tsc/tsc.c
Labels: Component: Libraries, Type: Bug

#1527 logger bugfix: Enforce log levels
  src/lib/logger/logger.c
Labels: Component: Libraries

#1528 Simplify packet_addDeliveryStatus logging level+logic
  src/main/routing/packet.c
Labels: Component: Main

#1529 Graceful exit when program path doesn't exist
  src/main/bindings/c/bindings.h
  src/main/core/controller.c
  src/main/core/support/configuration.rs
Labels: Component: Main

#1530 Improvements for preloading libraries
  docs/shadow_config_spec.md
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings.h
  src/main/core/manager.c
  src/main/core/support/configuration.rs
Labels: Component: Build, Component: Documentation, Component: Main, Type: Enhancement

#1531 Doc wording tweak
  README.md
Labels: Component: Documentation, Type: Maintenance

#1533 Disable circuit build timeout learning in tor-minimal test
  src/test/tor/minimal/conf/tor.common.torrc
Labels: Component: Testing

#1311 Support Fedora 34 instead of 33
  .github/workflows/run_tests.yml
  ci/run.sh
  docs/ci.md
  docs/install_dependencies.md
  docs/supported_platforms.md
Labels: Component: Documentation, Component: Testing, Type: Maintenance

#1453 Bump Tor versions in the CI
  .github/workflows/run_tor.yml
Labels: Component: Testing, Type: Maintenance

#1535 Set errno with appropriate value in _getaddrinfo_service
  src/lib/shim/preload_libraries.c
Labels: Component: Libraries

#1539 ChildPidWatcher: remove dependence on pidfd_open
  src/main/bindings/c/bindings.h
  src/main/host/thread_preload.c
  src/main/utility/childpid_watcher.rs
Labels: Component: Main

#1536 Adding notes to system config docs on how to increase process limits
  docs/system_configuration.md
Labels: Component: Documentation, Type: Maintenance

#1544 Support 'epoll_pwait' syscall when given a NULL sigmask
  src/main/host/syscall/epoll.c
  src/main/host/syscall/epoll.h
  src/main/host/syscall_handler.c
Labels: Component: Main

#1541 Removed ld_preload env from tor minimal test
  src/test/tor/minimal/tor-minimal.yaml
Labels: Component: Testing

#1546 Added 'G_DEBUG=fatal-criticals' to tests
  src/test/CMakeLists.txt
Labels: Component: Build, Component: Testing

#1547 Increase RLIMIT_NPROC to hard limit
  src/main/core/main.c
Labels: Component: Main
