Repository shadow/shadow, pull requests merged in 2021-04, with the labels that each got.

#1242 thread_ptrace: Make shutdown more robust
  src/main/host/process.c
  src/main/host/thread_ptrace.c
Labels: Component: Main, Type: Bug

#1245 Add a shadow-specific name lookup syscall
  src/main/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/shadow.c
  src/main/host/syscall/shadow.h
  src/main/host/syscall_handler.c
  src/main/host/syscall_numbers.h
  src/main/host/thread.c
  src/main/host/thread.h
  src/main/host/thread_preload.c
  src/main/host/thread_protected.h
  src/main/host/thread_ptrace.c
  src/main/host/thread_ptrace.h
  src/shim/preload_libraries.c
  src/shim/preload_syscall.c
  src/shim/shim_event.c
  src/shim/shim_event.h
  src/shim/shim_syscall.c
Labels: Component: Libraries, Component: Main, Tag: Performance, Type: Enhancement

#1246 Do not use subroutine execution timers by default
  CMakeLists.txt
  setup
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler_policy_host_single.c
  src/main/core/scheduler/scheduler_policy_host_steal.c
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/process.c
  src/main/routing/topology.c
Labels: Component: Main, Type: Maintenance

#1210 Remove the default value for '--data-template' and stop auto-deleting the data directory
  src/main/core/controller.c
  src/main/core/manager.c
  src/main/core/support/options.c
  src/test/CMakeLists.txt
  src/test/config/convert/CMakeLists.txt
Labels: Component: Main, Type: Maintenance

#1238 Decouple # of worker threads from max concurrency
  src/main/CMakeLists.txt
  src/main/core/logical_processor.c
  src/main/core/logical_processor.h
  src/main/core/manager.c
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler.h
  src/main/core/support/definitions.h
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/routing/packet.c
  src/main/utility/utility.h
Labels: Component: Main, Tag: Performance, Type: Enhancement

#1234 Switch from lazy_static to once_cell
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/utility/proc_maps.rs
Labels: Component: Main, Type: Maintenance

#1254 Support Fedora 33 instead of 32
  .github/workflows/run_tests.yml
  ci/run.sh
  docs/1.1-Shadow.md
  docs/ci.md
Labels: Component: Testing, Type: Maintenance

#1258 Remove inter-round collect info step in scheduler
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler_policy_host_steal.c
  src/main/core/worker.c
  src/main/core/worker.h
Labels: Component: Main, Type: Maintenance

#1259 Merge main dev
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler_policy_host_steal.c
  src/main/core/worker.c
  src/main/core/worker.h
Labels: Component: Main, Type: Maintenance

#1256 Small changes to GitHub workflows
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/git.yml
  .github/workflows/lint.yml
  .github/workflows/run_tests.yml
  .github/workflows/run_tor.yml
Labels: Component: Testing, Priority: Low, Type: Maintenance

#1257 Fix descriptor bugs and support dup() on regular files for Python
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/file.c
  src/main/host/descriptor/file.h
  src/main/host/process.c
  src/main/host/syscall/file.c
  src/main/host/syscall/fileat.c
  src/main/host/syscall/timerfd.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall/unistd.rs
  src/test/file/test_file.c
Labels: Component: Main

#1267 Make getaddrinfo return DGRAM sockets if requested
  src/main/host/process.c
Labels: Component: Main, Type: Bug

#1270 Removed the TCP congestion control option
  src/main/core/support/options.c
  src/main/core/support/options.h
  src/main/host/descriptor/tcp.c
Labels: Component: Main, Priority: Low, Type: Maintenance

#1276 Quiet output of grep when building tor test
  src/test/tor/minimal/CMakeLists.txt
Labels: Component: Testing, Priority: Low, Type: Maintenance

#1266 better parameters handling - handles quotes as well
  src/main/host/process.c
Labels: Type: Bug

#1283 test_futex: loop to avoid race conditions when run natively
  src/test/futex/test_futex.c
Labels: Component: Testing, Type: Bug

#1282 Don't use Cargo config.toml to set build target directory
  src/main/.cargo/config.toml
  src/main/CMakeLists.txt
  src/test/.cargo/config.toml
  src/test/CMakeLists.txt
Labels: Component: Build, Type: Maintenance

#1288 Fix rustdoc warnings
  src/main/utility/interval_map.rs
  src/main/utility/proc_maps.rs
Labels: Component: Documentation, Priority: Low, Type: Maintenance

#1286 Added a Rust wrapper for parsing cli args using GLib
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/mod.rs
  src/main/core/support/configuration.rs
  src/main/core/support/mod.rs
  src/main/host/process.c
  src/main/host/process.h
Labels: Component: Main, Type: Enhancement

#1285 Moved the InterposeMethod and QDiscMode enums to Rust
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/cbindgen-opaque.toml
  src/main/bindings/c/cbindgen.toml
  src/main/core/manager.c
  src/main/core/support/configuration.rs
  src/main/core/support/options.c
  src/main/core/support/options.h
  src/main/host/network_interface.c
  src/main/host/process.c
  src/main/host/syscall/shadow.c
Labels: Component: Main, Type: Enhancement

#1289 max-concurrency: Fix backwards error message
  src/main/core/scheduler/scheduler.c
Labels: Component: Main, Type: Bug

#1277 Safe PluginPtr APIs for Rust
  src/main/bindings/c/cbindgen.toml
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/mod.rs
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
  src/main/host/descriptor/channel.c
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/memory_manager.rs
  src/main/host/mod.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
  src/main/host/syscall/clone.c
  src/main/host/syscall/epoll.c
  src/main/host/syscall/fcntl.c
  src/main/host/syscall/file.c
  src/main/host/syscall/fileat.c
  src/main/host/syscall/futex.c
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/mod.rs
  src/main/host/syscall/poll.c
  src/main/host/syscall/process.c
  src/main/host/syscall/random.c
  src/main/host/syscall/shadow.c
  src/main/host/syscall/socket.c
  src/main/host/syscall/sysinfo.c
  src/main/host/syscall/time.c
  src/main/host/syscall/timerfd.c
  src/main/host/syscall/uio.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall/unistd.rs
  src/main/host/syscall_condition.rs
  src/main/host/syscall_types.rs
  src/main/host/thread.c
  src/main/host/thread.h
  src/main/host/thread_preload.c
  src/main/host/thread_protected.h
  src/main/host/thread_ptrace.c
  src/main/routing/payload.c
  src/main/utility/mod.rs
  src/main/utility/pod.rs
Labels: Component: Main, Type: Enhancement

#1290 thread_ptrace: use unbuffered IO by default
  src/main/host/thread_ptrace.c
Labels: Component: Main, Type: Enhancement

#1280 ByteQueue: Avoid unnecessary initialization, and take Read objs
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/process.rs
  src/main/host/syscall/unistd.rs
  src/main/host/syscall_types.rs
  src/main/utility/byte_queue.rs
  src/main/utility/mod.rs
  src/main/utility/stream_len.rs
Labels: Component: Main, Type: Enhancement

#1292 fixed markdown typo in docs
  docs/1.2-Shadow-with-Docker.md
Labels: Component: Documentation, Type: Maintenance

#1298 Removed deprecated 'geocode' config/topology option
  src/main/core/controller.c
  src/main/core/support/configuration.c
  src/main/core/support/configuration.h
  src/main/host/host.c
  src/main/host/host.h
  src/main/routing/topology.c
  src/main/routing/topology.h
Labels: Component: Main, Type: Maintenance

#1299 Fix error detection in topology parsing
  src/main/routing/topology.c
Labels: Component: Main, Type: Bug

#1293 Adds a module to disable plugin ASLR
  src/main/CMakeLists.txt
  src/main/core/main.c
  src/main/utility/disable_aslr.c
  src/main/utility/disable_aslr.h
Labels: Component: Main, Priority: Low, Type: Enhancement

#1300 Added value unit/prefix parsing and conversion
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/bindings/c/bindings.h
  src/main/core/support/mod.rs
  src/main/core/support/units.rs
Labels: Component: Main, Type: Enhancement

#1305 Remove unused '--interface-batch' option
  src/main/core/support/options.c
Labels: Component: Main, Type: Maintenance

#1304 Remove the 'preload' option
  src/main/core/controller.c
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/support/configuration.c
  src/main/core/support/configuration.h
Labels: Component: Main, Type: Maintenance

#1306 Rename some variables used for experimental options
  src/main/core/main.c
  src/main/core/worker.c
  src/main/host/process.c
  src/main/host/shimipc.c
Labels: Component: Main, Type: Maintenance

#1313 Added support for ioctl tty requests such as TCGETS
  src/main/host/syscall/ioctl.c
  src/test/Cargo.toml
  src/test/file/test_file.c
  src/test/socket/CMakeLists.txt
  src/test/socket/ioctl/CMakeLists.txt
  src/test/socket/ioctl/ioctl.yaml
  src/test/socket/ioctl/test_ioctl.rs
Labels: Component: Main, Type: Enhancement
