Repository shadow/shadow, pull requests merged in 2021-01, with the labels that each got.

#1043 Provide a Dockerfile that runs the CI scripts
  .github/workflows/docker.yml
  Dockerfile
  docs/1.2-Shadow-with-Docker.md
Labels: Component: Build, Status: Accepted, Type: Enhancement

#1066 Tests and support for eventfd syscall
  src/main/CMakeLists.txt
  src/main/core/support/object_counter.c
  src/main/core/support/object_counter.h
  src/main/host/descriptor/descriptor_types.h
  src/main/host/descriptor/eventd.c
  src/main/host/descriptor/eventd.h
  src/main/host/syscall/eventfd.c
  src/main/host/syscall/eventfd.h
  src/main/host/syscall/unistd.c
  src/main/host/syscall_handler.c
  src/shim/preload_syscalls.c
  src/test/CMakeLists.txt
  src/test/Cargo.toml
  src/test/eventfd/CMakeLists.txt
  src/test/eventfd/eventfd.shadow.config.yaml
  src/test/eventfd/test_eventfd.rs
  src/test/leakcheck.log
Labels: Component: Main, Priority: Medium, Type: Enhancement

#1049 Port pthreads tests to Rust
  src/test/Cargo.toml
  src/test/pthreads/CMakeLists.txt
  src/test/pthreads/pthreads.test.shadow.config.yaml
  src/test/pthreads/test_pthreads.c
  src/test/pthreads/test_pthreads.rs
Labels: Component: Testing, Status: Accepted, Type: Maintenance

#1069 Add 'cargo fmt' to coding style docs
  docs/coding-style.md
Labels: Component: Documentation, Priority: Low, Status: Accepted, Type: Maintenance

#1072 Set the plugin's stdin as /dev/null
  src/main/host/process.c
  src/test/socket/accept/test_accept.rs
  src/test/socket/bind/test_bind.rs
  src/test/socket/connect/test_connect.rs
  src/test/socket/getpeername/test_getpeername.rs
  src/test/socket/getsockname/test_getsockname.rs
  src/test/socket/listen/test_listen.rs
  src/test/socket/sendto_recvfrom/test_sendto_recvfrom.rs
  src/test/socket/shutdown/test_shutdown.rs
Labels: Component: Main, Type: Enhancement

#1073 fix epoll bug
  src/main/host/descriptor/epoll.c
Labels: Component: Main, Type: Bug

#1071 Add support for the dup() syscall
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/host/syscall/unistd.c
  src/main/host/syscall/unistd.h
  src/main/host/syscall/unistd.rs
  src/main/host/syscall_handler.c
  src/shim/preload_syscalls.c
  src/test/pipe/test_pipe.rs
Labels: Component: Main, Type: Enhancement

#1077 Added ctags index file to gitignore
  .gitignore
Labels: Component: Tools, Priority: Low

#1080 Add preload and test for getifaddrs
  src/shim/preload_libraries.c
  src/test/CMakeLists.txt
  src/test/Cargo.toml
  src/test/ifaddrs/CMakeLists.txt
  src/test/ifaddrs/ifaddrs.test.shadow.config.yaml
  src/test/ifaddrs/test_ifaddrs.rs
Labels: Component: Libraries, Type: Enhancement
