Repository shadow/shadow, pull requests merged in 2021-11, with the labels that each got.

#1757 Fix coverage tests
  src/main/CMakeLists.txt
  src/test/CMakeLists.txt
Labels: Type: Bug, Component: Testing, Component: Main, Component: Build

#1758 Upgrade codecov uploader to v2
  .github/workflows/coverage.yml
Labels: Component: Testing

#1759 Upgrade Cargo packages
  src/main/Cargo.lock
  src/test/Cargo.lock
Labels: Type: Maintenance, Component: Testing, Component: Main, Component: Build

#1773 Fix eventfd syscall wrapper
  src/lib/libc_preload/gen_syscall_wrappers_c.py
  src/lib/libc_preload/syscall_wrappers.c
  src/main/host/syscall/eventfd.c
Labels: Component: Libraries, Component: Main

#1774 Add ioctl() to Rust descriptors, and convert eventfd from C to Rust
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/eventd.c
  src/main/host/descriptor/eventd.h
  src/main/host/descriptor/eventfd.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/syscall/eventfd.c
  src/main/host/syscall/eventfd.h
  src/main/host/syscall/eventfd.rs
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/ioctl.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall/unistd.c
  src/main/host/syscall_handler.c
  src/main/host/syscall_types.rs
Labels: Component: Main, Component: Build

#1775 Improve pipes
  src/main/bindings/c/bindings.h
  src/main/host/descriptor/pipe.rs
  src/main/host/syscall/unistd.rs
  src/main/utility/byte_queue.rs
  src/test/pipe/test_pipe.rs
Labels: Type: Bug, Type: Maintenance, Component: Testing, Component: Main

#1779 Move SharedBuf to a new module/file
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/shared_buf.rs
  src/main/host/syscall/unistd.rs
Labels: Type: Maintenance, Component: Main

#1786 Improved socket tests and small bug fixes
  src/main/host/syscall/socket.c
  src/test/socket/getpeername/test_getpeername.rs
  src/test/socket/getsockname/test_getsockname.rs
  src/test/socket/sendto_recvfrom/test_sendto_recvfrom.rs
  src/test/socket/shutdown/test_shutdown.rs
  src/test/socket_utils.rs
  src/test/test_utils.rs
Labels: Type: Enhancement, Component: Testing, Component: Main

#1787 Add unnamed unix sockets created with socketpair()
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/channel.c
  src/main/host/descriptor/channel.h
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor_types.h
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/shared_buf.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/descriptor/transport.c
  src/main/host/host.c
  src/main/host/process.c
  src/main/host/syscall/mod.rs
  src/main/host/syscall/socket.c
  src/main/host/syscall/socket.rs
  src/main/host/syscall/uio.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall/unistd.rs
  src/main/host/syscall_handler.c
  src/main/host/syscall_types.rs
  src/test/socket/getpeername/test_getpeername.rs
  src/test/socket/getsockname/test_getsockname.rs
  src/test/socket/sendto_recvfrom/test_sendto_recvfrom.rs
Labels: Type: Enhancement, Component: Testing, Component: Main, Component: Build

#1793 Document libopenblas deadlock issues and workaround
  docs/README.md
  docs/SUMMARY.md
  docs/libopenblas.md
  src/test/tor/minimal/tor-minimal.yaml
Labels: Component: Testing, Component: Documentation
