Repository shadow/shadow, pull requests merged in 2021-03, with the labels that each got.

#1131 Use test macros in phold and timerfd tests, fix bugs
  src/main/host/descriptor/timer.c
  src/test/CMakeLists.txt
  src/test/config/CMakeLists.txt
  src/test/determinism/determinism2.test.shadow.config.yaml
  src/test/phold/CMakeLists.txt
  src/test/phold/phold-parallel.yaml
  src/test/phold/phold-serial.yaml
  src/test/phold/phold.yaml
  src/test/phold/test_phold.c
  src/test/socket/CMakeLists.txt
  src/test/timerfd/CMakeLists.txt
  src/test/timerfd/test_timerfd.c
  src/test/timerfd/timerfd.yaml
Labels: Component: Testing, Type: Maintenance

#1128 Ptrace vfork
  CMakeLists.txt
  src/main/host/thread_ptrace.c
Labels: Component: Main

#1138 Remove incorrect negation of clone cleartid flag
  src/main/host/syscall/clone.c
Labels: Component: Main, Type: Bug

#1132 No need for shadow to notify plugin that shmem operations are done
  src/main/host/thread_preload.c
  src/shim/preload_syscall.c
Labels: Component: Main

#1142 Moved leak check tests to the 'add_shadow_tests' macro
  src/test/CMakeLists.txt
  src/test/leakcheck-compare.sh
  src/test/leakcheck-grep.sh
  src/test/leakcheck.log
Labels: Component: Testing, Priority: Low, Type: Enhancement

#1151 Disabled coverage tests in CI
  .github/workflows/run_tests.yml
Labels: Component: Testing

#1153 Re-enable the coverage tests
  .github/workflows/ci_maintenance.yaml
  .github/workflows/run_tests.yml
  ci/container_scripts/build_and_install.sh
  ci/container_scripts/install_extra_deps.sh
Labels: Component: Testing, Priority: Low, Type: Maintenance

#1159 Use number of system CPU cores for number of test jobs
  setup
Labels: Component: Testing, Priority: Low, Type: Maintenance

#1154 Do not use subroutine execution timers by default
  CMakeLists.txt
  setup
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler_policy_host_single.c
  src/main/core/scheduler/scheduler_policy_host_steal.c
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/process.c
  src/main/host/syscall/protected.h
  src/main/host/syscall_handler.c
  src/main/routing/topology.c
Labels: Component: Main, Tag: Performance, Type: Enhancement

#1160 Added more thorough checks to sendto-recvfrom test
  src/test/Cargo.lock
  src/test/Cargo.toml
  src/test/socket/sendto_recvfrom/test_sendto_recvfrom.rs
Labels: Component: Testing, Priority: Low, Type: Enhancement

#1163 Use a unique file name in poll tests
  src/test/file/CMakeLists.txt
  src/test/memory/CMakeLists.txt
  src/test/poll/CMakeLists.txt
  src/test/poll/poll.yaml
  src/test/poll/test_poll.rs
Labels: Component: Testing, Type: Bug

#1164 Disable the codecov status checks
  codecov.yml
Labels: Component: Testing

#1165 Add option to disable the MemoryManager
  src/main/host/process.c
  src/main/host/syscall/file.c
  src/main/host/syscall/mman.c
  src/main/host/syscall_handler.c
Labels: Component: Main, Type: Bug

#1145 Improve rust syscalls/descriptors
  src/main/bindings/c/bindings.h
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/syscall/unistd.rs
  src/main/host/syscall_handler.c
  src/main/utility/byte_queue.rs
Labels: Component: Main, Type: Maintenance

#1143 Fork from a proxy thread
  src/main/CMakeLists.txt
  src/main/host/thread_ptrace.c
  src/main/utility/fork_proxy.c
  src/main/utility/fork_proxy.h
Labels: Component: Main, Tag: Performance, Type: Enhancement

#1169 Miscellaneous bugfixes for running tor
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/tcp.h
  src/main/host/futex.c
  src/main/host/syscall/clone.c
  src/main/host/syscall/epoll.c
  src/main/host/syscall/futex.c
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/protected.h
Labels: Component: Main, Type: Bug

#1171 thread_ptrace: Use __WNOTHREAD when calling waitpid
  src/main/host/thread_ptrace.c
Labels: Component: Main, Tag: Performance, Type: Bug

#1172 Remove antiquated names
  docs/1.1-Shadow.md
  docs/2-Getting-Started-Tutorial.md
  docs/3.3-TGen-Config.md
  docs/maintainer-playbook.md
  docs/pull-requests.md
  src/main/CMakeLists.txt
  src/main/core/controller.c
  src/main/core/controller.h
  src/main/core/main.c
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/master.c
  src/main/core/master.h
  src/main/core/slave.c
  src/main/core/slave.h
  src/main/core/work/event.h
  src/main/core/work/message.h
  src/main/core/work/task.h
  src/main/core/worker.c
  src/main/host/host.c
  src/test/dynlink/test_dynlink.c
  src/tools/parse-shadow.py
Labels: Component: Main, Priority: Low, Type: Maintenance

#1173 Remove unnecessary string in tcp test
  src/test/tcp/test_tcp.c
Labels: Component: Testing

#1176 Update bindgen/cbindgen versions in CI
  .github/workflows/lint.yml
  src/main/bindings/c/bindings.h
Labels: Component: Main

#1144 Support multiple socket types in the network interface
  CMakeLists.txt
  src/main/CMakeLists.txt
  src/main/host/descriptor/compat_socket.c
  src/main/host/descriptor/compat_socket.h
  src/main/host/descriptor/socket.c
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/network_interface.c
  src/main/host/network_interface.h
  src/main/host/network_queuing_disciplines.c
  src/main/host/network_queuing_disciplines.h
  src/main/host/process.c
  src/main/host/syscall/socket.c
  src/main/routing/packet.c
  src/main/routing/packet.h
  src/main/utility/tagged_ptr.c
  src/main/utility/tagged_ptr.h
  src/support/logger/logger.h
  src/test/phold/CMakeLists.txt
  src/test/phold/phold-rr-qdisc.yaml
Labels: Component: Main, Type: Enhancement

#1177 Merge main into dev
  src/test/tcp/test_tcp.c
Labels: Component: Testing

#1179 Small ioctl and sendto bug fixes, and implement FIONBIO for Nginx
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor.h
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/socket.c
Labels: Component: Main, Priority: Low

#1183 Improvements to the CompatDescriptor
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/descriptor_table.c
  src/main/host/descriptor/descriptor_table.h
  src/main/host/descriptor/mod.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/unistd.rs
Labels: Component: Main

#1189 Strip topology whitespace when converting from xml to yaml
  src/test/config/convert/CMakeLists.txt
  src/test/config/convert/shadow.config.xml
  src/test/config/convert/xml2yaml.yaml
  src/test/config/convert/yaml2xml.xml
  src/tools/convert.py
Labels: Component: Tools, Priority: Low, Type: Enhancement

#1187 Added Rust wrappers around process_get*Ptr() functions
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall/unistd.rs
Labels: Component: Main, Type: Maintenance

#1200 Added placeholder 'run_tor.yml' workflow
  .github/workflows/run_tor.yml
Labels: Component: Testing, Type: Maintenance

#1203 Merge main -> dev
  .github/workflows/run_tor.yml
Labels: Component: Testing, Type: Maintenance

#1202 Removed the second test run with '--rerun-failed' in CI script
  ci/container_scripts/test.sh
Labels: Component: Testing, Type: Maintenance

#1206 Fix bug in objectcounter_leakDetected()
  src/main/core/support/object_counter.c
Labels: Component: Main, Type: Bug

#1205 Count syscalls
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/host/syscall/protected.h
  src/main/host/syscall_handler.c
  src/main/utility/counter.rs
  src/main/utility/mod.rs
Labels: Component: Main, Type: Enhancement

#1211 Update badge links in README
  README.md
Labels: Component: Documentation, Type: Maintenance

#1213 Bugfix: flush buffered log messages from workers on shutdown
  src/main/core/worker.c
Labels: Component: Main, Type: Bug

#1204 Set the plugin's working directory to the host directory, and disable support for chdir/fchdir
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/file.c
  src/main/host/descriptor/file.h
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/file.c
  src/main/host/syscall/file.h
  src/main/host/syscall/fileat.c
  src/main/host/syscall_handler.c
  src/main/host/thread.c
  src/main/host/thread.h
  src/main/host/thread_preload.c
  src/main/host/thread_protected.h
  src/main/host/thread_ptrace.c
  src/main/utility/fork_proxy.c
  src/main/utility/fork_proxy.h
  src/shim/preload_syscalls.c
  src/test/determinism/determinism2.test.shadow.config.yaml
  src/test/phold/phold.yaml
  src/test/tor/minimal/CMakeLists.txt
  src/test/tor/minimal/conf/tor.authority.torrc
  src/test/tor/minimal/conf/tor.common.torrc
  src/test/tor/minimal/conf/tor.hiddenserver.torrc
  src/test/tor/minimal/tor-minimal.yaml
Labels: Component: Main, Type: Enhancement

#1216 Set CMake build type idiomatically
  CMakeLists.txt
  setup
Labels: Component: Build, Type: Bug

#1222 Run Tor tests on 'pull_request' events
  .github/workflows/run_tor.yml
Labels: Component: Testing, Priority: Low, Type: Maintenance

#1224 Handle hot-path time syscalls in the shim
  src/main/host/process.c
  src/main/host/thread_ptrace.c
  src/shim/CMakeLists.txt
  src/shim/preload_syscall.c
  src/shim/shim.c
  src/shim/shim.h
  src/shim/shim_event.c
  src/shim/shim_event.h
  src/shim/shim_logger.c
  src/shim/shim_logger.h
  src/shim/shim_syscall.c
  src/shim/shim_syscall.h
  src/support/logger/logger.c
Labels: Component: Libraries, Component: Main, Tag: Performance, Type: Enhancement

#1228 Backport max concurrency prereqs
  src/main/CMakeLists.txt
  src/main/core/controller.c
  src/main/core/controller.h
  src/main/core/main.c
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/master.h
  src/main/core/slave.h
  src/main/core/support/options.c
  src/main/core/support/options.h
  src/main/core/work/event.h
  src/main/core/work/message.h
  src/main/core/work/task.h
  src/main/core/worker.c
  src/main/host/host.c
  src/test/dynlink/test_dynlink.c
  src/tools/parse-shadow.py
Labels: Component: Main, Type: Maintenance

#1230 Updated docs for bindgen/cbindgen
  .github/workflows/lint.yml
  docs/5-Developer-Guide.md
Labels: Component: Documentation, Type: Enhancement

#1233 Fix Rust warnings
  src/main/host/descriptor/pipe.rs
  src/main/host/memory_manager.rs
Labels: Component: Main, Priority: Low, Type: Maintenance

#1229 Extensions for counters for tracking global syscall counts
  src/main/bindings/c/bindings.h
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/host/syscall_handler.c
  src/main/utility/counter.rs
Labels: Component: Main, Type: Enhancement

#1239 Rust object counters
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings.h
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/support/object_counter.c
  src/main/core/support/object_counter.h
  src/main/core/work/event.c
  src/main/core/work/task.c
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/host/descriptor/channel.c
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor_table.c
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/eventd.c
  src/main/host/descriptor/file.c
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/timer.c
  src/main/host/descriptor/udp.c
  src/main/host/futex.c
  src/main/host/futex_table.c
  src/main/host/host.c
  src/main/host/network_interface.c
  src/main/host/process.c
  src/main/host/status_listener.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_handler.c
  src/main/host/thread_preload.c
  src/main/host/thread_ptrace.c
  src/main/routing/packet.c
  src/main/routing/payload.c
  src/main/routing/router.c
  src/main/utility/counter.rs
Labels: Component: Main, Type: Maintenance
