Repository shadow/shadow, pull requests merged in 2021-05, with the labels that each got.

#1309 (Part 1) Command-line parsing and YAML config files in Rust
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/c/cbindgen-opaque.toml
  src/main/bindings/c/cbindgen.toml
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/scheduler/scheduler_policy.h
  src/main/core/scheduler/scheduler_policy_type.h
  src/main/core/support/configuration.rs
  src/main/core/support/mod.rs
  src/main/core/support/options.h
  src/main/core/support/simulation_time.rs
  src/main/core/support/units.rs
  src/main/host/tracker.h
Labels: Component: Main, Type: Enhancement

#1315 (Part 2) Command-line parsing and YAML config files in Rust
  src/main/bindings/c/bindings.h
  src/main/core/controller.c
  src/main/core/main.c
  src/main/core/manager.c
  src/main/core/support/configuration.rs
  src/main/host/cpu.c
  src/main/routing/topology.c
Labels: Component: Main, Type: Maintenance

#1317 Added 'TIOCGWINSZ' and 'TIOCSWINSZ'
  src/main/host/syscall/ioctl.c
  src/test/file/test_file.c
  src/test/socket/ioctl/test_ioctl.rs
Labels: Component: Main, Type: Enhancement

#1318 Contributing updates
  README.md
  docs/CONTRIBUTING.md
  docs/pull-requests.md
Labels: Component: Documentation, Type: Maintenance

#1319 Deprecate ubuntu 16.04
  .github/workflows/run_tests.yml
  ci/run.sh
  docs/1.1-Shadow.md
  src/main/host/syscall_handler.c
  src/main/shmem/shmem_cleanup.c
Labels: Component: Build, Type: Maintenance

#1322 Use MemoryManager to allocate plugin memory
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/host/memory_manager.rs
  src/main/host/syscall/mman.c
  src/main/host/thread.c
  src/main/host/thread.h
Labels: Component: Main, Type: Enhancement

#1323 Updated configuration comments and documentation
  docs/3.1-Shadow-Config.md
  src/main/core/support/configuration.rs
Labels: Component: Documentation, Type: Enhancement

#1327 syscallhandler_shadow_hostname_to_addr_ipv4: null-terminate name
  src/main/host/syscall/shadow.c
Labels: Component: Main, Type: Bug

#1333 Update min log level in release mode, and docs
  docs/3.1-Shadow-Config.md
  src/main/Cargo.toml
  src/main/core/support/configuration.rs
Labels: Component: Documentation, Component: Main, Type: Maintenance

#1335 Add to .gitignore
  .gitignore
Labels: Type: Maintenance

#1334 thread_ptrace: careful not to deref NULL pointer
  src/main/host/thread_ptrace.c
Labels: Type: Bug

#1339 Test tor 0.4.5.8 instead of 0.4.5.7
  .github/workflows/run_tor.yml
Labels: Component: Testing, Type: Maintenance

#1338 futex_test: fix races for child taking lock
  src/test/futex/test_futex.c
Labels: Component: Testing, Type: Bug

#1342 Tests: log at level 'info' instead of 'debug' in release builds
  src/test/CMakeLists.txt
Labels: Component: Testing, Type: Bug

#1348 Moved bandwidth options from host_defaults to the host object
  docs/3.1-Shadow-Config.md
  src/main/core/support/configuration.rs
  src/test/config/convert/shadow.expected.yaml
  src/test/config/convert/shadow.original.xml
  src/tools/convert_legacy_config.py
Labels: Component: Main, Type: Maintenance

#1349 Renamed 'plain' topology to '1_gbit_switch'
  docs/3.1-Shadow-Config.md
  src/main/core/support/configuration.rs
  src/test/bindc/bindc.yaml
  src/test/clone/clone.yaml
  src/test/config/read_from_stdin/config-stdin.yaml
  src/test/cpp/cpp.yaml
  src/test/dynlink/dynlink.test.shadow.config.yaml
  src/test/epoll/epoll-writeable.yaml
  src/test/epoll/epoll.yaml
  src/test/eventfd/eventfd.yaml
  src/test/file/file.yaml
  src/test/futex/futex.yaml
  src/test/ifaddrs/ifaddrs.yaml
  src/test/memory/mmap.yaml
  src/test/pipe/pipe.yaml
  src/test/poll/poll.yaml
  src/test/random/random.yaml
  src/test/signal/signal.yaml
  src/test/sleep/sleep.yaml
  src/test/sockbuf/sockbuf.yaml
  src/test/socket/accept/accept.yaml
  src/test/socket/bind/bind.yaml
  src/test/socket/connect/connect.yaml
  src/test/socket/getpeername/getpeername.yaml
  src/test/socket/getsockname/getsockname.yaml
  src/test/socket/ioctl/ioctl.yaml
  src/test/socket/listen/listen.yaml
  src/test/socket/sendto_recvfrom/sendto-recvfrom.yaml
  src/test/socket/shutdown/shutdown.yaml
  src/test/socket/socket/socket.yaml
  src/test/socket/socketpair/socketpair.yaml
  src/test/socket/sockopt/sockopt.yaml
  src/test/threads/pthreads.yaml
  src/test/threads/threads-group-leader-exits.yaml
  src/test/threads/threads-noexit.yaml
  src/test/timerfd/timerfd.yaml
  src/test/udp/udp-uniprocess.yaml
  src/test/udp/udp.yaml
  src/test/unistd/unistd.yaml
Labels: Component: Main, Type: Maintenance

#1346 Update default config options
  docs/3.1-Shadow-Config.md
  src/main/core/support/configuration.rs
  src/test/CMakeLists.txt
Labels: Component: Main, Component: Testing, Type: Maintenance

#1353 Disable forkproxy by default
  docs/3.1-Shadow-Config.md
  src/main/core/support/configuration.rs
  src/main/host/thread_ptrace.c
Labels: Component: Main

#1354 Don't ignore unknown topology attributes
  src/main/core/support/configuration.rs
  src/main/routing/topology.c
  src/test/tor/minimal/tor-minimal.yaml
Labels: Component: Main, Type: Maintenance

#1336 Add Rust bindings for Host
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/support/simulation_time.rs
  src/main/core/worker.rs
  src/main/host/descriptor/socket.h
  src/main/host/descriptor/transport.h
  src/main/host/host.c
  src/main/host/host.rs
  src/main/host/mod.rs
Labels: Component: Main, Type: Maintenance

#1356 Renamed topology 'ip' to 'ip_address', and removed the 'asn' and 'packet_loss' node attributes
  docs/3.1-Shadow-Config.md
  src/main/bindings/c/bindings.h
  src/main/core/controller.c
  src/main/core/support/configuration.rs
  src/main/routing/topology.c
  src/test/ifaddrs/ifaddrs.yaml
  src/test/tor/minimal/tor-minimal.yaml
  src/tools/convert_legacy_config.py
  src/tools/convert_legacy_topology.py
Labels: Component: Main, Type: Maintenance

#1351 Fix fstatat
  src/main/bindings/c/bindings.h
  src/main/host/memory_manager.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/fileat.c
  src/main/host/syscall_types.rs
  src/test/file/test_file.c
Labels: Component: Main, Type: Bug

#1359 Update rust nightly and clang versions in converage test
  .github/workflows/coverage.yml
  ci/container_scripts/build_and_install.sh
  ci/container_scripts/install_extra_deps.sh
Labels: Component: Testing, Type: Maintenance

#1328 Enable the 'unsafe_op_in_unsafe_fn' lint
  src/main/host/memory_manager.rs
  src/main/host/thread.rs
  src/main/lib.rs
Labels: Component: Main, Type: Maintenance

#1360 Deflake clone-linux
  src/test/clone/CMakeLists.txt
  src/test/clone/test_clone.c
Labels: Component: Main, Type: Bug

#1361 Added comment to tor CI workflow
  .github/workflows/run_tor.yml
Labels: Component: Build, Type: Maintenance

#1350 Enable 'unused-function' warning for C code
  CMakeLists.txt
  src/main/core/scheduler/scheduler.c
  src/main/host/descriptor/tcp_retransmit_tally.cc
  src/main/host/thread_preload.c
  src/main/host/thread_ptrace.c
  src/main/routing/topology.c
  src/shim/shim_event.c
  src/test/file/test_file.c
  src/test/phold/test_phold.c
Labels: Component: Main, Type: Maintenance

#1364 Update scheduler options
  docs/3.1-Shadow-Config.md
  src/main/bindings/c/bindings.h
  src/main/core/scheduler/scheduler.c
  src/main/core/support/configuration.rs
  src/main/core/worker.c
  src/test/determinism/CMakeLists.txt
  src/test/phold/CMakeLists.txt
  src/test/tor/minimal/CMakeLists.txt
Labels: Component: Documentation, Component: Main, Type: Maintenance

#1325 Reimplement ShadowLogger in Rust and bound its memory usage
  src/main/CMakeLists.txt
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.c
  src/main/core/logger/log_record.c
  src/main/core/logger/log_record.h
  src/main/core/logger/log_wrapper.c
  src/main/core/logger/log_wrapper.h
  src/main/core/logger/log_wrapper.rs
  src/main/core/logger/logger_helper.c
  src/main/core/logger/logger_helper.h
  src/main/core/logger/mod.rs
  src/main/core/logger/shadow_logger.c
  src/main/core/logger/shadow_logger.h
  src/main/core/logger/shadow_logger.rs
  src/main/core/main.c
  src/main/core/manager.c
  src/main/core/mod.rs
  src/main/core/scheduler/scheduler.c
  src/main/core/support/configuration.rs
  src/main/core/worker.c
  src/main/host/host.rs
  src/main/utility/fork_proxy.c
  src/shim/shim_logger.c
  src/support/logger/logger.c
  src/support/logger/logger.h
  src/support/logger/rust_bindings/src/bindings.rs
Labels: Component: Libraries, Type: Bug

#1363 Reorganize MemoryManager
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/host/memory_manager.rs
  src/main/host/memory_manager/memory_copier.rs
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/unistd.rs
  src/main/host/syscall_handler.c
  src/main/host/syscall_types.rs
  src/main/host/thread.rs
  src/main/utility/mod.rs
  src/main/utility/notnull.rs
Labels: Component: Main, Type: Bug, Type: Maintenance

#1355 Fix shortest path logic for undirected graphs
  src/main/routing/topology.c
Labels: Component: Main, Type: Bug

#1368 Merge main into dev
  src/main/routing/topology.c
Labels: Component: Main, Type: Maintenance

#1369 Switch from graphml to gml
  .github/workflows/run_tor.yml
  ci/container_scripts/install_deps.sh
  ci/container_scripts/test.sh
  docs/5-Developer-Guide.md
  src/main/core/controller.c
  src/main/core/support/configuration.rs
  src/main/routing/topology.c
  src/test/config/convert/CMakeLists.txt
  src/test/config/convert/shadow.expected.yaml
  src/test/config/convert/shadow.original.xml
  src/test/determinism/determinism1.test.shadow.config.yaml
  src/test/determinism/determinism2.test.shadow.config.yaml
  src/test/phold/phold.yaml
  src/test/tcp/tcp-blocking-loopback.yaml
  src/test/tcp/tcp-blocking-lossless.yaml
  src/test/tcp/tcp-blocking-lossy.yaml
  src/test/tcp/tcp-iov-loopback.yaml
  src/test/tcp/tcp-iov-lossless.yaml
  src/test/tcp/tcp-iov-lossy.yaml
  src/test/tcp/tcp-nonblocking-epoll-loopback.yaml
  src/test/tcp/tcp-nonblocking-epoll-lossless.yaml
  src/test/tcp/tcp-nonblocking-epoll-lossy.yaml
  src/test/tcp/tcp-nonblocking-poll-loopback.yaml
  src/test/tcp/tcp-nonblocking-poll-lossless.yaml
  src/test/tcp/tcp-nonblocking-poll-lossy.yaml
  src/test/tcp/tcp-nonblocking-select-loopback.yaml
  src/test/tcp/tcp-nonblocking-select-lossless.yaml
  src/test/tcp/tcp-nonblocking-select-lossy.yaml
  src/test/tor/minimal/CMakeLists.txt
  src/test/tor/minimal/tor-minimal.yaml
  src/tools/convert_legacy_config.py
  src/tools/convert_legacy_topology.py
Labels: Component: Main, Component: Tools, Type: Enhancement

#1367 Port DescriptorTable to Rust
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor.h
  src/main/host/descriptor/descriptor_table.c
  src/main/host/descriptor/descriptor_table.h
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/epoll.h
  src/main/host/descriptor/mod.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/epoll.c
  src/main/host/syscall/mod.rs
  src/main/host/syscall/poll.c
  src/main/host/syscall/unistd.rs
  src/test/file/test_file.c
Labels: Component: Main, Type: Maintenance

#1372 Don't double-count latency when an edge is a self-loop
  src/main/routing/topology.c
Labels: Component: Main, Type: Bug

#1375 Merge main into dev
  src/main/routing/topology.c
Labels: Component: Main, Type: Bug

#1373 Removed the 'prefer_direct_paths' topology option and added the 'use_shortest_path' config option
  docs/3.1-Shadow-Config.md
  src/main/bindings/c/bindings.h
  src/main/core/controller.c
  src/main/core/support/configuration.rs
  src/main/routing/topology.c
  src/main/routing/topology.h
  src/test/config/convert/CMakeLists.txt
  src/test/config/convert/shadow.expected.yaml
  src/test/config/convert/topology.expected.gml
  src/test/config/convert/topology.original.xml
  src/tools/convert_legacy_config.py
  src/tools/convert_legacy_topology.py
Labels: Component: Main, Type: Enhancement

#1374 Update network topology file documentation
  docs/3.2-Network-Config.md
  docs/network_graph_attributes.md
  src/tools/convert_legacy_config.py
  src/tools/convert_legacy_topology.py
Labels: Component: Documentation

#1379 Rename and remove some documentation pages
  docs/1-Installation-and-Setup.md
  docs/2018-ccs-tmodel.md
  docs/3-Simulation-Customization.md
  docs/3.3-TGen-Config.md
  docs/README.md
  docs/coding_style.md
  docs/contributing.md
  docs/design_overview.md
  docs/developer_guide.md
  docs/getting_started.md
  docs/install_shadow.md
  docs/install_shadow_with_docker.md
  docs/maintainer_playbook.md
  docs/network_config.md
  docs/network_graph_attributes.md
  docs/notes_and_faq.md
  docs/nsf_sponsorship.md
  docs/pull_requests.md
  docs/shadow_config.md
  docs/using_recompiled_libc.md
Labels: Component: Documentation, Type: Maintenance

#1381 Update docs for 'parallelism' option
  docs/shadow_config.md
Labels: Component: Documentation, Type: Bug

#1382 Small updates to documentation
  docs/README.md
  docs/design_overview.md
  docs/getting_started.md
  docs/install_dependencies.md
  docs/install_shadow.md
  docs/install_shadow_with_docker.md
  docs/notes_and_faq.md
  docs/shadow_config.md
  docs/supported_platforms.md
  docs/system_configuration.md
Labels: Component: Documentation, Type: Maintenance

#1383 Fix bug with vertex attribute name
  src/main/routing/topology.c
Labels: Component: Main, Type: Bug

#1384 Add the 'use_legacy_working_dir' experimental option
  docs/shadow_config.md
  src/main/bindings/c/bindings.h
  src/main/core/support/configuration.rs
  src/main/host/process.c
Labels: Component: Main, Type: Enhancement
