Repository shadow/shadow, pull requests merged in 2022-01, with the labels that each got.

#1838 Small updates to the documentation and help text
  docs/install_dependencies.md
  docs/run_shadow_overview.md
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Documentation

#1833 Upgrade clap to 3.0.4
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/core/support/configuration.rs
Labels: Type: Maintenance, Component: Main, Component: Build

#1837 Upgrade nom to 7.1.0, and have dependabot watch the gml-parser package
  .github/dependabot.yml
  src/lib/gml-parser/Cargo.toml
  src/lib/gml-parser/src/parser.rs
  src/main/Cargo.lock
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#1841 Update versions in Cargo lock file
  src/main/Cargo.lock
  src/test/Cargo.lock
Labels: Component: Testing, Component: Main, Component: Build

#1836 Disable 'rebase-strategy' dependabot option
  .github/dependabot.yml
Labels: Component: Testing

#1828 Allows TCPS_LISTEN to be a valid listening state
  src/main/host/descriptor/tcp.c
  src/test/socket/listen/test_listen.rs
Labels: Type: Bug, Component: Testing, Priority: Medium, Component: Main

#1844 Update versions of tools used in CI
  .github/workflows/lint.yml
  .github/workflows/run_tor.yml
  ci/container_scripts/install_extra_deps.sh
Labels: Component: Testing

#1848 Show the progress when stderr is not a tty
  docs/shadow_config_spec.md
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/core/manager.c
  src/main/core/support/configuration.rs
  src/main/utility/status_bar.rs
Labels: Type: Enhancement, Component: Main, Component: Documentation

#1847 Use an alternate stack for signal handling
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/shim_rdtsc.c
  src/lib/shim/shim_seccomp.c
  src/lib/shim/shim_syscall.c
  src/lib/shim/shim_tls.c
  src/main/host/syscall/signal.c
  src/main/host/syscall/signal.h
  src/main/host/syscall_handler.c
Labels: Component: Libraries, Component: Main

#1852 shim_enableInterposition + shim_disableInterposition -> shim_swapAllowNativeSyscalls
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/shim_logger.c
  src/lib/shim/shim_rdtsc.c
  src/lib/shim/shim_syscall.c
Labels: Type: Enhancement, Component: Libraries

#1857 Add guard page to signal stack
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/shim_tls.c
Labels: Component: Libraries

#1859 Add per-process shared memory and clean up
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/shim_api_addrinfo.c
  src/lib/shim/shim_event.c
  src/lib/shim/shim_event.h
  src/lib/shim/shim_shmem.h
  src/lib/shim/shim_sys.c
  src/lib/shim/shim_sys.h
  src/lib/shim/shim_syscall.c
  src/main/bindings/rust/CMakeLists.txt
  src/main/host/process.c
  src/main/host/syscall/shadow.c
  src/main/host/thread.c
  src/main/host/thread.h
  src/main/host/thread_preload.c
  src/main/host/thread_protected.h
  src/main/host/thread_ptrace.c
  src/main/host/thread_ptrace.h
Labels: Component: Libraries, Component: Main, Component: Build

#1874 Fix shadow hang when plugins start after the sim stop time
  src/main/bindings/rust/wrapper.rs
  src/main/host/process.c
  src/main/host/process.h
  src/test/regression/CMakeLists.txt
  src/test/regression/small_stop_time.yaml
Labels: Type: Bug, Component: Testing, Component: Main, Component: Build

#1878 Syscallcondition refactor for signals
  src/main/host/syscall_condition.c
Labels: Component: Main
