Repository shadow/shadow, pull requests merged in 2022-04, with the labels that each got.

#1995 Add feature to escape busy loops
  docs/shadow_config_spec.md
  src/lib/shim/shim_shmem.c
  src/lib/shim/shim_shmem.h
  src/lib/shim/shim_sys.c
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/support/configuration.rs
  src/main/host/host.c
  src/main/host/process.c
  src/main/host/syscall/protected.h
  src/main/host/syscall/shadow.c
  src/main/host/syscall/shadow.h
  src/main/host/syscall/time.c
  src/main/host/syscall/time.h
  src/main/host/syscall_handler.c
  src/main/host/syscall_numbers.h
  src/main/host/thread_preload.c
  src/main/host/thread_ptrace.c
  src/test/Cargo.toml
  src/test/regression/CMakeLists.txt
  src/test/regression/busy_wait.yaml
  src/test/regression/test_busy_wait.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#2001 Small fixes to documentation
  docs/shadow_config_spec.md
Labels: Component: Documentation

#2003 Increment unblocked count for shadow-side syscalls
  src/main/host/syscall_handler.c
Labels: Component: Main

#1998 Fix a case where getaddrinfo() incorrectly returns 0
  src/lib/shim/shim_api_addrinfo.c
  src/test/resolver/CMakeLists.txt
  src/test/resolver/test_getaddrinfo.c
Labels: Component: Libraries, Component: Testing, Component: Build

#2005 Improve docker docs and reorganize "Supported Platforms" docs
  docs/supported_platforms.md
Labels: Component: Documentation

#1996 Fix unix socket abstract namespace binding
  src/main/host/descriptor/socket/abstract_unix_ns.rs
  src/main/host/descriptor/socket/unix.rs
  src/test/socket/bind/test_bind.rs
Labels: Type: Bug, Component: Testing, Component: Main

#1997 Add '--debug-hosts' option to help debug managed processes
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.c
  src/main/core/controller.h
  src/main/core/main.rs
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/support/configuration.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/process.c
  src/main/host/process.h
Labels: Component: Main, Component: Build

#2008 Time jump bug fixes
  src/main/host/syscall_handler.c
  src/main/host/thread_preload.c
Labels: Component: Main

#2009 Add type-checking for utility_panic format strings
  src/main/utility/utility.h
Labels: Component: Main

#2010 Add support for the `TCP_CONGESTION` sockopt
  src/main/host/descriptor/tcp_cong.h
  src/main/host/descriptor/tcp_cong_reno.c
  src/main/host/descriptor/tcp_cong_reno.h
  src/main/host/syscall/socket.c
  src/test/socket/sockopt/test_sockopt.rs
Labels: Type: Enhancement, Component: Testing, Component: Main

#2012 Fix typo in log message
  src/main/host/syscall/unistd.c
Labels: Component: Main

#2013 Add documentation for running curl, nginx, and iperf 2/3
  docs/README.md
  docs/SUMMARY.md
  docs/curl.md
  docs/getting_started_basic.md
  docs/iperf2.md
  docs/iperf3.md
  docs/nginx.md
Labels: Component: Documentation

#2018 fix doc typo
  docs/iperf2.md
Labels: Component: Documentation

#2022 Use precise vdso trampoline size
  src/lib/shim/patch_vdso.c
Labels: Component: Libraries

#2024 Fix a bug when binding to an unnamed unix socket address
  src/main/host/descriptor/socket/abstract_unix_ns.rs
  src/main/host/descriptor/socket/unix.rs
Labels: Type: Bug, Component: Main

#2014 Support goroutine preemption
  src/lib/shim/shim_syscall.c
  src/test/golang/CMakeLists.txt
  src/test/golang/go_preempt.yaml
  src/test/golang/test_go_preempt.go
Labels: Component: Libraries, Component: Testing, Component: Build

#2039 lint-bindings: tell git that working directory is safe
  .github/workflows/lint.yml
Labels: Component: Testing

#2017 Add support for SA_RESTART
  src/lib/shim/shim_event.h
  src/lib/shim/shim_syscall.c
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor.h
  src/main/host/descriptor/eventfd.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/epoll.c
  src/main/host/syscall/format.rs
  src/main/host/syscall/futex.c
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall/poll.c
  src/main/host/syscall/socket.c
  src/main/host/syscall/time.c
  src/main/host/syscall/uio.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall_handler.c
  src/main/host/syscall_types.h
  src/main/host/syscall_types.rs
  src/main/host/thread_preload.c
  src/test/signal/test_signals.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#2042 Test if listening sockets are readable/writable
  src/test/socket/listen/test_listen.rs
Labels: Component: Testing

#2049 Unify host locks
  src/lib/shim/shim_shmem.c
  src/lib/shim/shim_shmem.h
  src/main/core/work/event.c
  src/main/host/host.c
  src/main/host/process.c
  src/main/host/syscall_condition.c
Labels: Component: Libraries, Component: Main

#2054 Changed `SharedBuf` to use a new `BufferState` rather than `FileState`
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/shared_buf.rs
  src/main/host/descriptor/socket/unix.rs
Labels: Type: Bug, Component: Main

#2056 Document and test PID assignment order
  docs/shadow_config_spec.md
  src/test/Cargo.toml
  src/test/unistd/CMakeLists.txt
  src/test/unistd/pid_assignment.yaml
  src/test/unistd/test_pid_assignment.rs
Labels: Component: Testing, Component: Build, Component: Documentation

#2048 Increment time locally when able
  src/lib/shim/shim_shmem.c
  src/lib/shim/shim_shmem.h
  src/lib/shim/shim_sys.c
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler.h
  src/main/core/scheduler/scheduler_policy.h
  src/main/core/scheduler/scheduler_policy_host_single.c
  src/main/core/scheduler/scheduler_policy_thread_single.c
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
  src/main/host/host.c
  src/main/host/process.c
  src/main/host/syscall_handler.c
  src/main/host/thread_preload.c
  src/test/golang/test_intercept_golang_time.go
  src/test/regression/busy_wait.yaml
  src/test/regression/exit_after_signal_sched.yaml
  src/test/regression/signal_resched.yaml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#2062 Hide experimental options by default in the cli help
  src/main/core/support/configuration.rs
Labels: Type: Enhancement, Component: Main

#2068 Add documentation about host iteration order
  docs/shadow_config_spec.md
Labels: Component: Documentation

#2069 Add option general.model_unblocked_syscall_latency
  docs/curl.md
  docs/iperf3.md
  docs/shadow_config_spec.md
  src/lib/shim/shim_shmem.c
  src/lib/shim/shim_shmem.h
  src/lib/shim/shim_sys.c
  src/main/bindings/c/bindings.h
  src/main/core/support/configuration.rs
  src/main/host/host.c
  src/main/host/syscall_handler.c
  src/test/examples/basic-file-transfer/CMakeLists.txt
  src/test/examples/basic-file-transfer/basic-file-transfer-example.yaml
  src/test/golang/go_preempt.yaml
  src/test/regression/CMakeLists.txt
  src/test/regression/busy_wait.yaml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#2051 Model VDSO calls as taking less time than regular syscalls
  docs/shadow_config_spec.md
  src/lib/shim/shim_shmem.c
  src/lib/shim/shim_shmem.h
  src/lib/shim/shim_sys.c
  src/main/bindings/c/bindings.h
  src/main/core/support/configuration.rs
  src/main/host/host.c
  src/main/host/process.c
  src/main/host/syscall_handler.c
  src/test/golang/CMakeLists.txt
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#2081 Added 'must_use' attr to event 'Handle' object
  src/main/utility/event_queue.rs
Labels: Type: Maintenance, Component: Main

#2082 nix 0.23.1 -> 0.24.0 with fixes
  src/Cargo.lock
  src/main/Cargo.toml
  src/main/host/memory_manager/memory_copier.rs
  src/main/host/syscall/handler/socket.rs
  src/test/Cargo.toml
  src/test/ifaddrs/test_ifaddrs.rs
Labels: Component: Testing, Component: Main, Component: Build

#2080 Continued reorganization of the unix socket code
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
Labels: Type: Maintenance, Component: Main

#2089 Add test_itimer and ensure_ord
  src/Cargo.lock
  src/test/CMakeLists.txt
  src/test/Cargo.toml
  src/test/itimer/CMakeLists.txt
  src/test/itimer/test_itimer.rs
  src/test/test_utils.rs
Labels: Component: Testing, Component: Build

#2092 Add "#[allow(deprecated)]" wherever we use deprecated nix socket address types/fns
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
  src/main/utility/enum_passthrough.rs
Labels: Type: Maintenance, Component: Main

#2096 Add test for handling sigsegv
  src/test/signal/test_signals.rs
Labels: Component: Testing

#2097 Support listen() for unix sockets
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/support/definitions.h
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
  src/test/socket/listen/test_listen.rs
Labels: Type: Enhancement, Component: Testing, Component: Main, Component: Build

#2099 Add tests for blocking connect() calls
  src/test/socket/connect/test_connect.rs
  src/test/socket_utils.rs
Labels: Component: Testing

#1917 Allow managed code to handle signals generated by hardware errors
  src/lib/shim/CMakeLists.txt
  src/lib/shim/shim.c
  src/lib/shim/shim_rdtsc.c
  src/lib/shim/shim_signals.c
  src/lib/shim/shim_signals.h
  src/lib/shim/shim_syscall.c
  src/lib/shim/shim_syscall.h
  src/test/signal/test_signals.rs
Labels: Component: Libraries, Component: Testing, Component: Build

#2100 Have 'Trigger' hold a 'GenericFile' rather than an 'OpenFile'
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
Labels: Type: Maintenance, Component: Main, Component: Build

#2102 Update socket accept() tests to support unix sockets
  src/test/socket/accept/test_accept.rs
Labels: Type: Maintenance, Component: Testing

#2098 Support accept() and connect() for unix sockets
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/status.h
  src/main/host/syscall/handler/socket.rs
  src/test/socket/accept/test_accept.rs
  src/test/socket/connect/test_connect.rs
  src/test/socket/getpeername/test_getpeername.rs
  src/test/socket/getsockname/test_getsockname.rs
  src/test/socket/sendto_recvfrom/test_sendto_recvfrom.rs
Labels: Type: Enhancement, Component: Testing, Component: Main

#2103 Add itimer test validating that they're process-wide
  src/test/itimer/test_itimer.rs
Labels: Component: Testing
