Repository shadow/shadow, pull requests merged in 2022-11, with the labels that each got.

#2501 Small documentation improvements
  docs/compatibility_notes.md
  docs/install_dependencies.md
Labels: Component: Documentation

#2502 Removed unused graph ffi code and added comments about ip/port byte order
  src/main/core/worker.rs
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/tcp.h
  src/main/host/descriptor/udp.c
  src/main/host/network_interface.c
  src/main/host/network_interface.h
  src/main/network/graph/mod.rs
  src/main/routing/address.c
  src/main/routing/address.h
  src/main/routing/dns.c
  src/main/routing/dns.h
  src/main/routing/packet.c
  src/main/routing/packet.h
Labels: Component: Main

#2515 Bump rust dependency versions
  src/Cargo.lock
  src/lib/logger/Cargo.toml
  src/lib/shadow-build-common/Cargo.toml
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shmem/Cargo.toml
  src/lib/vasi-macro/Cargo.toml
  src/lib/vasi/Cargo.toml
  src/main/Cargo.toml
  src/test/Cargo.toml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#2516 Move `worker_sendPacket` to the rust worker
  src/main/build.rs
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
  src/main/host/host.rs
  src/main/network/mod.rs
  src/main/network/packet.rs
  src/main/network/router/mod.rs
Labels: Component: Main

#2518 Move remainder of worker code from C to Rust
  src/main/build.rs
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
Labels: Component: Main

#2519 Add unit tests for the thread-per-core scheduler
  src/main/core/manager.rs
  src/main/core/scheduler/mod.rs
  src/main/core/scheduler/thread_per_core.rs
  src/main/core/scheduler/thread_per_host.rs
Labels: Component: Main

#2520 Set dependabot to ignore patch updates
  .github/dependabot.yml
Labels: Component: Testing

#2521 Host: Move more fields and methods from C to Rust
  src/main/core/manager.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
Labels: Component: Main

#2523 Move host handling of network interfaces to rust
  docs/shadow_config_spec.md
  src/main/build.rs
  src/main/core/manager.rs
  src/main/core/sim_config.rs
  src/main/core/support/configuration.rs
  src/main/core/worker.rs
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/tcp.c
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
  src/main/host/host_parameters.h
  src/main/host/mod.rs
  src/main/host/network_interface.c
  src/main/host/network_interface.h
  src/main/host/network_interface.rs
  src/main/utility/mod.rs
  src/test/config/convert/shadow.original.xml
  src/tools/convert_legacy_config.py
Labels: Type: Maintenance, Component: Testing, Component: Main, Component: Tools, Component: Documentation

#2528 Add uses of 'let-else' statements
  .github/workflows/lint.yml
  src/lib/syscall-logger/src/lib.rs
  src/main/core/manager.rs
  src/main/host/syscall/format.rs
  src/main/host/syscall/handler/sched.rs
  src/main/host/syscall/handler/socket.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#2529 Fix potential mutable aliasing of DNS object
  src/main/core/worker.rs
  src/main/host/host.rs
Labels: Component: Main

#2527 Add instructions for updating dependencies in CI maintenance workflow
  .github/workflows/ci_maintenance.yml
Labels: Component: Testing

#2531 Add rust wrappers for brk, mmap, munmap, mremap, and mprotect syscalls
  src/main/build.rs
  src/main/host/syscall/format.rs
  src/main/host/syscall/handler/mman.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/mman.c
  src/main/host/syscall/mman.h
  src/main/host/syscall_handler.c
Labels: Component: Main

#2530 Add more examples
  .github/workflows/run_examples.yml
  docs/compatibility_notes.md
  examples/CMakeLists.txt
  examples/curl/CMakeLists.txt
  examples/curl/install_deps.sh
  examples/curl/run.sh
  examples/curl/shadow.yaml
  examples/http-server/CMakeLists.txt
  examples/http-server/install_deps.sh
  examples/http-server/run.sh
  examples/http-server/shadow.yaml
  examples/iperf-2/CMakeLists.txt
  examples/iperf-2/install_deps.sh
  examples/iperf-2/run.sh
  examples/iperf-2/shadow.yaml
Labels: Component: Testing, Component: Build, Component: Documentation

#2533 Set executable /dev/shm in all workflows
  .github/workflows/coverage.yml
  .github/workflows/run_examples.yml
  .github/workflows/run_tests.yml
  .github/workflows/run_tor.yml
Labels: Component: Testing

#2535 Fix sim syscall counters
  src/main/core/manager.rs
  src/main/core/worker.rs
Labels: Component: Main

#2534 HostParameters: C to Rust
  src/main/build.rs
  src/main/core/manager.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
  src/main/host/host_parameters.h
Labels: Component: Main

#2538 Move defaultAddress from HostCInternal to Host
  src/main/build.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
Labels: Component: Main

#2539 Move abstractUnixNamespace from HostCInternal to Host
  src/main/build.rs
  src/main/host/descriptor/socket/abstract_unix_ns.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
Labels: Component: Main

#2537 Rewrite Cpu in Rust
  src/lib/shadow-shim-helper-rs/src/emulated_time.rs
  src/lib/shadow-shim-helper-rs/src/simulation_time.rs
  src/main/build.rs
  src/main/core/manager.rs
  src/main/core/sim_config.rs
  src/main/host/cpu.c
  src/main/host/cpu.h
  src/main/host/cpu.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
  src/main/host/mod.rs
  src/main/host/process.c
  src/main/host/tracker.c
  src/main/host/tracker.h
Labels: Component: Libraries, Component: Main

#2536 Save counters to `sim-stats.json` file
  src/Cargo.lock
  src/main/Cargo.toml
  src/main/core/manager.rs
  src/main/core/mod.rs
  src/main/core/sim_stats.rs
  src/main/core/worker.rs
  src/main/utility/counter.rs
Labels: Component: Main, Component: Build

#2541 Enable host heartbeat messages by default
  docs/shadow_config_spec.md
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Documentation

#2542 Implement Host::get_random_free_port
  src/main/core/support/definitions.h
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
Labels: Component: Main

#2543 Host::get_random_free_port: avoid linear-time iterator operations
  src/main/host/host.rs
Labels: Component: Main

#2540 Host shared memory: Move from HostCInternal to Host
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shmem/src/allocator.rs
  src/lib/vasi/src/lib.rs
  src/main/core/manager.rs
  src/main/core/support/configuration.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
Labels: Component: Libraries, Component: Main

#2545 Host: Move Tsc from HostCInternal to Host
  src/Cargo.lock
  src/lib/tsc/CMakeLists.txt
  src/lib/tsc/Cargo.toml
  src/lib/tsc/build.rs
  src/lib/tsc/src/lib.rs
  src/lib/tsc/tsc.c
  src/lib/tsc/tsc.h
  src/lib/tsc/tsc_internal.h
  src/lib/tsc/tsc_test.c
  src/main/build.rs
  src/main/core/manager.rs
  src/main/host/host.c
  src/main/host/host.rs
  src/main/host/managed_thread.c
  src/main/host/syscall_handler.c
Labels: Component: Libraries, Component: Main, Component: Build

#2547 Host: use RefCell instead of RootedRefCell where we can
  src/main/host/host.rs
Labels: Component: Main

#2548 Move more fields from HostCInternal to Host
  src/CMakeLists.txt
  src/main/build.rs
  src/main/core/worker.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
  src/main/host/process.c
Labels: Component: Main, Component: Build

#2549 Use tgen to test shadow network performance
  .github/workflows/run_tgen.yml
  ci/container_scripts/test.sh
  docs/extra_tests.md
  src/test/CMakeLists.txt
  src/test/tgen/CMakeLists.txt
  src/test/tgen/README.md
  src/test/tgen/fixed_duration/100mbit_100ms.yaml
  src/test/tgen/fixed_duration/10mbit_200ms.yaml
  src/test/tgen/fixed_duration/1gbit_10ms.yaml
  src/test/tgen/fixed_duration/1mbit_300ms.yaml
  src/test/tgen/fixed_duration/CMakeLists.txt
  src/test/tgen/fixed_duration/client.1000streams.graphml
  src/test/tgen/fixed_duration/client.100streams.graphml
  src/test/tgen/fixed_duration/client.10streams.graphml
  src/test/tgen/fixed_duration/client.1stream.graphml
  src/test/tgen/fixed_duration/gen_conf.py
  src/test/tgen/fixed_duration/server.graphml
  src/test/tgen/fixed_duration/verify.sh
  src/test/tgen/fixed_size/100mbit_100ms.yaml
  src/test/tgen/fixed_size/10mbit_200ms.yaml
  src/test/tgen/fixed_size/1gbit_10ms.yaml
  src/test/tgen/fixed_size/1mbit_300ms.yaml
  src/test/tgen/fixed_size/CMakeLists.txt
  src/test/tgen/fixed_size/client.1000streams_1b_1000x.graphml
  src/test/tgen/fixed_size/client.100streams_1kib_100x.graphml
  src/test/tgen/fixed_size/client.10streams_1mib_10x.graphml
  src/test/tgen/fixed_size/client.1stream_1b_1000x.graphml
  src/test/tgen/fixed_size/client.1stream_1kib_100x.graphml
  src/test/tgen/fixed_size/client.1stream_1mib_10x.graphml
  src/test/tgen/fixed_size/gen_conf.py
  src/test/tgen/fixed_size/server.graphml
  src/test/tgen/fixed_size/verify.sh
Labels: Component: Testing, Component: Build, Component: Documentation

#2554 Increase timeout for tgen tests
  src/test/tgen/fixed_duration/CMakeLists.txt
Labels: Component: Testing, Component: Build

#2559 Fix unsound methods in Pod and cleanup MemoryManager
  src/main/host/memory_manager/memory_copier.rs
  src/main/host/memory_manager/mod.rs
  src/main/utility/pod.rs
Labels: Component: Main

#2560 Host accessors: use impl trait instead of taking closures
  src/main/core/worker.rs
  src/main/host/host.rs
  src/main/host/syscall/handler/random.rs
  src/main/host/syscall/handler/socket.rs
Labels: Component: Main

#2564 Fix `Counter::sorted_for_display` warning on nightly
  src/main/utility/counter.rs
Labels: Component: Main

#2563 Use UTC timezone file in place of /etc/localtime
  src/main/host/descriptor/regular_file.c
Labels: Type: Enhancement, Component: Main

#2570 Changelog: to markdown, and add links to raw changes
  CHANGELOG.md
Labels: Component: Documentation

#2571 Add more entries to changelog
  CHANGELOG.md
Labels: Component: Documentation

#2573 Add relevant missing PRs by sporksmith to CHANGELOG.md
  CHANGELOG.md
Labels: Component: Documentation

#2562 Custom socket address types to replace deprecated nix `SockAddr`
  src/Cargo.lock
  src/main/Cargo.toml
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
  src/main/utility/mod.rs
  src/main/utility/sockaddr.rs
Labels: Component: Main, Component: Build

#2576 Add changelog entry for recently added tgen perf tests
  CHANGELOG.md
Labels: Component: Documentation

#2572 Build shadow once for extra tests
  .github/workflows/extra_tests.yml
  .github/workflows/run_examples.yml
  .github/workflows/run_tgen.yml
  .github/workflows/run_tor.yml
  docs/extra_tests.md
  docs/getting_started_tgen.md
  src/test/tgen/fixed_duration/100mbit_100ms.yaml
  src/test/tgen/fixed_duration/10mbit_200ms.yaml
  src/test/tgen/fixed_duration/1gbit_10ms.yaml
  src/test/tgen/fixed_duration/1mbit_300ms.yaml
  src/test/tgen/fixed_size/100mbit_100ms.yaml
  src/test/tgen/fixed_size/10mbit_200ms.yaml
  src/test/tgen/fixed_size/1gbit_10ms.yaml
  src/test/tgen/fixed_size/1mbit_300ms.yaml
  src/test/tor/minimal/tor-minimal.yaml
Labels: Component: Testing, Component: Documentation

#2582 Delete unused hostc_setup
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
Labels: Component: Main
