Repository shadow/shadow, pull requests merged in 2022-06, with the labels that each got.

#2198 When debugging a host, stop Shadow with SIGTSTP
  src/main/host/process.c
Labels: Component: Main

#2201 Improve documentation for debugging
  docs/coding.md
  docs/compatibility_notes.md
  docs/developer_guide.md
  docs/getting_started_tor.md
Labels: Component: Documentation

#2200 Document "stability guarantees" and kernel version requirement
  docs/SUMMARY.md
  docs/semver.md
  docs/supported_platforms.md
Labels: Component: Documentation

#2203 Stabilize '--debug-hosts' option
  src/main/core/main.rs
  src/main/core/support/configuration.rs
Labels: Component: Main

#2197 futex: return EINTR when interrupted by a signal
  src/main/host/syscall/futex.c
  src/test/futex/test_futex.c
Labels: Component: Testing, Component: Main

#2204 Write the processed config to 'shadow.data/processed-config.yaml'
  src/main/bindings/c/bindings.h
  src/main/core/manager.c
  src/main/core/manager.rs
  src/main/core/mod.rs
  src/main/core/support/configuration.rs
  src/main/routing/network_graph.rs
  src/main/utility/mod.rs
Labels: Component: Main

#2206 Documentation changes
  docs/SUMMARY.md
  docs/debugging.md
  docs/developer_guide.md
  docs/extra_tests.md
  docs/install_shadow_with_docker.md
  docs/network_graph_overview.md
  docs/profiling.md
  docs/semver.md
  docs/testing_determinism.md
Labels: Component: Documentation

#2205 poll: return EINTR when interrupted
  src/lib/shim/shim_tls.c
  src/lib/shim/shim_tls.h
  src/main/host/syscall/poll.c
  src/test/poll/test_poll.rs
  src/test/test_utils.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#2207 In progress logger, show number of failed processes
  src/main/bindings/c/bindings.h
  src/main/core/manager.c
  src/main/utility/status_bar.rs
Labels: Component: Main

#2208 Stop leaking thread-local-storage including signal stacks
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/shim_syscall.c
  src/lib/shim/shim_tls.c
Labels: Component: Libraries

#2214 Remove kernel version requirement
  docs/semver.md
  docs/supported_platforms.md
Labels: Component: Documentation

#2215 Remove 'Applications should not use or expect signals'
  docs/run_shadow_overview.md
Labels: Component: Documentation

#2213 Upgrade rust dependencies (cargo update)
  src/Cargo.lock
  src/main/Cargo.toml
  src/test/Cargo.toml
Labels: Component: Testing, Component: Main, Component: Build

#2217 Add limitations section and explain busy-loops
  docs/SUMMARY.md
  docs/compatibility_notes.md
  docs/limitations.md
  docs/run_shadow_overview.md
Labels: Component: Documentation

#2209 Add description of v2 design
  docs/design_2x.md
Labels: Component: Documentation

#2222 Delete ptrace
  CHANGELOG
  ci/container_scripts/test.sh
  docs/install_shadow_with_docker.md
  docs/shadow_config_spec.md
  src/lib/shim/shim.c
  src/lib/shim/shim_shmem.c
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/manager.c
  src/main/core/scheduler/scheduler_policy_host_steal.c
  src/main/core/support/configuration.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/shadow.c
  src/main/host/syscall/shadow.h
  src/main/host/syscall_handler.c
  src/main/host/thread_ptrace.c
  src/main/host/thread_ptrace.h
  src/main/utility/fork_proxy.c
  src/main/utility/fork_proxy.h
  src/test/CMakeLists.txt
  src/test/determinism/CMakeLists.txt
  src/test/determinism/determinism1_compare.cmake
  src/test/determinism/determinism2_compare.cmake
  src/test/epoll/test_epoll.c
  src/test/file/CMakeLists.txt
  src/test/futex/test_futex.c
  src/test/itimer/CMakeLists.txt
  src/test/memory/CMakeLists.txt
  src/test/poll/CMakeLists.txt
  src/test/poll/test_poll.rs
  src/test/regression/CMakeLists.txt
  src/test/select/CMakeLists.txt
  src/test/signal/CMakeLists.txt
  src/test/sleep/test_sleep.rs
  src/test/test_common.c
  src/test/test_common.h
  src/test/test_utils.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#2224 Fix default value of 'use_syscall_counters' in docs
  docs/shadow_config_spec.md
Labels: Component: Documentation

#2225 Simplified the logging init, and other small code simplifications
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.c
  src/main/core/main.rs
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/support/configuration.rs
  src/main/host/process.c
  src/main/host/thread.c
  src/main/host/thread.h
  src/main/host/thread_preload.c
  src/main/host/thread_protected.h
  src/main/utility/mod.rs
Labels: Component: Main

#2226 Replace 'Controller' with a rust version
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/c/cbindgen-opaque.toml
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.c
  src/main/core/controller.h
  src/main/core/controller.rs
  src/main/core/main.rs
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/mod.rs
  src/main/core/sim_config.rs
  src/main/core/support/configuration.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host_parameters.h
  src/main/host/process.c
  src/main/host/process.h
  src/main/routing/dns.c
  src/main/routing/dns.h
  src/main/routing/mod.rs
  src/main/routing/network_graph.rs
  src/main/utility/utility.c
  src/main/utility/utility.h
Labels: Component: Main, Component: Build

#2234 Upgrade bindgen/cbindgen versions and fix double bindings
  .github/workflows/lint.yml
  docs/coding.md
  src/lib/logger/rust_bindings/src/bindings.rs
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/support/definitions.h
  src/main/host/syscall/format.rs
  src/main/lib.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#2236 Revert "Change random/seed/ordering behaviour to match older Shadow"
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.rs
  src/main/core/sim_config.rs
  src/main/utility/utility.c
  src/main/utility/utility.h
Labels: Component: Main, Component: Build

#2237 Replace 'execinfo.h' backtrace with a rust-generated backtrace
  src/Cargo.lock
  src/main/Cargo.toml
  src/main/bindings/c/bindings.h
  src/main/utility/mod.rs
  src/main/utility/utility.c
Labels: Type: Maintenance, Component: Main, Component: Build

#2239 Fixed typos
  docs/design_2x.md
  src/main/bindings/c/bindings.h
  src/main/utility/mod.rs
Labels: Type: Maintenance, Component: Main, Component: Documentation

#2240 Remove handle field from `LegacyDescriptor`
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor.h
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/descriptor_types.h
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/regular_file.c
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/tcp_cong_reno.c
  src/main/host/descriptor/timerfd.c
  src/main/host/network_interface.c
  src/main/host/process.rs
  src/main/host/syscall/file.c
  src/main/host/syscall/fileat.c
  src/main/host/syscall/mman.c
  src/main/host/syscall/protected.c
  src/main/host/syscall/socket.c
  src/main/host/syscall_condition.c
  src/main/host/tracker.c
  src/main/host/tracker.h
Labels: Component: Main

#2241 Renamed `descriptor_` functions to `legacydesc_`
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/compat_socket.c
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor.h
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/epoll.h
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/regular_file.c
  src/main/host/descriptor/regular_file.h
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/timerfd.c
  src/main/host/descriptor/timerfd.h
  src/main/host/descriptor/transport.c
  src/main/host/descriptor/udp.c
  src/main/host/network_interface.c
  src/main/host/process.c
  src/main/host/process.rs
  src/main/host/syscall/epoll.c
  src/main/host/syscall/fcntl.c
  src/main/host/syscall/file.c
  src/main/host/syscall/fileat.c
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/mman.c
  src/main/host/syscall/poll.c
  src/main/host/syscall/protected.c
  src/main/host/syscall/socket.c
  src/main/host/syscall/timerfd.c
  src/main/host/syscall/uio.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_handler.c
Labels: Component: Main, Component: Build

#2244 Don't warn if null pointer address isn't mapped into shadow
  src/main/host/memory_manager/memory_mapper.rs
Labels: Type: Maintenance, Component: Main

#2242 Restructure descriptors to support dup() for all descriptor/file types
  CHANGELOG
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/epoll.h
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/regular_file.c
  src/main/host/descriptor/regular_file.h
  src/main/host/descriptor/tcp.c
  src/main/host/process.c
  src/main/host/process.rs
  src/main/host/syscall/epoll.c
  src/main/host/syscall/fcntl.c
  src/main/host/syscall/file.c
  src/main/host/syscall/fileat.c
  src/main/host/syscall/handler/eventfd.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/poll.c
  src/main/host/syscall/socket.c
  src/main/host/syscall/timerfd.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall/unistd.h
  src/test/dup/test_dup.rs
Labels: Type: Enhancement, Component: Testing, Component: Main, Component: Build
