Repository shadow/shadow, pull requests merged in 2022-09, with the labels that each got.

#2393 Support `SO_TYPE`
  src/main/host/syscall/socket.c
  src/test/socket/sockopt/test_sockopt.rs
Labels: Component: Testing, Component: Main

#2386 Add SelfContainedMutex
  src/Cargo.lock
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/scmutex.rs
  src/main/core/support/units.rs
Labels: Component: Libraries, Component: Main, Component: Build

#2401 Run tests under Miri in CI
  .github/workflows/sanitizers.yml
  src/lib/syscall-logger/src/lib.rs
  src/main/core/support/configuration.rs
  src/main/host/descriptor/mod.rs
  src/main/host/syscall/format.rs
  src/main/utility/childpid_watcher.rs
  src/main/utility/interval_map.rs
  src/main/utility/proc_maps.rs
  src/test/test_utils.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#2412 Add rust synchronization primitives needed for the scheduler
  src/main/utility/mod.rs
  src/main/utility/synchronization/count_down_latch.rs
  src/main/utility/synchronization/mod.rs
  src/main/utility/synchronization/semaphore.rs
Labels: Component: Main

#2413 Exclude semaphore tests from miri
  src/main/utility/synchronization/semaphore.rs
Labels: Type: Bug, Component: Main

#2415 Fix Box::from_raw `unused_must_use` warning in rust 1.64
  src/main/host/syscall/handler/mod.rs
  src/main/network/router/token_bucket.rs
  src/main/utility/byte_queue.rs
  src/main/utility/counter.rs
Labels: Component: Main

#2416 Rearrange scheduler-related code, and add scheduler wrapper
  docs/shadow_config_spec.md
  src/main/core/manager.rs
  src/main/core/scheduler/mod.rs
  src/main/core/scheduler/pools/bounded.rs
  src/main/core/scheduler/pools/mod.rs
  src/main/core/scheduler/thread_per_host.rs
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Documentation

#2420 Use bear instead of cmake to generate compile_commands.json
  CMakeLists.txt
  docs/coding.md
  setup
Labels: Component: Build, Component: Documentation

#2421 Run rust unit tests (including doc tests)
  src/CMakeLists.txt
  src/main/lib.rs
Labels: Component: Main, Component: Build

#2417 Configure cmake policies
  CMakeLists.txt
Labels: Component: Build

#2422 Fix Rust coverage build
  .github/workflows/coverage.yml
  setup
  src/CMakeLists.txt
  src/Cargo.lock
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/shadow_spinlock.c
  src/lib/shadow-shim-helper-rs/shim_shmem.c
  src/lib/shadow-shim-helper-rs/shim_shmem.h
  src/lib/shadow-shim-helper-rs/src/lib.rs
  src/lib/shim/shim_seccomp.c
  src/lib/shmem/src/lib.rs
  src/lib/tsc/src/lib.rs
  src/main/cshadow.rs
  src/main/host/host.c
  src/main/host/process.c
  src/main/host/thread.c
  src/main/lib.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#2423 Use "extern crate" to force linking otherwise-unused crates
  src/lib/shadow-shim-helper-rs/src/lib.rs
  src/lib/shmem/src/lib.rs
  src/lib/tsc/src/lib.rs
  src/main/lib.rs
Labels: Component: Libraries, Component: Main

#2424 Lint rust documentation in CI
  .github/workflows/lint.yml
  src/lib/shadow-shim-helper-rs/shim_helper.h
  src/lib/shadow-shim-helper-rs/src/signals.rs
  src/lib/shadow-shim-helper-rs/src/simulation_time.rs
  src/main/utility/synchronization/count_down_latch.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#2427 miri tests: pin rust nightly version
  .github/workflows/ci_maintenance.yml
  .github/workflows/sanitizers.yml
Labels: Component: Testing
