Repository shadow/shadow, pull requests merged in 2022-10, with the labels that each got.

#2429 Run C compiler in parallel
  src/Cargo.lock
  src/lib/logger/Cargo.toml
  src/lib/shadow-build-common/Cargo.toml
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shmem/Cargo.toml
  src/lib/tsc/Cargo.toml
  src/main/Cargo.toml
Labels: Component: Libraries, Component: Main, Component: Build

#2442 Bump system deps
  src/Cargo.lock
  src/lib/logger/build.rs
  src/lib/shadow-build-common/Cargo.toml
  src/lib/shadow-build-common/src/lib.rs
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/build.rs
  src/lib/shadow-shim-helper-rs/shim_shmem.c
  src/lib/shadow-shim-helper-rs/shim_shmem.h
  src/lib/shmem/build.rs
  src/lib/tsc/Cargo.toml
  src/lib/tsc/build.rs
  src/main/Cargo.toml
  src/main/build.rs
Labels: Component: Libraries, Component: Main, Component: Build

#2443 cmake: set C compiler debug/release flags globally
  CMakeLists.txt
  src/test/CMakeLists.txt
Labels: Component: Testing, Component: Build

#2444 Upgrade from clap 3 to 4
  src/Cargo.lock
  src/main/Cargo.toml
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Build

#2445 Only set an explicit target platform on coverage builds
  src/CMakeLists.txt
Labels: Component: Build

#2446 Use formatted help output
  src/main/core/main.rs
Labels: Component: Main

#2430 Remove host lock
  src/main/core/manager.rs
  src/main/cshadow.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
Labels: Component: Main

#2425 Always rebuild bindings
  .dockerignore
  .github/workflows/lint.yml
  .gitignore
  CMakeLists.txt
  ci/container_scripts/install_deps.sh
  docs/coding.md
  docs/install_dependencies.md
  setup
  src/CMakeLists.txt
  src/lib/logger/Cargo.toml
  src/lib/logger/build.rs
  src/lib/logger/src/bindings.rs
  src/lib/logger/src/lib.rs
  src/lib/shadow-build-common/Cargo.toml
  src/lib/shadow-build-common/src/lib.rs
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/build.rs
  src/lib/shmem/Cargo.toml
  src/lib/shmem/build.rs
  src/lib/shmem/src/bindings.rs
  src/main/Cargo.toml
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/build.rs
  src/main/cshadow.rs
  src/main/lib.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#2449 Disable 'test_shortest_path' test under miri
  src/main/network/network_graph.rs
Labels: Component: Main

#2453 Allow empty iovecs in readv and writev
  src/main/host/syscall/uio.c
Labels: Type: Bug, Component: Main

#2450 Move HostId to Rust
  .dockerignore
  .gitignore
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/build.rs
  src/lib/shadow-shim-helper-rs/shim_helper.h
  src/lib/shadow-shim-helper-rs/shim_shmem.c
  src/lib/shadow-shim-helper-rs/shim_shmem.h
  src/lib/shadow-shim-helper-rs/src/lib.rs
  src/lib/shim/shim_signals.c
  src/main/build.rs
  src/main/core/manager.rs
  src/main/core/support/definitions.h
  src/main/core/work/event.rs
  src/main/core/work/task.rs
  src/main/core/worker.c
  src/main/core/worker.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
  src/main/host/host_parameters.h
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
  src/main/host/thread.c
  src/main/host/thread.h
  src/main/host/thread.rs
  src/main/routing/address.c
  src/main/routing/address.h
  src/main/routing/dns.c
  src/main/routing/dns.h
  src/main/utility/mod.rs
Labels: Component: Libraries, Component: Main, Component: Build

#2455 Add rust wrappers for open and openat syscalls
  src/main/build.rs
  src/main/host/syscall/format.rs
  src/main/host/syscall/handler/file.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall_handler.c
Labels: Component: Main

#2454 Fix more readv/writev bugs and enable lossless+loopback iov tcp tests
  src/main/host/syscall/uio.c
  src/test/tcp/CMakeLists.txt
Labels: Type: Bug, Component: Testing, Component: Main, Component: Build

#2456 Return a netmask in `getifaddrs()`
  src/lib/shim/shim_api_ifaddrs.c
  src/test/ifaddrs/test_ifaddrs.rs
Labels: Type: Bug, Component: Libraries, Component: Testing

#2459 Replace shim logger's usage of `gmtime_r()`
  src/lib/shim/shim_logger.c
  src/lib/shim/shim_sys.c
Labels: Type: Bug, Component: Libraries

#2460 Fix readv/writev for regular files, and support preadv and pwritev
  src/lib/libc_preload/gen_syscall_wrappers_c.py
  src/lib/libc_preload/syscall_wrappers.c
  src/main/host/syscall/uio.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall/unistd.h
  src/test/file/test_file.c
Labels: Type: Bug, Component: Libraries, Component: Testing, Component: Main

#2461 Build an rlib for shadow-rs
  src/main/Cargo.toml
  src/main/core/support/units.rs
  src/main/host/context.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/syscall_types.rs
  src/main/utility/enum_passthrough.rs
  src/main/utility/interval_map.rs
Labels: Component: Main, Component: Build

#2464 Extend 'rust-unit-tests' timeout
  src/CMakeLists.txt
Labels: Component: Build

#2463 Cleanup scheduler-related code
  src/main/core/scheduler/mod.rs
  src/main/core/scheduler/pools/bounded.rs
  src/main/core/scheduler/pools/unbounded.rs
  src/main/utility/synchronization/semaphore.rs
Labels: Component: Main

#2468 open, openat: use manual wrappers to make mode deterministic
  src/lib/libc_preload/gen_syscall_wrappers_c.py
  src/lib/libc_preload/libc_impls.c
  src/lib/libc_preload/syscall_wrappers.c
Labels: Component: Libraries

#2465 bindgen and cbindgen: put generated files in build dir
  .dockerignore
  .gitignore
  src/lib/logger/build.rs
  src/lib/logger/src/lib.rs
  src/lib/shadow-shim-helper-rs/build.rs
  src/lib/shadow-shim-helper-rs/shim_shmem.h
  src/lib/shmem/build.rs
  src/main/build.rs
  src/main/lib.rs
Labels: Component: Libraries, Component: Main

#2472 SelfContainedMutex: avoid wake operations when there are no waiters
  src/Cargo.lock
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/src/scmutex.rs
Labels: Component: Libraries, Component: Build

#2471 Move build info
  CMakeLists.txt
  build-info.h.in
  config.h.in
  src/main/build.rs
  src/main/core/main.c
  src/main/core/main.h
  src/main/core/main.rs
  src/main/main.c
Labels: Component: Main, Component: Build

#2447 Allow for sourcing executables from $PATH
  CHANGELOG
  docs/shadow_config_spec.md
  src/Cargo.lock
  src/main/Cargo.toml
  src/main/core/sim_config.rs
  src/test/compressed-graph/compressed-graph.yaml
  src/test/regression/sigkill_self.yaml
  src/test/regression/small_stop_time.yaml
  src/test/tor/minimal/CMakeLists.txt
Labels: Component: Testing, Component: Main, Component: Build, Component: Documentation

#2469 Update versions used in the CI workflows
  .github/workflows/run_tor.yml
  .github/workflows/sanitizers.yml
  ci/container_scripts/install_extra_deps.sh
Labels: Component: Testing

#2474 Add signal handler to flush logger on SIGINT/SIGTERM
  src/Cargo.lock
  src/main/Cargo.toml
  src/main/core/main.rs
Labels: Component: Main, Component: Build

#2467 Use thread park/unpark instead of semaphores in work pools
  src/main/core/scheduler/pools/bounded.rs
  src/main/core/scheduler/pools/unbounded.rs
  src/main/utility/synchronization/mod.rs
  src/main/utility/synchronization/thread_parking.rs
Labels: Component: Main

#2476 Support the 'bounded' thread pool tests under miri
  src/main/core/scheduler/pools/bounded.rs
Labels: Component: Main

#2480 Log hostname instead of null pointer
  src/main/host/host.c
Labels: Type: Bug, Component: Main

#2479 Fix order of operations in codel control law
  src/main/routing/router_queue_codel.c
Labels: Type: Bug, Component: Main

#2475 Add Rust wrappers for the shmem allocator
  src/Cargo.lock
  src/lib/shmem/Cargo.toml
  src/lib/shmem/build.rs
  src/lib/shmem/shmem_allocator.c
  src/lib/shmem/shmem_allocator.h
  src/lib/shmem/src/allocator.rs
  src/lib/shmem/src/lib.rs
Labels: Component: Libraries, Component: Build

#2481 Align timer events in 1-second increments
  src/main/host/timer.rs
Labels: Component: Main

#2485 Update CI to use new output format
  .github/workflows/coverage.yml
  .github/workflows/run_tests.yml
  .github/workflows/run_tor.yml
Labels: Component: Testing

#2488 Fix access mode for stdin
  src/main/host/process.c
  src/test/CMakeLists.txt
  src/test/Cargo.toml
  src/test/stdio/CMakeLists.txt
  src/test/stdio/stdio.yaml
  src/test/stdio/test_stdio.rs
Labels: Type: Bug, Component: Testing, Component: Main, Component: Build

#2486 Refactor Rust Thread
  src/main/core/worker.rs
  src/main/host/context.rs
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/thread.rs
Labels: Component: Main

#2489 Add BitTorrent and Node.js examples to compatibility notes
  docs/compatibility_notes.md
Labels: Component: Documentation

#2484 add RootedRcWeak
  src/lib/shadow-shim-helper-rs/src/rootedcell/rc.rs
Labels: Component: Libraries

#2493 Add NGINX example/test
  CMakeLists.txt
  ci/container_scripts/test.sh
  docs/compatibility_notes.md
  examples/CMakeLists.txt
  examples/nginx/CMakeLists.txt
  examples/nginx/nginx.conf
  examples/nginx/run.sh
  examples/nginx/shadow.yaml
Labels: Component: Build, Component: Documentation

#2494 Change default scheduler to 'thread-per-core'
  CHANGELOG
  docs/shadow_config_spec.md
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Documentation, Tag: Performance

#2473 Convert router to rust
  src/main/build.rs
  src/main/core/worker.c
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/network_interface.c
  src/main/host/network_interface.h
  src/main/host/protocol.h
  src/main/host/syscall/socket.c
  src/main/network/mod.rs
  src/main/network/packet.rs
  src/main/network/relay/mod.rs
  src/main/network/relay/token_bucket.rs
  src/main/network/router/codel_queue.rs
  src/main/network/router/mod.rs
  src/main/routing/packet.c
  src/main/routing/packet.h
  src/main/routing/router.c
  src/main/routing/router.h
  src/main/routing/router_queue_codel.c
  src/main/routing/router_queue_codel.h
  src/main/routing/router_queue_single.c
  src/main/routing/router_queue_single.h
  src/main/routing/router_queue_static.c
  src/main/routing/router_queue_static.h
Labels: Component: Main

#2499 Add new token bucket unit tests
  src/main/network/mod.rs
  src/main/network/relay/token_bucket.rs
  src/main/network/router/codel_queue.rs
  src/main/network/router/mod.rs
Labels: Type: Maintenance, Component: Main

#2495 setup: Support --compile-commands in incremental builds
  docs/coding.md
  setup
Labels: Component: Documentation
