Repository shadow/shadow, pull requests merged in 2022-02, with the labels that each got.

#1881 Implement basic signal emulation
  src/lib/shim/CMakeLists.txt
  src/lib/shim/ipc.cc
  src/lib/shim/shadow_signals.c
  src/lib/shim/shadow_signals.h
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/shim_event.h
  src/lib/shim/shim_shmem.c
  src/lib/shim/shim_shmem.h
  src/lib/shim/shim_sys.c
  src/lib/shim/shim_syscall.c
  src/main/bindings/rust/wrapper.rs
  src/main/core/scheduler/scheduler_policy.h
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/kernel_types.h
  src/main/host/syscall/protected.c
  src/main/host/syscall/protected.h
  src/main/host/syscall/shadow.c
  src/main/host/syscall/signal.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/syscall_handler.c
  src/main/host/thread.c
  src/main/host/thread.h
  src/main/host/thread_preload.c
  src/main/host/thread_ptrace.c
  src/test/Cargo.lock
  src/test/Cargo.toml
  src/test/determinism/CMakeLists.txt
  src/test/signal/CMakeLists.txt
  src/test/signal/signals-extra.yaml
  src/test/signal/test_signals.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#1886 Add option to log syscalls
  .github/dependabot.yml
  docs/shadow_config_spec.md
  src/lib/syscall-logger/Cargo.lock
  src/lib/syscall-logger/Cargo.toml
  src/lib/syscall-logger/src/lib.rs
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/support/configuration.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
  src/main/host/syscall/eventfd.rs
  src/main/host/syscall/fcntl.rs
  src/main/host/syscall/format.rs
  src/main/host/syscall/ioctl.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall/socket.rs
  src/main/host/syscall/unistd.rs
  src/main/host/syscall_handler.c
  src/main/host/syscall_types.rs
  src/main/utility/time.rs
  src/test/CMakeLists.txt
  src/test/socket/bind/CMakeLists.txt
  src/test/tor/minimal/CMakeLists.txt
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#1892 Add ubuntu 21.10 to test matrix
  .github/workflows/run_tests.yml
  ci/run.sh
  src/test/file/test_file.c
  src/test/signal/test_signals.rs
Labels: Component: Testing

#1888 Add more uses of the 'O_CLOEXEC' flag
  src/main/host/affinity.c
  src/main/shmem/shmem_file.c
  src/main/utility/pcap_writer.c
Labels: Component: Main

#1893 _getaddrinfo_service: Make behavior on bad service name consistent
  src/lib/shim/shim_api_addrinfo.c
  src/test/resolver/test_getaddrinfo.c
Labels: Component: Libraries, Component: Testing

#1896 Add Fedora 35 to supported releases and CI tests
  .github/workflows/run_tests.yml
  ci/run.sh
  docs/ci.md
  docs/supported_platforms.md
Labels: Component: Testing, Component: Documentation

#1897 Added documentation and examples links to top of README
  README.md
Labels: Component: Documentation

#1898 Log the thread id during strace logging
  src/lib/syscall-logger/src/lib.rs
  src/main/bindings/c/bindings.h
  src/main/host/syscall/format.rs
  src/main/host/syscall_handler.c
  src/main/host/thread.rs
Labels: Component: Libraries, Component: Main

#1900 Simplify bindings for MemoryManager object
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/process.rs
Labels: Component: Main, Component: Build

#1903 Print fewer non-graphic characters in strace string
  src/main/host/syscall/format.rs
Labels: Component: Main

#1904 Switch use of reader() with memory_ref_prefix() in strace string logger
  src/main/host/syscall/format.rs
Labels: Component: Main

#1902 Rust getrandom syscall handler
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings.h
  src/main/host/syscall/mod.rs
  src/main/host/syscall/random.c
  src/main/host/syscall/random.h
  src/main/host/syscall/random.rs
  src/main/host/syscall_handler.c
Labels: Type: Maintenance, Component: Main, Component: Build

#1906 Update versions of tools used in CI
  .github/workflows/run_tor.yml
  ci/container_scripts/install_extra_deps.sh
Labels: Component: Testing

#1907 Allow setting a sigaction for realtime signals
  src/main/host/syscall/signal.c
Labels: Component: Main

#1905 Improve error message when parsing yaml process arguments
  src/main/core/support/configuration.rs
Labels: Component: Main

#1911 Implement sigaltstack
  src/lib/shim/shadow_signals.h
  src/lib/shim/shim.c
  src/lib/shim/shim_shmem.c
  src/lib/shim/shim_shmem.h
  src/lib/shim/shim_syscall.c
  src/main/host/syscall/signal.c
  src/test/signal/test_signals.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#1916 Clean up stale shmem files without procps lib
  ci/container_scripts/install_deps.sh
  cmake/FindPROCPS.cmake
  docs/install_dependencies.md
  src/CMakeLists.txt
  src/main/CMakeLists.txt
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/main.rs
  src/main/shmem/cleanup.rs
  src/main/shmem/mod.rs
  src/main/shmem/shmem_cleanup.c
  src/main/shmem/shmem_cleanup.h
  src/main/shmem/shmem_file.c
Labels: Type: Maintenance, Component: Main, Component: Build, Component: Documentation

#1918 Bump clap from 3.0.14 to 3.1.0 in /src/main
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Build

#1910 Add select syscall handler and tests
  src/main/CMakeLists.txt
  src/main/host/syscall/poll.c
  src/main/host/syscall/poll.h
  src/main/host/syscall/select.c
  src/main/host/syscall/select.h
  src/main/host/syscall_handler.c
  src/test/CMakeLists.txt
  src/test/Cargo.toml
  src/test/select/CMakeLists.txt
  src/test/select/select.yaml
  src/test/select/test_select.rs
  src/test/tcp/CMakeLists.txt
Labels: Type: Enhancement, Component: Testing, Component: Main, Component: Build

#1920 If strace string logging pointer is invalid, print address
  src/main/host/syscall/format.rs
Labels: Component: Main

#1921 Remove centos stream 8 libarchive workaround
  ci/container_scripts/install_deps.sh
  docs/install_dependencies.md
Labels: Component: Documentation

#1922 Docs bindings
  docs/README.md
  docs/SUMMARY.md
  docs/coding.md
  docs/developer_guide.md
Labels: Component: Documentation

#1928 Fix shm cleanup tests
  src/main/Cargo.lock
  src/main/Cargo.toml
  src/main/core/main.rs
  src/main/shmem/cleanup.rs
Labels: Component: Main, Component: Build

#1930 Fixed cargo warning (proc-macro vs crate_type)
  src/lib/syscall-logger/Cargo.toml
Labels: Component: Libraries, Component: Build

#1929 Cargo workspace
  .github/dependabot.yml
  .github/workflows/lint.yml
  src/Cargo.lock
  src/Cargo.toml
  src/lib/syscall-logger/Cargo.lock
  src/test/Cargo.lock
Labels: Component: Libraries, Component: Testing, Component: Build

#1933 Add golang tests
  ci/container_scripts/build_and_install.sh
  ci/container_scripts/install_deps.sh
  ci/container_scripts/install_extra_deps.sh
  ci/container_scripts/test.sh
  docs/developer_guide.md
  setup
  src/test/CMakeLists.txt
  src/test/golang/CMakeLists.txt
  src/test/golang/gc.yaml
  src/test/golang/goroutines.yaml
  src/test/golang/simple_http.yaml
  src/test/golang/test_gc.go
  src/test/golang/test_goroutines.go
  src/test/golang/test_simple_http.go
Labels: Component: Testing, Component: Build, Component: Documentation

#1937 Moved 'progress' option from the 'experimental' section to 'general'
  docs/shadow_config_spec.md
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Documentation
