Repository shadow/shadow, pull requests merged in 2022-12, with the labels that each got.

#2567 SelfContainedMutex: move from shadow-shim-helper-rs to shadow_shmem
  src/Cargo.lock
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shmem/Cargo.toml
  src/lib/shmem/src/lib.rs
  src/lib/shmem/src/scmutex.rs
  src/lib/shmem/tests/scmutex-tests.rs
  src/main/host/host.rs
Labels: Component: Libraries, Component: Main, Component: Build

#2583 Host::add_application: take Rust objects and remove unsafe
  src/main/core/manager.rs
  src/main/host/host.rs
Labels: Component: Main

#2584 Move process list to Rust Host and delete HostCInternal
  src/main/build.rs
  src/main/core/manager.rs
  src/main/host/descriptor/compat_socket.c
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor_types.h
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/epoll.h
  src/main/host/descriptor/regular_file.c
  src/main/host/descriptor/regular_file.h
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/timerfd.c
  src/main/host/descriptor/udp.c
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
  src/main/host/network_interface.c
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
  src/main/host/status_listener.c
  src/main/host/status_listener.h
  src/main/host/syscall/futex.c
  src/main/host/syscall/protected.h
  src/main/host/syscall/signal.c
  src/main/host/syscall/socket.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall_handler.c
  src/main/host/syscall_handler.h
  src/main/routing/packet.c
Labels: Component: Main

#2585 Remove "Tor Tests" ci badge from readme
  README.md
Labels: Component: Documentation

#2588 Add `SyscallHandler::legacy_syscall` helper function
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/file.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/mman.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
Labels: Component: Main

#2591 Reset changelog
  CHANGELOG.md
  docs/maintainer_playbook.md
Labels: Component: Documentation

#2575 Extra Tests CI: Improve Rust caching
  .github/workflows/coverage.yml
  .github/workflows/extra_tests.yml
  .github/workflows/run_tests.yml
Labels: Component: Testing

#2594 Update network interface association/disassociation
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/udp.c
  src/main/host/host.rs
  src/main/host/network_interface.c
  src/main/host/network_interface.h
  src/main/host/network_interface.rs
  src/main/host/syscall/socket.c
Labels: Component: Main

#2595 Add initial version of the `TCP` wrapper
  src/main/build.rs
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/tcp.c
  src/main/host/host.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/socket.c
  src/main/utility/legacy_callback_queue.rs
  src/main/utility/mod.rs
Labels: Component: Main

#2598 Remove rust code that is no longer used
  src/main/core/support/configuration.rs
  src/main/core/support/units.rs
  src/main/core/worker.rs
  src/main/utility/synchronization/mod.rs
  src/main/utility/synchronization/semaphore.rs
Labels: Component: Main

#2599 Support `getsockname`/`getpeername()` for tcp wrapper
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/syscall/handler/socket.rs
Labels: Component: Main

#2600 Support `ioctl()` for tcp wrapper
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/ioctl.c
Labels: Component: Main

#2603 Add support for rust sockets in the network interface
  src/main/build.rs
  src/main/host/descriptor/compat_socket.c
  src/main/host/descriptor/compat_socket.h
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/network_interface.c
  src/main/utility/legacy_callback_queue.rs
Labels: Component: Main

#2601 Don't refcount Process
  src/main/host/descriptor/tcp.c
  src/main/host/host.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
  src/main/host/syscall_condition.c
  src/main/host/syscall_handler.c
  src/main/host/thread.c
  src/main/utility/mod.rs
  src/test/Cargo.toml
  src/test/itimer/CMakeLists.txt
  src/test/itimer/itimer_scheduled_after_exit.yaml
  src/test/itimer/test_itimer.rs
  src/test/itimer/test_itimer_scheduled_after_exit.rs
  src/test/test_utils.rs
Labels: Component: Testing, Component: Main, Component: Build

#2606 Remove `Host::setup()`
  src/main/core/manager.rs
  src/main/host/host.rs
Labels: Component: Main

#2605 Add examples for dynamic shadow config generation
  docs/SUMMARY.md
  docs/shadow_config_complex.md
  docs/shadow_config_overview.md
  docs/shadow_config_spec.md
Labels: Component: Documentation

#2609 Changed systemctl TasksMax Parameter
  docs/system_configuration.md
Labels: Component: Documentation

#2607 Move host networking to new `NetworkNamespace` object
  src/main/host/host.rs
  src/main/host/network_interface.rs
  src/main/host/syscall/handler/socket.rs
  src/main/network/mod.rs
  src/main/network/net_namespace.rs
Labels: Component: Main

#2602 emulate sched_{get,set}affinity and `sysconf(_SC_NPROCESSORS_*)`
  src/main/host/descriptor/regular_file.c
  src/main/host/host.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/sched.rs
  src/main/host/syscall_handler.c
  src/test/CMakeLists.txt
  src/test/Cargo.toml
  src/test/sched_affinity/CMakeLists.txt
  src/test/sched_affinity/sched_affinity.yaml
  src/test/sched_affinity/test_sched_affinity.rs
Labels: Component: Testing, Component: Main, Component: Build

#2613 TypedPluginPtr: quote code in doc comment
  src/main/host/syscall_types.rs
Labels: Component: Main

#2616 regular_file.c: don't treat 0 as a bad file descriptor
  src/main/host/descriptor/regular_file.c
Labels: Component: Main

#2610 maintainer playbook: Handle project-issues
  docs/maintainer_playbook.md
Labels: Component: Documentation

#2614 Enforce clippy
  .github/workflows/ci_maintenance.yml
  .github/workflows/coverage.yml
  .github/workflows/extra_tests.yml
  .github/workflows/lint.yml
  .github/workflows/run_tests.yml
  Dockerfile
  ci/container_scripts/install_extra_deps.sh
  ci/run.sh
  docs/coding_style.md
  rust-toolchain.toml
  src/lib/shadow-shim-helper-rs/src/emulated_time.rs
  src/lib/shadow-shim-helper-rs/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/notnull.rs
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shadow-shim-helper-rs/src/simulation_time.rs
  src/lib/shmem/src/allocator.rs
  src/lib/tsc/src/lib.rs
  src/lib/vasi/src/lib.rs
  src/main/core/logger/log_wrapper.rs
  src/main/core/manager.rs
  src/main/core/scheduler/pools/bounded.rs
  src/main/core/scheduler/pools/unbounded.rs
  src/main/core/work/task.rs
  src/main/core/worker.rs
  src/main/host/context.rs
  src/main/host/cpu.rs
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/host.rs
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/network_interface.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall_condition.rs
  src/main/host/timer.rs
  src/main/lib.rs
  src/main/network/net_namespace.rs
  src/main/network/router/mod.rs
  src/main/utility/byte_queue.rs
  src/main/utility/childpid_watcher.rs
  src/main/utility/legacy_callback_queue.rs
  src/main/utility/mod.rs
  src/main/utility/pod.rs
  src/main/utility/sockaddr.rs
  src/test/socket/sendto_recvfrom/test_sendto_recvfrom.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Documentation

#2611 Support `bind()` for tcp wrapper
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
Labels: Component: Main

#2612 Make the Rust Process own the C Process
  src/lib/shadow-build-common/src/lib.rs
  src/lib/shadow-shim-helper-rs/build.rs
  src/lib/syscall-logger/src/lib.rs
  src/main/build.rs
  src/main/core/worker.rs
  src/main/host/context.rs
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/host.rs
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
  src/main/host/syscall/format.rs
  src/main/host/syscall/handler/eventfd.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/random.rs
  src/main/host/syscall/handler/sched.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/time.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/mman.c
  src/main/host/syscall/process.c
  src/main/host/syscall/shadow.c
  src/main/host/syscall/socket.c
  src/main/utility/mod.rs
Labels: Component: Libraries, Component: Main

#2623 Rename borrowing accessors
  src/lib/syscall-logger/src/lib.rs
  src/main/core/worker.rs
  src/main/host/host.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/process.rs
  src/main/host/syscall/format.rs
  src/main/host/syscall/handler/eventfd.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/random.rs
  src/main/host/syscall/handler/sched.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/sysinfo.rs
  src/main/host/syscall/handler/time.rs
  src/main/host/syscall/handler/unistd.rs
Labels: Component: Libraries, Component: Main

#2627 Changed two debug logs to trace
  src/main/host/syscall/handler/socket.rs
Labels: Component: Main

#2626 Add rust `TcpSocket` to network interface as `LegacySocket`
  src/main/host/descriptor/socket/inet/mod.rs
Labels: Component: Main

#2624 Simplify syscall logging
  src/Cargo.lock
  src/lib/syscall-logger/Cargo.toml
  src/lib/syscall-logger/src/lib.rs
  src/main/build.rs
  src/main/core/support/configuration.rs
  src/main/host/process.rs
  src/main/host/syscall/format.rs
  src/main/host/syscall/formatter.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall/type_formatting.rs
  src/main/host/syscall_types.rs
Labels: Component: Libraries, Component: Main, Component: Build

#2628 Remove unused router code
  src/main/core/worker.rs
  src/main/network/router/mod.rs
Labels: Type: Maintenance, Component: Main

#2629 Use 0 as last refill time for new token buckets
  src/main/network/relay/token_bucket.rs
Labels: Type: Enhancement, Component: Main

#2630 Fix an issue with the `_test_implicit_bind` test
  src/test/bindc/test_bind.c
Labels: Component: Testing

#2633 TGen speed test threshold
  docs/extra_tests.md
  src/test/tgen/fixed_duration/verify.sh
Labels: Component: Testing, Component: Documentation

#2620 Issue 2619; fixes TCP header sizes in pcap files
  src/main/build.rs
  src/main/network/packet.rs
Labels: Component: Main
