Repository shadow/shadow, pull requests merged in 2022-05, with the labels that each got.

#2105 Reduce usage of SimulationTime in favor of EmulatedTime
  src/main/bindings/c/bindings.h
  src/main/bindings/c/cbindgen-opaque.toml
  src/main/bindings/c/cbindgen.toml
  src/main/bindings/rust/wrapper.rs
  src/main/core/scheduler/scheduler_policy_host_single.c
  src/main/core/scheduler/scheduler_policy_thread_single.c
  src/main/core/support/configuration.rs
  src/main/core/support/definitions.h
  src/main/core/support/emulated_time.rs
  src/main/core/support/simulation_time.rs
  src/main/core/work/event.c
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/timer.c
  src/main/host/network_interface.c
  src/main/host/process.c
  src/main/host/syscall/epoll.c
  src/main/host/syscall/futex.c
  src/main/host/syscall/poll.c
  src/main/host/syscall/time.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/syscall_handler.c
  src/main/host/thread_preload.c
  src/main/host/thread_ptrace.c
  src/main/host/tracker.c
  src/main/routing/router_queue_codel.c
Labels: Component: Main

#2110 Rename 'File' to 'RegularFile'
  src/main/CMakeLists.txt
  src/main/host/descriptor/file.c
  src/main/host/descriptor/file.h
  src/main/host/descriptor/regular_file.c
  src/main/host/descriptor/regular_file.h
  src/main/host/host.c
  src/main/host/process.c
  src/main/host/syscall/fcntl.c
  src/main/host/syscall/file.c
  src/main/host/syscall/fileat.c
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/mman.c
  src/main/host/syscall/poll.c
  src/main/host/syscall/uio.c
  src/main/host/syscall/unistd.c
Labels: Type: Maintenance, Component: Main, Component: Build

#2077 Update syscall latency modeling default parameters
  docs/shadow_config_spec.md
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Documentation

#2111 Clean up and extend time types
  src/main/bindings/c/bindings.h
  src/main/bindings/c/cbindgen-opaque.toml
  src/main/bindings/c/cbindgen.toml
  src/main/bindings/rust/wrapper.rs
  src/main/core/logger/shadow_logger.rs
  src/main/core/support/emulated_time.rs
  src/main/core/support/mod.rs
  src/main/core/support/simulation_time.rs
  src/main/core/worker.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/format.rs
  src/main/host/syscall/futex.c
  src/main/host/syscall/handler/sysinfo.rs
  src/main/host/syscall/time.c
  src/main/utility/status_bar.rs
Labels: Component: Main

#2115 Fix rustdoc warnings
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/host/memory_manager/mod.rs
  src/main/lib.rs
  src/main/utility/childpid_watcher.rs
Labels: Type: Maintenance, Component: Main

#2118 Rename 'GenericFile' to 'File'
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/eventfd.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
Labels: Type: Maintenance, Component: Main, Component: Build

#2116 Changed the process of registering as a reader/writer for a buffer
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/shared_buf.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
  src/main/utility/event_queue.rs
Labels: Type: Enhancement, Component: Main

#2120 Rename 'PipeFile', 'UnixSocketFile', and 'EventFdFile'
  src/main/host/descriptor/eventfd.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/socket/abstract_unix_ns.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/eventfd.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
Labels: Type: Maintenance, Component: Main

#2122 Rename 'Socket' and 'SocketFile'
  src/main/bindings/rust/CMakeLists.txt
  src/main/host/descriptor/compat_socket.c
  src/main/host/descriptor/compat_socket.h
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/socket.h
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/udp.c
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/socket.c
Labels: Type: Maintenance, Component: Main, Component: Build

#2123 Rename 'OwnedLegacyDescriptor' to 'CountedLegacyDescriptorRef'
  src/main/host/descriptor/mod.rs
  src/main/host/process.rs
Labels: Type: Maintenance, Component: Main

#2127 Add file/descriptor diagram in documentation
  docs/assets/files-and-descriptors.svg
  docs/coding.md
  mdbook/custom.css
Labels: Component: Documentation

#2126 Propagate host loglevel to shim logger
  src/main/core/manager.c
Labels: Component: Main

#2129 Upgrade rust dependencies (cargo update)
  src/Cargo.lock
Labels: Type: Maintenance, Component: Build

#2131 Improve documentation diagram colors when switching themes
  docs/assets/files-and-descriptors.svg
  mdbook/custom.css
Labels: Component: Documentation

#2121 Split Timer into Timer and TimerFd
  src/main/CMakeLists.txt
  src/main/core/support/definitions.h
  src/main/host/descriptor/timer.c
  src/main/host/descriptor/timer.h
  src/main/host/descriptor/timerfd.c
  src/main/host/descriptor/timerfd.h
  src/main/host/host.c
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/protected.c
  src/main/host/syscall/protected.h
  src/main/host/syscall/time.c
  src/main/host/syscall/timerfd.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/syscall_handler.c
  src/main/host/thread.c
  src/main/host/timer.c
  src/main/host/timer.h
  src/test/timerfd/test_timerfd.c
Labels: Component: Testing, Component: Main, Component: Build

#2135 Timer and TimerFd: report 0 remaining time after expiration
  src/main/host/descriptor/timerfd.c
  src/main/host/timer.c
  src/main/host/timer.h
  src/test/timerfd/test_timerfd.c
Labels: Component: Testing, Component: Main

#2136 Make time arithmetic more explicit
  src/main/bindings/c/bindings.h
  src/main/core/scheduler/scheduler_policy_host_single.c
  src/main/core/scheduler/scheduler_policy_thread_single.c
  src/main/core/support/definitions.h
  src/main/core/support/emulated_time.rs
  src/main/core/worker.c
  src/main/host/descriptor/timerfd.c
  src/main/host/process.c
Labels: Component: Main

#2138 Support logging syscalls with no arguments
  src/lib/syscall-logger/src/lib.rs
  src/main/host/syscall/format.rs
Labels: Type: Bug, Component: Libraries, Component: Main

#2132 Add tor 0.4.7.x series and remove EOL tor 0.3.5.18 to/from CI tests
  .github/workflows/run_tor.yml
Labels: Component: Testing

#2130 Initialize `tcp->send.unacked` as 0 not 1
  src/main/host/descriptor/tcp.c
Labels: Type: Bug, Component: Main

#2064 Allow "null" values for some cli options
  src/main/core/support/configuration.rs
Labels: Component: Main

#2145 Change proc map inode from i32 to u64
  src/main/utility/proc_maps.rs
Labels: Type: Bug, Component: Main

#2140 Migrate Task to Rust
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/mod.rs
  src/main/core/scheduler/scheduler.h
  src/main/core/scheduler/scheduler_policy.h
  src/main/core/work/event.c
  src/main/core/work/event.h
  src/main/core/work/message.c
  src/main/core/work/message.h
  src/main/core/work/mod.rs
  src/main/core/work/task.c
  src/main/core/work/task.h
  src/main/core/work/task.rs
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
  src/main/host/descriptor/descriptor_types.h
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/regular_file.h
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/timerfd.c
  src/main/host/descriptor/timerfd.h
  src/main/host/host.h
  src/main/host/host.rs
  src/main/host/network_interface.c
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/clone.c
  src/main/host/syscall/timerfd.c
  src/main/host/syscall_condition.c
  src/main/host/timer.c
  src/main/host/timer.h
  src/main/host/tracker.c
Labels: Component: Main, Component: Build

#2148 Move MAGIC to a helper
  src/main/core/work/task.rs
  src/main/utility/mod.rs
Labels: Component: Main

#2150 Add helper struct for counting allocations and deallocations
  src/main/core/work/task.rs
  src/main/utility/mod.rs
Labels: Component: Main

#1940 Support retransmission of SYN packets
  src/main/host/descriptor/tcp.c
Labels: Component: Main

#2128 Move quickstart, add context to quicklinks
  README.md
Labels: Component: Documentation

#2147 SyncSendPointer: be more explicit about safety
  src/main/bindings/c/bindings.h
  src/main/core/work/task.rs
  src/main/core/worker.c
  src/main/host/descriptor/eventfd.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/timerfd.c
  src/main/host/network_interface.c
  src/main/host/process.c
  src/main/host/process.rs
  src/main/host/syscall_condition.c
  src/main/host/timer.c
  src/main/host/tracker.c
  src/main/utility/childpid_watcher.rs
  src/main/utility/mod.rs
  src/test/regression/CMakeLists.txt
  src/test/regression/packet_after_simulation_end.yaml
Labels: Component: Testing, Component: Main, Component: Build

#2165 Fix documentation URLs, and other misc changes
  README.md
  docs/README.md
  docs/SUMMARY.md
  docs/design_1x.md
  docs/getting_started_basic.md
  docs/getting_started_tgen.md
  docs/getting_started_tor.md
  docs/install_dependencies.md
  docs/install_shadow_with_docker.md
  docs/network_graph_overview.md
  docs/sidechannels.md
  docs/system_configuration.md
Labels: Component: Documentation

#2168 Checkout PR head
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  .github/workflows/run_tests.yml
  .github/workflows/run_tor.yml
Labels: Component: Testing

#2170 Small documentation changes
  docs/getting_started_basic.md
  docs/system_configuration.md
Labels: Component: Documentation

#1961 Added finite-sized socket accept queue
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/tcp.h
  src/main/host/syscall/socket.c
  src/test/socket/connect/test_connect.rs
  src/test/socket/listen/listen.yaml
  src/test/socket/listen/test_listen.rs
Labels: Component: Testing, Component: Main

#2173 Update 'docs/README.md'
  docs/README.md
Labels: Component: Documentation

#2171 Distinguish between sources of death by SIGKILL
  src/lib/shim/shim_signals.c
  src/main/host/process.c
  src/test/regression/CMakeLists.txt
  src/test/regression/sigkill_self.yaml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#2177 Support Fedora 36
  .github/workflows/run_tests.yml
  ci/run.sh
  docs/supported_platforms.md
Labels: Component: Testing, Component: Documentation

#2176 Convert Timer to Rust
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/support/emulated_time.rs
  src/main/core/work/task.rs
  src/main/core/worker.rs
  src/main/host/descriptor/timerfd.c
  src/main/host/mod.rs
  src/main/host/syscall/protected.h
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/timer.c
  src/main/host/timer.h
  src/main/host/timer.rs
Labels: Component: Main, Component: Build

#2182 Misc changes around unix sockets
  src/main/bindings/c/bindings.h
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/shared_buf.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
  src/main/utility/byte_queue.rs
  src/main/utility/event_queue.rs
  src/test/pipe/test_pipe.rs
  src/test/test_utils.rs
Labels: Type: Enhancement, Component: Testing, Component: Main

#2180 Support fixed-size send buffers for unix dgram sockets
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
  src/test/socket/connect/test_connect.rs
  src/test/socket/getpeername/test_getpeername.rs
  src/test/socket/sendto_recvfrom/test_sendto_recvfrom.rs
  src/test/socket_utils.rs
Labels: Type: Bug, Component: Testing, Component: Main

#2184 Implement getitimer and setitimer
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/time.rs
  src/main/host/syscall/signal.c
  src/main/host/syscall_handler.c
  src/test/itimer/CMakeLists.txt
  src/test/itimer/itimer.yaml
  src/test/itimer/test_itimer.rs
Labels: Component: Testing, Component: Main, Component: Build

#2187 Update iPerf 2 docs now that itimer is supported
  docs/iperf2.md
Labels: Component: Documentation

#2193 Merge app/lib-specific notes into a single document
  docs/SUMMARY.md
  docs/compatibility_notes.md
  docs/curl.md
  docs/iperf2.md
  docs/iperf3.md
  docs/libopenblas.md
  docs/nginx.md
Labels: Component: Documentation

#2196 test_unix_dgram_multiple_senders: tolerate unexplained Linux behavior
  src/test/socket/sendto_recvfrom/test_sendto_recvfrom.rs
Labels: Component: Testing

#2186 Remove dynlink tests
  src/test/CMakeLists.txt
  src/test/dynlink/CMakeLists.txt
  src/test/dynlink/dynlink.test.shadow.config.yaml
  src/test/dynlink/manual_test/compile.sh
  src/test/dynlink/manual_test/plugin.c
  src/test/dynlink/manual_test/test.c
  src/test/dynlink/test_dynlink.c
  src/test/dynlink/test_dynlink_lib.c
  src/test/dynlink/test_dynlink_main.c
  src/test/dynlink/test_dynlink_main_shadow.c
  src/test/dynlink/test_dynlink_plugin.c
Labels: Component: Testing, Component: Build
