Repository shadow/shadow, pull requests merged in 2022-08, with the labels that each got.

#2312 Improve tgen / busy-loop documentation
  docs/compatibility_notes.md
  docs/getting_started_tgen.md
Labels: Component: Documentation

#2313 Update documentation URL in tor test comment
  src/test/tor/minimal/tor-minimal.yaml
Labels: Component: Testing

#2293 Add shadow test workflow with incremental builds
  .github/workflows/run_tests_incremental.yml
  ci/run.sh
  docs/ci.md
Labels: Component: Testing, Component: Documentation

#2311 Remove the 'macro' feature for 'serde_with'
  src/Cargo.lock
  src/main/Cargo.toml
Labels: Type: Maintenance, Component: Main, Component: Build

#2314 Handle busy-loops that only use rdtsc
  CHANGELOG
  src/lib/shim/shim_rdtsc.c
  src/test/regression/test_busy_wait.rs
Labels: Component: Libraries, Component: Testing

#2306 Refactor token bucket from netiface to a rust module
  docs/shadow_config_spec.md
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/support/configuration.rs
  src/main/core/support/emulated_time.rs
  src/main/core/support/simulation_time.rs
  src/main/host/descriptor/tcp.c
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/network_interface.c
  src/main/host/network_interface.h
  src/main/host/network_queuing_disciplines.c
  src/main/host/network_queuing_disciplines.h
  src/main/network/router/mod.rs
  src/main/network/router/token_bucket.rs
  src/main/routing/router.c
  src/main/routing/router.h
Labels: Type: Maintenance, Component: Main, Component: Documentation

#2320 run_tests_incremental: minor cleanup
  .github/workflows/run_tests_incremental.yml
Labels: Component: Testing

#2324 Add links between 'supported_platforms.md' and 'semver.md'
  docs/semver.md
  docs/supported_platforms.md
Labels: Component: Documentation

#2322 Support yaml merge keys and extension fields
  docs/shadow_config_overview.md
  docs/shadow_config_spec.md
  src/Cargo.lock
  src/main/Cargo.toml
  src/main/core/main.rs
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Build, Component: Documentation

#2325 Remove additional scheduler policies
  docs/shadow_config_spec.md
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings.h
  src/main/bindings/c/cbindgen.toml
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/manager.rs
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler.h
  src/main/core/scheduler/scheduler_policy.h
  src/main/core/scheduler/scheduler_policy_host_single.c
  src/main/core/scheduler/scheduler_policy_host_steal.c
  src/main/core/scheduler/scheduler_policy_thread_perhost.c
  src/main/core/scheduler/scheduler_policy_thread_perthread.c
  src/main/core/scheduler/scheduler_policy_thread_single.c
  src/main/core/scheduler/scheduler_policy_type.h
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Build, Component: Documentation

#2326 Remove src/dst host pointers from `Event`, and reference counts from `Scheduler` and `SchedulerPolicy`
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/manager.rs
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler.h
  src/main/core/scheduler/scheduler_policy.h
  src/main/core/scheduler/scheduler_policy_host_single.c
  src/main/core/work/event.c
  src/main/core/work/event.h
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/host/host.c
  src/main/host/host.h
Labels: Component: Main, Component: Build

#2327 Move the `Event` to rust
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/c/cbindgen.toml
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler.h
  src/main/core/scheduler/scheduler_policy.h
  src/main/core/scheduler/scheduler_policy_host_single.c
  src/main/core/work/event.c
  src/main/core/work/event.h
  src/main/core/work/event.rs
  src/main/core/work/mod.rs
  src/main/core/work/task.rs
  src/main/core/worker.c
  src/main/host/host.rs
Labels: Component: Main, Component: Build

#2332 Rename `EventQueue` to `CallbackQueue`
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/eventfd.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/shared_buf.rs
  src/main/host/descriptor/socket/abstract_unix_ns.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/utility/callback_queue.rs
  src/main/utility/enum_passthrough.rs
  src/main/utility/mod.rs
Labels: Type: Maintenance, Component: Main

#2328 Simplify thread
  docs/shadow_config_spec.md
  src/lib/shim/shim.c
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/support/configuration.rs
  src/main/host/managed_thread.c
  src/main/host/managed_thread.h
  src/main/host/process.c
  src/main/host/shimipc.c
  src/main/host/shimipc.h
  src/main/host/syscall/clone.c
  src/main/host/syscall/signal.c
  src/main/host/thread.c
  src/main/host/thread.h
  src/main/host/thread_preload.h
  src/main/host/thread_protected.h
Labels: Component: Libraries, Component: Main, Component: Build, Component: Documentation

#2333 Add compiler fence to `PerfTimer`
  src/main/utility/perf_timer.rs
Labels: Component: Main

#2339 Add missing `hide_short_help` to experimental option
  src/main/core/support/configuration.rs
Labels: Component: Main

#2342 Force golang tests to build serially
  src/test/golang/CMakeLists.txt
Labels: Component: Testing, Component: Build

#2343 Add tasks to the host instead of the worker
  src/main/bindings/rust/wrapper.rs
  src/main/core/worker.c
  src/main/core/worker.rs
  src/main/host/descriptor/tcp.c
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
  src/main/host/network_interface.c
  src/main/host/process.c
  src/main/host/syscall_condition.c
  src/main/host/timer.rs
  src/main/host/tracker.c
Labels: Component: Main

#2331 cmake: improve dependency processing
  CHANGELOG
  ci/container_scripts/install_deps.sh
  cmake/FindGLIB.cmake
  docs/install_dependencies.md
  docs/install_shadow.md
  setup
  src/CMakeLists.txt
  src/lib/logger/CMakeLists.txt
  src/lib/shim/CMakeLists.txt
  src/lib/shmem/CMakeLists.txt
  src/lib/tsc/CMakeLists.txt
  src/main/CMakeLists.txt
  src/test/bindc/CMakeLists.txt
  src/test/clone/CMakeLists.txt
  src/test/epoll/CMakeLists.txt
  src/test/file/CMakeLists.txt
  src/test/futex/CMakeLists.txt
  src/test/phold/CMakeLists.txt
  src/test/resolver/CMakeLists.txt
  src/test/tcp/CMakeLists.txt
  src/test/timerfd/CMakeLists.txt
  src/test/udp/CMakeLists.txt
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#2340 Move the scheduler's priority queue to rust
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/core/scheduler/scheduler_policy_host_single.c
  src/main/core/work/event.rs
  src/main/core/work/event_queue.rs
  src/main/core/work/mod.rs
Labels: Component: Main

#2344 Rename `HostSinglePolicyData` to `SchedulerPolicy` and remove vtable
  src/main/CMakeLists.txt
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler_policy.c
  src/main/core/scheduler/scheduler_policy.h
Labels: Component: Main, Component: Build

#2345 Fix use-after-free in scheduler
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler_policy.c
  src/main/core/scheduler/scheduler_policy.h
Labels: Type: Maintenance, Component: Main

#2348 Use `EmulatedTime` in `Manager` and `Controller`
  src/main/core/controller.rs
  src/main/core/manager.rs
Labels: Type: Maintenance, Component: Main

#2350 router_new: take NetworkInterface* instead of void*
  src/main/bindings/rust/wrapper.rs
  src/main/host/host.h
  src/main/host/network_interface.h
  src/main/routing/router.c
  src/main/routing/router.h
  src/main/routing/router_queue_codel.c
Labels: Component: Main

#2349 networkinterface_new: don't take Host*
  src/main/host/host.c
  src/main/host/network_interface.c
  src/main/host/network_interface.h
Labels: Component: Main

#2351 Fix name of `use_preload_libc` config option in docs
  docs/shadow_config_spec.md
Labels: Component: Documentation

#2347 Move the event queue into the host object
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/manager.rs
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler.h
  src/main/core/scheduler/scheduler_policy.c
  src/main/core/scheduler/scheduler_policy.h
  src/main/core/work/event.rs
  src/main/core/work/event_queue.rs
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host_parameters.h
Labels: Component: Main, Component: Build

#2352 Simplify misc scheduler-related code
  src/main/bindings/rust/wrapper.rs
  src/main/core/manager.rs
  src/main/core/scheduler/scheduler.c
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/host/host.c
  src/main/host/process.c
  src/main/host/process.h
Labels: Component: Main

#2354 Magic: use TypeOf instead of an arbitrary integer
  src/main/core/work/event.rs
  src/main/core/work/task.rs
  src/main/host/timer.rs
  src/main/utility/mod.rs
Labels: Component: Main

#2353 Remove O_NOFOLLOW flag when mmap file in plugin
  CHANGELOG
  src/main/host/syscall/mman.c
  src/test/memory/test_mmap.rs
Labels: Component: Testing, Component: Main

#2356 Add the `Send` marker to `Host`
  src/main/host/host.rs
Labels: Component: Main

#2359 Use nix sysconf
  src/Cargo.lock
  src/main/Cargo.toml
  src/main/core/manager.rs
  src/main/host/memory_manager/mod.rs
  src/test/Cargo.toml
Labels: Component: Testing, Component: Main, Component: Build

#2361 Move some of `Controller`'s global state to the worker module
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.rs
  src/main/core/manager.rs
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
  src/main/host/descriptor/tcp.c
  src/main/host/syscall/socket.c
  src/main/network/network_graph.rs
Labels: Component: Main

#2362 Fixed warning about unneeded `unsafe` from #2361
  src/main/core/worker.rs
Labels: Type: Bug, Component: Main

#2364 Remove unused `controller_managerFinishedCurrentRound`
  src/main/bindings/c/bindings.h
  src/main/core/controller.rs
Labels: Type: Maintenance, Component: Main

#2363 Fix UB in the controller, and move the plugin error count to the worker module
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.rs
  src/main/core/manager.rs
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
  src/main/host/process.c
  src/main/utility/status_bar.rs
Labels: Type: Enhancement, Type: Bug, Component: Main

#2367 Move the runahead data from `Controller` to `WorkerShared`
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.rs
  src/main/core/manager.rs
  src/main/core/mod.rs
  src/main/core/scheduler/mod.rs
  src/main/core/scheduler/runahead.rs
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler.h
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
Labels: Type: Maintenance, Component: Main

#2369 Protect `CountDownLatch` against spurious wakeups
  src/main/utility/count_down_latch.c
Labels: Component: Main

#2366 cmake: create a function for building rust crates into static libraries + tests
  CMakeLists.txt
  cmake/ShadowTools.cmake
  src/lib/shadow-shim-helper-rs/CMakeLists.txt
  src/main/CMakeLists.txt
Labels: Component: Libraries, Component: Main, Component: Build

#2370 Emulate PR_SET_DUMPABLE and misc improvements
  src/main/bindings/rust/wrapper.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/futex.c
  src/main/host/syscall/kernel_types.h
  src/main/host/syscall/process.c
  src/main/host/syscall/time.c
  src/main/host/syscall_handler.c
Labels: Component: Main

#2371 workflows: Replace usage of ubuntu 18.04 image with 20.04
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/run_tests.yml
  .github/workflows/run_tests_incremental.yml
  .github/workflows/run_tor.yml
Labels: Component: Testing

#2374 Fixed segfault when there are more workers than hosts
  src/main/core/scheduler/scheduler.c
Labels: Type: Bug, Component: Main

#2373 Improve design of rust global shared state
  src/main/core/controller.rs
  src/main/core/manager.rs
  src/main/core/worker.rs
Labels: Component: Main

#2375 Move `bootstrap_end_time` from `Worker` to `WorkerShared`
  src/main/bindings/c/bindings.h
  src/main/core/controller.rs
  src/main/core/support/configuration.rs
  src/main/core/worker.c
  src/main/core/worker.rs
Labels: Type: Maintenance, Component: Main

#2372 Move more global state to the worker module
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.rs
  src/main/core/manager.rs
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler.h
  src/main/core/work/event_queue.rs
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
  src/main/host/descriptor/tcp.c
  src/main/host/host.rs
  src/main/utility/childpid_watcher.rs
Labels: Component: Main, Component: Build

#2382 Add a note about DWARF error due to incompatible GDB version
  docs/debugging.md
Labels: Component: Documentation

#2381 Move small worker functions to rust
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
  src/main/host/syscall/shadow.c
  src/main/host/syscall/socket.c
  src/main/host/tracker.c
  src/main/routing/address.c
  src/main/routing/address.h
  src/main/routing/dns.c
  src/main/routing/packet.c
Labels: Type: Maintenance, Component: Main

#2360 Change host shuffle method to rust
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.rs
  src/main/core/manager.rs
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler.h
Labels: Component: Main

#2388 Updates the forked-from commit for bytes from 1.1.0 to 1.2.1
  src/Cargo.lock
  src/main/Cargo.toml
Labels: Type: Maintenance, Component: Main, Component: Build

#2385 Move simulation_time and emulated_time to shadow-shim-helper-rs
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/shim_helper.h
  src/lib/shadow-shim-helper-rs/src/emulated_time.rs
  src/lib/shadow-shim-helper-rs/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/simulation_time.rs
  src/lib/shim/shim_shmem.c
  src/lib/shim/shim_shmem.h
  src/lib/shim/shim_sys.c
  src/main/bindings/c/bindings.h
  src/main/bindings/c/cbindgen.toml
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.rs
  src/main/core/logger/shadow_logger.rs
  src/main/core/manager.rs
  src/main/core/scheduler/runahead.rs
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler.h
  src/main/core/sim_config.rs
  src/main/core/support/configuration.rs
  src/main/core/support/definitions.h
  src/main/core/support/mod.rs
  src/main/core/work/event.rs
  src/main/core/work/event_queue.rs
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
  src/main/host/cpu.c
  src/main/host/cpu.h
  src/main/host/descriptor/descriptor_types.h
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/socket.h
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/timerfd.c
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/host.rs
  src/main/host/host_parameters.h
  src/main/host/managed_thread.c
  src/main/host/network_interface.c
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/syscall/format.rs
  src/main/host/syscall/futex.c
  src/main/host/syscall/handler/sysinfo.rs
  src/main/host/syscall/handler/time.rs
  src/main/host/syscall/protected.c
  src/main/host/syscall/protected.h
  src/main/host/syscall/time.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/syscall_handler.c
  src/main/host/timer.rs
  src/main/host/tracker.c
  src/main/host/tracker.h
  src/main/network/router/token_bucket.rs
  src/main/routing/packet.c
  src/main/routing/packet.h
  src/main/routing/router_queue_codel.c
  src/main/utility/utility.c
  src/main/utility/utility.h
Labels: Component: Libraries, Component: Main, Component: Build

#2380 Fix shadow uio length issue
  src/main/host/syscall/uio.c
Labels: Component: Main

#2391 Make shadow installation directory relocatable
  CMakeLists.txt
  src/main/utility/rpath.c
Labels: Component: Main, Component: Build
