Repository shadow/shadow, pull requests merged in 2022-03, with the labels that each got.

#1941 Added workaround for networkx bug
  src/tools/convert_legacy_topology.py
Labels: Component: Tools

#1936 Improve behaviour when TCP_NODELAY is set
  src/main/host/syscall/socket.c
  src/test/socket/sockopt/test_sockopt.rs
Labels: Component: Testing, Component: Main

#1942 Fixed bug in bind test
  src/test/bindc/test_bind.c
Labels: Component: Testing

#1944 Enable simple-http golang test
  src/test/golang/CMakeLists.txt
  src/test/golang/simple_http.yaml
Labels: Component: Testing, Component: Build

#1943 Explicitly initialize shim's new thread state after clone
  src/lib/shim/CMakeLists.txt
  src/lib/shim/shim_syscall.c
  src/test/golang/CMakeLists.txt
Labels: Component: Libraries, Component: Testing, Component: Build

#1938 Organize rust syscall handler in a module
  src/lib/syscall-logger/src/lib.rs
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/host/syscall/eventfd.rs
  src/main/host/syscall/fcntl.rs
  src/main/host/syscall/handler/eventfd.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/random.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/ioctl.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall/protected.h
  src/main/host/syscall/random.rs
  src/main/host/syscall/socket.rs
  src/main/host/syscall/unistd.rs
  src/main/host/syscall_handler.c
Labels: Component: Libraries, Type: Maintenance, Component: Main

#1952 Add rust handler for sysinfo
  src/main/CMakeLists.txt
  src/main/host/syscall/format.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/sysinfo.rs
  src/main/host/syscall/sysinfo.c
  src/main/host/syscall/sysinfo.h
  src/main/host/syscall_handler.c
  src/test/CMakeLists.txt
  src/test/Cargo.toml
  src/test/sysinfo/CMakeLists.txt
  src/test/sysinfo/sysinfo.yaml
  src/test/sysinfo/test_sysinfo.rs
Labels: Component: Testing, Component: Main, Component: Build

#1953 Rust pcap writer
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/support/definitions.h
  src/main/host/descriptor/tcp.c
  src/main/host/network_interface.c
  src/main/host/tracker.c
  src/main/routing/mod.rs
  src/main/routing/packet.c
  src/main/routing/packet.h
  src/main/routing/packet.rs
  src/main/routing/router_queue_codel.c
  src/main/routing/router_queue_static.c
  src/main/utility/give.rs
  src/main/utility/mod.rs
  src/main/utility/pcap_writer.c
  src/main/utility/pcap_writer.h
  src/main/utility/pcap_writer.rs
Labels: Component: Main, Component: Build

#1956 Added a 'pcap_capture_size' configuration option
  docs/shadow_config_spec.md
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.c
  src/main/core/support/configuration.rs
  src/main/host/host.c
  src/main/host/host_parameters.h
  src/main/host/network_interface.c
  src/main/host/network_interface.h
Labels: Type: Enhancement, Component: Main, Component: Documentation

#1959 Support alternative strace formatting modes
  docs/shadow_config_spec.md
  src/lib/syscall-logger/src/lib.rs
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/support/configuration.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
  src/main/host/syscall/format.rs
  src/main/host/syscall_handler.c
  src/test/CMakeLists.txt
  src/test/socket/bind/CMakeLists.txt
  src/test/tor/minimal/CMakeLists.txt
Labels: Type: Enhancement, Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#1960 Added strace and pcap comparisons to determinism tests
  ci/container_scripts/test.sh
  src/test/determinism/CMakeLists.txt
  src/test/determinism/determinism1.test.shadow.config.yaml
  src/test/determinism/determinism1_compare.cmake
  src/test/determinism/determinism2.test.shadow.config.yaml
  src/test/determinism/determinism2_compare.cmake
Labels: Type: Enhancement, Component: Testing, Component: Build

#1951 Patch vdso
  src/lib/shim/CMakeLists.txt
  src/lib/shim/patch_vdso.c
  src/lib/shim/patch_vdso.h
  src/lib/shim/shim.c
  src/test/golang/CMakeLists.txt
  src/test/golang/intercept_golang_time.yaml
  src/test/golang/test_intercept_golang_time.go
Labels: Component: Libraries, Component: Testing, Component: Build

#1890 Fix and test nanosleep signal interruption
  src/lib/libc_preload/gen_syscall_wrappers_c.py
  src/lib/libc_preload/interpose.h
  src/lib/libc_preload/syscall_wrappers.c
  src/main/host/syscall/time.c
  src/test/sleep/sleep.yaml
  src/test/sleep/test_sleep.rs
  src/test/test_utils.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#1962 Rearranged a few syscall helper functions
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
Labels: Type: Maintenance, Component: Main

#1972 Fix errno for socket() with SOCK_SEQPACKET type
  src/main/host/syscall/socket.c
  src/test/socket/socket/test_socket.rs
Labels: Type: Bug, Component: Testing, Component: Main

#1971 Fix a bug when converting to a nix 'SockAddr'
  src/main/host/syscall/handler/socket.rs
Labels: Type: Bug, Component: Main

#1977 Fix invalid mem read bug in 'sockaddr_storage_len_workaround()'
  src/main/host/syscall/handler/socket.rs
Labels: Component: Main

#1983 Have pipe writers return EPIPE if there are no readers
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/shared_buf.rs
  src/test/pipe/test_pipe.rs
Labels: Type: Bug, Component: Testing, Component: Main

#1982 Restructured the 'PosixFile' and 'Descriptor' types
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/eventfd.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/eventfd.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall/poll.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/utility/mod.rs
Labels: Component: Main, Component: Build

#1981 Don't override the exit function
  src/lib/libc_preload/gen_syscall_wrappers_c.py
  src/lib/libc_preload/syscall_wrappers.c
  src/test/regression/CMakeLists.txt
  src/test/regression/flush_after_exit.yaml
  src/test/regression/test_flush_after_exit.c
Labels: Component: Libraries, Component: Testing, Component: Build

#1988 When resuming blocked syscall handlers, use a cached/saved file reference
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/syscall_condition.rs
  src/main/host/thread.rs
  src/main/host/thread_preload.c
  src/main/host/thread_ptrace.c
  src/test/pipe/pipe.yaml
  src/test/pipe/test_pipe.rs
Labels: Type: Enhancement, Type: Bug, Component: Testing, Component: Main, Component: Build

#1990 Switch 'bytes' package from personal fork to shadow fork
  src/Cargo.lock
  src/main/Cargo.toml
Labels: Component: Main, Component: Build

#1989 ShimSharedMem locking refactor
  src/main/bindings/rust/wrapper.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/process.c
  src/main/host/syscall/protected.h
  src/main/host/syscall/signal.c
  src/main/host/syscall/time.c
  src/main/host/syscall_handler.c
  src/main/host/thread_preload.c
Labels: Component: Main

#1992 Switch to shadow's fork of vsprintf crate
  src/Cargo.lock
  src/main/Cargo.toml
Labels: Component: Main, Component: Build

#1999 Pin version of the setup-python action
  .github/workflows/lint.yml
Labels: Component: Testing
