Repository shadow/shadow, pull requests merged in 2022-07, with the labels that each got.

#2249 Fixed misc memory leaks
  src/main/core/manager.c
  src/main/host/futex.c
  src/main/host/process.c
Labels: Component: Main

#2248 Fix unsafe accesses of host objects from the manager
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.rs
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/sim_config.rs
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/host/descriptor/tcp.c
Labels: Component: Main

#2251 Compress CI artifacts
  .github/workflows/run_tests.yml
  .github/workflows/run_tor.yml
Labels: Component: Testing

#2255 Changes to controller, manager, and scheduler
  src/main/bindings/c/bindings-opaque.h
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.rs
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/scheduler/scheduler.c
  src/main/core/worker.c
  src/main/utility/status_bar.rs
Labels: Component: Main

#2252 Add 'shadow' and 'linux' labels to tests
  src/test/CMakeLists.txt
Labels: Component: Testing, Component: Build

#2261 epoll_wait: re-block when events were consumed by another thread
  CHANGELOG
  src/main/host/descriptor/epoll.c
  src/main/host/syscall/epoll.c
  src/test/Cargo.toml
  src/test/epoll/CMakeLists.txt
  src/test/epoll/epoll-rs.yaml
  src/test/epoll/test_epoll.c
  src/test/epoll/test_epoll.rs
  src/test/itimer/test_itimer.rs
Labels: Component: Testing, Component: Main, Component: Build

#2259 Re-enable fcntl locking for regular files
  src/main/host/syscall/handler/fcntl.rs
Labels: Component: Main

#2262 More organization changs to the manager / worker pool
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/manager.c
  src/main/core/manager.h
  src/main/core/scheduler/scheduler.c
  src/main/core/scheduler/scheduler.h
  src/main/core/support/configuration.rs
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
  src/main/host/descriptor/tcp.c
Labels: Type: Maintenance, Component: Main

#2265 Improve gdb documentation
  docs/debugging.md
Labels: Component: Documentation

#2267 Pre-allocate space in shared memory files
  src/main/shmem/shmem_allocator.c
  src/main/shmem/shmem_file.c
Labels: Component: Main

#2272 Add 'x86-64' to supported platforms doc
  docs/supported_platforms.md
Labels: Component: Documentation

#2279 Ensure timerfd_settime resets expiration count
  CHANGELOG
  src/main/host/timer.rs
  src/test/timerfd/test_timerfd.c
Labels: Component: Testing, Component: Main

#2275 Add support for smaller vdso trampolines
  CHANGELOG
  src/lib/shim/patch_vdso.c
Labels: Component: Libraries

#2281 shadow version string: get commit hash and dirty status more robustly
  CMakeLists.txt
Labels: Component: Build

#2277 Replace the C `Manager` with a rust version
  src/main/CMakeLists.txt
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.h
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.rs
  src/main/core/manager.c
  src/main/core/manager.rs
  src/main/core/scheduler/scheduler.h
  src/main/core/support/configuration.rs
  src/main/core/support/definitions.h
  src/main/core/worker.c
  src/main/core/worker.h
  src/main/core/worker.rs
  src/main/host/host.c
  src/main/host/host.h
  src/main/host/process.c
  src/main/utility/mod.rs
  src/main/utility/rpath.c
  src/main/utility/rpath.h
  src/main/utility/utility.c
  src/main/utility/utility.h
Labels: Component: Main, Component: Build

#2282 timerfd: ensure previously scheduled events are cancelled when re-arming
  CHANGELOG
  src/main/host/timer.rs
  src/test/timerfd/test_timerfd.c
Labels: Component: Testing, Component: Main

#2284 Rename `LegacyDescriptor` to `LegacyFile`
  docs/assets/files-and-descriptors.svg
  src/main/bindings/c/bindings.h
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/host/descriptor/compat_socket.c
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor.h
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/descriptor_types.h
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/epoll.h
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/regular_file.c
  src/main/host/descriptor/regular_file.h
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/socket.h
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/tcp_cong_reno.c
  src/main/host/descriptor/timerfd.c
  src/main/host/descriptor/timerfd.h
  src/main/host/descriptor/transport.c
  src/main/host/descriptor/transport.h
  src/main/host/descriptor/udp.c
  src/main/host/network_interface.c
  src/main/host/process.c
  src/main/host/process.rs
  src/main/host/status.h
  src/main/host/syscall/epoll.c
  src/main/host/syscall/fcntl.c
  src/main/host/syscall/file.c
  src/main/host/syscall/fileat.c
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/mman.c
  src/main/host/syscall/poll.c
  src/main/host/syscall/protected.c
  src/main/host/syscall/protected.h
  src/main/host/syscall/socket.c
  src/main/host/syscall/timerfd.c
  src/main/host/syscall/uio.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/syscall_handler.c
Labels: Type: Maintenance, Component: Main, Component: Build, Component: Documentation

#2287 Return `ENOENT` for unix socket `connect()` with pathname address
  src/main/host/descriptor/socket/unix.rs
  src/test/resolver/test_getaddrinfo.c
  src/test/socket/connect/test_connect.rs
  src/test/test_utils.rs
Labels: Type: Bug, Component: Testing, Component: Main

#2285 Reorganization before converting router* to Rust
  src/lib/CMakeLists.txt
  src/lib/shim/shim.h
  src/lib/shim/shim_event.h
  src/lib/shim/shim_shmem.c
  src/lib/shim/shim_syscall.c
  src/lib/shmem/CMakeLists.txt
  src/lib/shmem/buddy.c
  src/lib/shmem/buddy.h
  src/lib/shmem/shmem_allocator.c
  src/lib/shmem/shmem_allocator.h
  src/lib/shmem/shmem_file.c
  src/lib/shmem/shmem_file.h
  src/lib/shmem/shmem_test.c
  src/lib/shmem/shmem_util.c
  src/lib/shmem/shmem_util.h
  src/main/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/controller.rs
  src/main/core/main.rs
  src/main/core/sim_config.rs
  src/main/host/syscall/shadow.c
  src/main/host/thread.h
  src/main/host/thread_preload.c
  src/main/host/thread_protected.h
  src/main/lib.rs
  src/main/network/mod.rs
  src/main/network/network_graph.rs
  src/main/network/packet.rs
  src/main/network/petgraph_wrapper.rs
  src/main/network/router/mod.rs
  src/main/shmem/mod.rs
  src/main/utility/mod.rs
  src/main/utility/shm_cleanup.rs
Labels: Component: Libraries, Type: Maintenance, Component: Main, Component: Build

#2288 Fixed a warning in the unix socket code
  src/main/host/descriptor/socket/unix.rs
Labels: Type: Bug, Component: Main

#2292 Fix `getaddrinfo()` error on some systems
  src/lib/shim/shim_api_addrinfo.c
Labels: Type: Bug, Component: Libraries

#2283 Tweak shadow tests CI matrix
  .github/workflows/run_tests.yml
Labels: Component: Testing

#2220 Add more details about bumping versions
  docs/maintainer_playbook.md
Labels: Component: Documentation

#2305 Switch to monthly dependabot schedule
  .github/dependabot.yml
Labels: Component: Testing

#2308 Remove EOL distros from CI and docs
  .github/workflows/run_tests.yml
  ci/run.sh
  docs/supported_platforms.md
Labels: Type: Maintenance, Component: Testing, Component: Documentation

#2310 Revert "Remove EOL Fedora 34"
  .github/workflows/run_tests.yml
  ci/run.sh
  docs/supported_platforms.md
Labels: Component: Testing, Component: Documentation

#1763 Update packet header sizes
  src/main/bindings/rust/CMakeLists.txt
  src/main/bindings/rust/wrapper.rs
  src/main/core/support/definitions.h
  src/main/core/worker.c
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/udp.c
  src/main/host/network_interface.c
  src/main/host/tracker.c
  src/main/network/packet.rs
  src/main/routing/packet.c
  src/main/routing/packet.h
  src/main/routing/router_queue_codel.c
  src/main/routing/router_queue_static.c
  src/main/utility/pcap_writer.rs
Labels: Component: Main, Component: Build
