Repository shadow/shadow, pull requests merged in 2023-02, with the labels that each got.

#2714 Remove unused async priority queue
  src/main/build.rs
  src/main/utility/async_priority_queue.c
  src/main/utility/async_priority_queue.h
Labels: Component: Main

#2711 Push local packets directly to netif, stop using events
  src/main/network/relay/mod.rs
Labels: Type: Enhancement, Component: Main

#2713 Support rust `InetSocket`s in the network interface
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/network_interface.c
  src/main/host/network_interface.h
  src/main/host/network_interface.rs
  src/main/host/network_queuing_disciplines.c
  src/main/network/net_namespace.rs
  src/main/utility/priority_queue.c
  src/main/utility/priority_queue.h
Labels: Component: Main

#2719 Remove docker bits since we don't support it
  .github/workflows/docker.yml
  docs/SUMMARY.md
  docs/install_shadow_with_docker.md
Labels: Component: Testing, Component: Documentation

#2720 Remove unused countdown latch
  Dockerfile
  src/main/build.rs
  src/main/utility/count_down_latch.c
  src/main/utility/count_down_latch.h
Labels: Component: Main

#2722 Don't run workflows on merge to main
  .github/workflows/coverage.yml
  .github/workflows/extra_tests.yml
  .github/workflows/lint.yml
  .github/workflows/run_tests.yml
  .github/workflows/run_tests_incremental.yml
  .github/workflows/sanitizers.yml
  README.md
Labels: Component: Testing, Component: Documentation

#2723 Remove github coverage workflow
  .github/workflows/coverage.yml
Labels: Component: Testing

#2721 Remove unused C utility code
  src/main/utility/utility.c
  src/main/utility/utility.h
Labels: Component: Main

#2174 Code of conduct
  CODE_OF_CONDUCT.md
Labels: Component: Documentation

#2724 CI: remove debug builds from the primary test matrix
  .github/workflows/run_tests.yml
  .github/workflows/run_tests_incremental.yml
Labels: Component: Testing

#2725 Set shim's stdout/stderr to the shim log file
  src/lib/shim/shim.c
  src/main/host/managed_thread.c
  src/main/host/managed_thread.h
  src/main/host/process.rs
  src/main/host/thread.c
  src/main/host/thread.h
Labels: Component: Libraries, Component: Main

#2731 SysCallHandler: don't store pointers to Process and Thread
  src/main/core/worker.rs
  src/main/host/context.rs
  src/main/host/memory_manager/memory_copier.rs
  src/main/host/process.rs
  src/main/host/syscall/clone.c
  src/main/host/syscall/epoll.c
  src/main/host/syscall/fcntl.c
  src/main/host/syscall/file.c
  src/main/host/syscall/fileat.c
  src/main/host/syscall/futex.c
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/mman.c
  src/main/host/syscall/poll.c
  src/main/host/syscall/process.c
  src/main/host/syscall/protected.c
  src/main/host/syscall/protected.h
  src/main/host/syscall/select.c
  src/main/host/syscall/shadow.c
  src/main/host/syscall/signal.c
  src/main/host/syscall/socket.c
  src/main/host/syscall/time.c
  src/main/host/syscall/timerfd.c
  src/main/host/syscall/uio.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall_handler.c
  src/main/host/thread.rs
Labels: Component: Main

#2715 Support Rust listeners on C `LegacyFile`s
  src/main/build.rs
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor_types.h
  src/main/host/descriptor/mod.rs
  src/main/utility/callback_queue.rs
  src/main/utility/legacy_callback_queue.rs
Labels: Component: Main

#2738 Fix dangling socket pointer in the network interface
  src/main/host/network_interface.c
Labels: Type: Bug, Component: Main

#2741 Rename `TcpSocket` to `LegacyTcpSocket`
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
Labels: Component: Main

#2740 Add a Rust PluginPhysicalPtr type
  src/main/build.rs
  src/main/host/process.rs
  src/main/host/syscall_types.rs
Labels: Component: Main

#2739 Add RootedCell
  src/lib/shadow-shim-helper-rs/src/rootedcell/cell.rs
  src/lib/shadow-shim-helper-rs/src/rootedcell/mod.rs
Labels: Component: Libraries

#2742 Support `getsockopt()` and `setsockopt()` for tcp wrapper
  src/main/build.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/descriptor/tcp_cong.c
  src/main/host/descriptor/tcp_cong.h
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/socket.c
  src/main/host/syscall_types.rs
  src/main/utility/mod.rs
  src/main/utility/pod.rs
Labels: Component: Main

#2746 Rename `Worker::thread_id()` to `Worker::worker_id()`
  src/main/core/worker.rs
Labels: Component: Main

#2748 Thread: remove more circular references and usages
  src/main/host/managed_thread.c
  src/main/host/managed_thread.h
  src/main/host/syscall_handler.c
  src/main/host/syscall_handler.h
  src/main/host/thread.c
Labels: Component: Main

#2750 Rooted*: make public APIs inline
  src/lib/shadow-shim-helper-rs/src/rootedcell/cell.rs
  src/lib/shadow-shim-helper-rs/src/rootedcell/rc.rs
  src/lib/shadow-shim-helper-rs/src/rootedcell/refcell.rs
Labels: Component: Libraries

#2751 Add SendPointer
  src/main/utility/mod.rs
Labels: Component: Main

#2752 Convert Thread to Rust
  src/main/CMakeLists.txt
  src/main/build.rs
  src/main/core/worker.rs
  src/main/host/context.rs
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/socket.h
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/udp.c
  src/main/host/host.rs
  src/main/host/managed_thread.c
  src/main/host/managed_thread.h
  src/main/host/memory_manager/memory_copier.rs
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/process.rs
  src/main/host/syscall/clone.c
  src/main/host/syscall/fcntl.c
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/mman.c
  src/main/host/syscall/process.c
  src/main/host/syscall/protected.c
  src/main/host/syscall/protected.h
  src/main/host/syscall/shadow.c
  src/main/host/syscall/shadow.h
  src/main/host/syscall/signal.c
  src/main/host/syscall/socket.c
  src/main/host/syscall/time.c
  src/main/host/syscall/timerfd.c
  src/main/host/syscall/uio.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/syscall_handler.c
  src/main/host/syscall_handler.h
  src/main/host/syscall_numbers.h
  src/main/host/thread.c
  src/main/host/thread.h
  src/main/host/thread.rs
  src/main/routing/packet.c
  src/main/routing/packet.h
  src/main/routing/payload.c
  src/main/routing/payload.h
Labels: Component: Main, Component: Build

#2756 Remove optional dependencies
  docs/install_dependencies.md
Labels: Component: Documentation

#2755 Move the "Shadow Output" docs to the "Developer Guide" section
  docs/SUMMARY.md
Labels: Component: Documentation

#2522 Prioritize packet events over local events
  src/main/core/work/event.rs
  src/main/core/worker.rs
  src/main/host/host.rs
  src/main/network/packet.rs
Labels: Component: Main

#2760 Remove recommended modules/tools
  docs/install_dependencies.md
Labels: Component: Documentation

#2759 Fix backwards timeout condition
  src/main/host/syscall_condition.c
Labels: Component: Main

#2745 Support `shutdown()` for tcp wrapper
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
Labels: Component: Main

#2762 Support explicit return types in the syscall handlers
  src/lib/syscall-logger/src/lib.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/sched.rs
Labels: Component: Libraries, Component: Main

#2763 Support `listen()` for tcp wrapper
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/tcp.h
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/socket.c
Labels: Component: Main

#2764 Support `connect()` for tcp wrapper
  src/main/core/worker.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/socket.c
Labels: Component: Main

#2768 Support `accept()` for tcp wrapper
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/socket.c
Labels: Component: Main

#2769 Remove unused event queue ffi code
  src/main/core/work/event_queue.rs
Labels: Component: Main

#2757 Add SelfContainedChannel
  src/Cargo.lock
  src/Cargo.toml
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shmem/Cargo.toml
  src/lib/shmem/src/lib.rs
  src/lib/vasi-macro/src/lib.rs
  src/lib/vasi-sync/Cargo.toml
  src/lib/vasi-sync/src/lib.rs
  src/lib/vasi-sync/src/scchannel.rs
  src/lib/vasi-sync/src/scmutex.rs
  src/lib/vasi-sync/src/sync.rs
  src/lib/vasi-sync/tests/scchannel-tests.rs
  src/lib/vasi-sync/tests/scmutex-tests.rs
  src/lib/vasi-sync/tests/sync/mod.rs
  src/main/Cargo.toml
  src/main/host/host.rs
Labels: Component: Libraries, Component: Main, Component: Build

#2765 Convert most syscall helper types to Rust
  src/lib/shadow-shim-helper-rs/build.rs
  src/lib/shadow-shim-helper-rs/shim_event.h
  src/lib/shadow-shim-helper-rs/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/syscall_types.rs
  src/main/build.rs
  src/main/host/descriptor/mod.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/process.rs
  src/main/host/syscall/formatter.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/type_formatting.rs
  src/main/host/syscall_types.h
  src/main/host/syscall_types.rs
  src/main/host/thread.rs
Labels: Component: Libraries, Component: Main

#2771 VirtualAddressSpaceIndependent derive macro: support enums and unions
  src/Cargo.lock
  src/lib/vasi-macro/Cargo.toml
  src/lib/vasi-macro/src/lib.rs
Labels: Component: Libraries, Component: Build
