Repository shadow/shadow, pull requests merged in 2023-06, with the labels that each got.

#2965 Add Linux API crate
  src/Cargo.lock
  src/Cargo.toml
  src/lib/linux-api/.gitignore
  src/lib/linux-api/Cargo.toml
  src/lib/linux-api/bindings-wrapper.h
  src/lib/linux-api/build.rs
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/rename.py
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/lib.rs
  src/lib/linux-api/src/sched.rs
  src/lib/linux-api/src/signal.rs
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/build.rs
  src/lib/shadow-shim-helper-rs/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shadow-shim-helper-rs/src/signals.rs
  src/lib/shim/shim.c
  src/lib/shim/shim_signals.c
  src/main/Cargo.toml
  src/main/build.rs
  src/main/host/host.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/signal.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.rs
Labels: Component: Libraries, Component: Main, Component: Build

#2984 Partly fix raw clone test
  ci/container_scripts/test.sh
  src/Cargo.lock
  src/lib/shim/shim_seccomp.c
  src/lib/shim/shim_seccomp.h
  src/lib/shim/shim_syscall.c
  src/lib/shim/shim_tls.c
  src/lib/vasi-sync/Cargo.toml
  src/lib/vasi-sync/src/sync.rs
  src/test/clone/CMakeLists.txt
  src/test/clone/test_clone.c
Labels: Component: Libraries, Component: Testing, Component: Build

#2991 Have UDP sockets drop packets from non-peers
  src/main/host/descriptor/socket/inet/udp.rs
  src/test/socket/connect/test_connect.rs
Labels: Component: Testing, Component: Main

#2993 Move and rename some host-networking source files
  src/main/build.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/host.rs
  src/main/host/mod.rs
  src/main/host/network/interface.rs
  src/main/host/network/mod.rs
  src/main/host/network/namespace.rs
  src/main/host/network/network_interface.c
  src/main/host/network/network_interface.h
  src/main/host/network/network_queuing_disciplines.c
  src/main/host/network/network_queuing_disciplines.h
  src/main/network/mod.rs
Labels: Component: Main

#2990 Upgrade rustup toolchain to 1.70
  .github/workflows/sanitizers.yml
  ci/container_scripts/install_extra_deps.sh
  rust-toolchain.toml
Labels: Component: Testing

#2994 Clean up some code for rust 1.70.0
  src/lib/vasi-sync/src/sync.rs
  src/main/host/descriptor/mod.rs
  src/main/utility/synchronization/simple_latch.rs
Labels: Component: Libraries, Component: Main

#2969 Delay "socket wants to send" notification
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/socket.h
  src/main/host/descriptor/tcp.c
  src/main/utility/legacy_callback_queue.rs
Labels: Component: Main

#2959 Add the `LegacyTcp` wrapper to the interface qdisc
  src/main/build.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/tcp.h
Labels: Component: Main

#2999 shim: allow native syscalls from shim's whole .text segment
  src/lib/shim/shim_seccomp.c
  src/lib/shim/shim_seccomp.h
  src/lib/shim/shim_syscall.c
Labels: Component: Libraries

#2997 Migrate timerfd descriptor and syscall handlers to rust
  src/main/build.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/timerfd.c
  src/main/host/descriptor/timerfd.h
  src/main/host/descriptor/timerfd.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/timerfd.rs
  src/main/host/syscall/protected.c
  src/main/host/syscall/timerfd.c
  src/main/host/syscall/timerfd.h
  src/main/host/syscall/unistd.c
  src/main/host/syscall_handler.c
  src/main/host/timer.rs
Labels: Component: Main

#3000 Add `log_once` macro
  src/main/utility/macros.rs
Labels: Component: Main

#2992 logger: remove some libc usage (and flesh out more of linux-api)
  src/CMakeLists.txt
  src/Cargo.lock
  src/lib/linux-api/Cargo.toml
  src/lib/linux-api/bindings-wrapper.h
  src/lib/linux-api/build.rs
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/errno.rs
  src/lib/linux-api/src/lib.rs
  src/lib/linux-api/src/sched.rs
  src/lib/linux-api/src/signal.rs
  src/lib/linux-api/src/time.rs
  src/lib/logger/Cargo.toml
  src/lib/logger/logger.c
  src/lib/logger/logger.h
  src/lib/logger/src/lib.rs
Labels: Component: Libraries, Component: Build

#3006 Break Pod into its own crate
  src/Cargo.lock
  src/Cargo.toml
  src/lib/pod/Cargo.toml
  src/lib/pod/src/lib.rs
  src/lib/shmem/Cargo.toml
  src/lib/shmem/src/allocator.rs
  src/main/Cargo.toml
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/managed_thread.rs
  src/main/host/memory_manager/memory_copier.rs
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/syscall/handler/sched.rs
  src/main/host/syscall/handler/sysinfo.rs
  src/main/host/syscall/io.rs
  src/main/lib.rs
  src/main/utility/mod.rs
Labels: Component: Libraries, Component: Main, Component: Build

#3002 Make timer intervals optional
  src/lib/shadow-shim-helper-rs/src/simulation_time.rs
  src/main/host/descriptor/timerfd.rs
  src/main/host/syscall/handler/time.rs
  src/main/host/syscall/handler/timerfd.rs
  src/main/host/timer.rs
Labels: Component: Libraries, Type: Maintenance, Component: Main

#3011 Improve `MSG_TRUNC` support
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/unix.rs
  src/test/socket/send_recv/test_send_recv.rs
Labels: Component: Testing, Component: Main

#3009 Add an `AssociationHandle` which disassociates the socket when dropped
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/host.rs
  src/main/host/network/namespace.rs
Labels: Component: Main

#3012 Support more sockopts for TCP and UDP
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/test/socket/sockopt/test_sockopt.rs
Labels: Component: Testing, Component: Main

#3015 Fix bug in `FIONREAD` ioctl for udp
  src/main/host/descriptor/socket/inet/udp.rs
  src/test/socket/ioctl/test_ioctl.rs
Labels: Component: Testing, Component: Main

#3013 Remove std dependencies from vasi-sync using rustix
  src/Cargo.lock
  src/lib/vasi-sync/Cargo.toml
  src/lib/vasi-sync/src/scchannel.rs
  src/lib/vasi-sync/src/scmutex.rs
  src/lib/vasi-sync/src/sync.rs
  src/lib/vasi-sync/tests/scmutex-tests.rs
Labels: Component: Libraries, Component: Build

#3016 Improvements to udp binding and connecting
  src/main/host/descriptor/socket/inet/udp.rs
  src/test/socket/connect/connect.yaml
  src/test/socket/connect/test_connect.rs
Labels: Component: Testing, Component: Main

#3008 Document when to use which system crates
  docs/coding.md
Labels: Component: Documentation

#3014 libc_preload: check for C library/kernel differences
  CHANGELOG.md
  src/lib/libc_preload/gen_syscall_wrappers_c.py
  src/lib/libc_preload/syscall_wrappers.c
  src/main/host/syscall/handler/sched.rs
  src/test/file/test_file.c
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Documentation

#3017 linux-api: add and use mman and more
  src/lib/linux-api/bindings-wrapper.h
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/lib.rs
  src/lib/linux-api/src/mman.rs
  src/lib/linux-api/src/posix_types.rs
  src/lib/linux-api/src/time.rs
  src/lib/shadow-shim-helper-rs/src/simulation_time.rs
  src/lib/shadow-shim-helper-rs/src/syscall_types.rs
  src/main/host/descriptor/timerfd.rs
  src/main/host/syscall/handler/file.rs
  src/main/host/syscall/handler/mman.rs
  src/main/host/syscall/handler/random.rs
  src/main/host/syscall/handler/sched.rs
  src/main/host/syscall/handler/time.rs
  src/main/host/syscall/handler/timerfd.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/type_formatting.rs
Labels: Component: Libraries, Component: Main

#3021 Extract `log_wrapper` from `main` to `log-c2rust`
  src/Cargo.lock
  src/Cargo.toml
  src/lib/log-c2rust/Cargo.toml
  src/lib/log-c2rust/build.rs
  src/lib/log-c2rust/log-c2rust.c
  src/lib/log-c2rust/log-c2rust.h
  src/lib/log-c2rust/src/lib.rs
  src/main/Cargo.toml
  src/main/build.rs
  src/main/core/logger/mod.rs
  src/main/core/main.rs
  src/main/host/host.rs
  src/main/main.c
  src/main/routing/packet.c
Labels: Component: Libraries, Component: Main, Component: Build

#3025 Add timeout methods to `SysCallCondition` rust wrapper
  src/main/host/syscall/epoll.c
  src/main/host/syscall/futex.c
  src/main/host/syscall/poll.c
  src/main/host/syscall/time.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/syscall_condition.rs
  src/main/host/syscall_handler.c
Labels: Component: Main

#3027 Replace `SyscallError` `errno` type with `linux_api` version
  src/lib/linux-api/src/errno.rs
  src/main/host/descriptor/mod.rs
  src/main/host/managed_thread.rs
  src/main/host/syscall/formatter.rs
  src/main/host/syscall_types.rs
  src/main/host/thread.rs
  src/main/utility/syscall.rs
Labels: Component: Libraries, Component: Main

#3029 Use `linux_api::errno::Errno` in eventfd and clone syscall handlers
  src/lib/linux-api/src/errno.rs
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/handler/eventfd.rs
Labels: Component: Libraries, Component: Main

#3028 Add `peek()` method to `ByteQueue`
  src/main/host/descriptor/shared_buf.rs
  src/main/utility/byte_queue.rs
Labels: Component: Main

#3033 Add more errno values to linux_api
  src/lib/linux-api/src/errno.rs
Labels: Component: Libraries

#3034 seccomp filter: properly compare 64-bit addresses
  src/lib/shim/shim_seccomp.c
Labels: Component: Libraries

#3036 Support `MSG_PEEK` for udp sockets
  src/main/host/descriptor/socket/inet/udp.rs
  src/test/socket/send_recv/test_send_recv.rs
Labels: Component: Testing, Component: Main

#3043 Add `linux_api::errno::Errno`/`std::io::Error` conversions
  src/lib/linux-api/Cargo.toml
  src/lib/linux-api/src/errno.rs
  src/lib/linux-api/src/lib.rs
  src/main/Cargo.toml
Labels: Component: Libraries, Component: Main, Component: Build

#3039 Use rustix in vasi-sync bench, specify correct dev dep
  src/lib/vasi-sync/Cargo.toml
  src/lib/vasi-sync/benches/scchannel.rs
Labels: Component: Libraries, Component: Build

#3044 Replace uses of nix's `Errno` with linux_api's `Errno` in syscall handlers, memory manager, process, etc
  src/lib/linux-api/src/errno.rs
  src/main/host/descriptor/eventfd.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/shared_buf.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/descriptor/timerfd.rs
  src/main/host/memory_manager/memory_copier.rs
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/random.rs
  src/main/host/syscall/handler/sched.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/time.rs
  src/main/host/syscall/handler/timerfd.rs
  src/main/host/syscall/handler/uio.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/io.rs
  src/main/host/syscall_types.rs
  src/main/host/thread.rs
  src/main/network/packet.rs
  src/main/utility/syscall.rs
Labels: Component: Libraries, Component: Main

#3045 Sleep rafactor
  src/test/test_utils.rs
  src/test/time/clock_nanosleep/test_clock_nanosleep.rs
  src/test/time/mod.rs
Labels: Component: Testing

#3046 Implement clock_getres syscall handler in Rust
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/time.rs
  src/main/host/syscall_handler.c
  src/test/Cargo.toml
  src/test/test_utils.rs
  src/test/time/CMakeLists.txt
  src/test/time/clock_getres/CMakeLists.txt
  src/test/time/clock_getres/clock_getres.yaml
  src/test/time/clock_getres/test_clock_getres.rs
  src/test/time/clock_nanosleep/test_clock_nanosleep.rs
Labels: Component: Testing, Component: Main, Component: Build

#3037 Support `SIOCGSTAMP` for inet sockets
  src/main/host/descriptor/compat_socket.c
  src/main/host/descriptor/compat_socket.h
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/network/interface.rs
  src/main/host/network/network_interface.c
  src/main/host/network/network_interface.h
  src/test/socket/ioctl/test_ioctl.rs
Labels: Component: Testing, Component: Main

#3048 Add new Rust tests for clock_gettime syscall
  src/lib/shim/shim_sys.c
  src/test/Cargo.toml
  src/test/time/CMakeLists.txt
  src/test/time/clock_gettime/CMakeLists.txt
  src/test/time/clock_gettime/clock_gettime.yaml
  src/test/time/clock_gettime/test_clock_gettime.rs
Labels: Component: Libraries, Component: Testing, Component: Build

#3042 Migrate ShimLogger to Rust
  src/Cargo.lock
  src/Cargo.toml
  src/lib/formatting-nostd/Cargo.toml
  src/lib/formatting-nostd/build.rs
  src/lib/formatting-nostd/src/borrowed_fd_writer.rs
  src/lib/formatting-nostd/src/format_buffer.rs
  src/lib/formatting-nostd/src/format_buffer_test_util.c
  src/lib/formatting-nostd/src/lib.rs
  src/lib/formatting-nostd/src/utf8.rs
  src/lib/log-c2rust/Cargo.toml
  src/lib/log-c2rust/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/util/mod.rs
  src/lib/shadow-shim-helper-rs/src/util/time.rs
  src/lib/shim/Cargo.toml
  src/lib/shim/build.rs
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/shim_logger.c
  src/lib/shim/shim_logger.h
  src/lib/shim/shim_rdtsc.c
  src/lib/shim/shim_seccomp.c
  src/lib/shim/shim_sys.c
  src/lib/shim/src/lib.rs
  src/lib/shim/src/shimlogger.rs
  src/main/core/controller.rs
  src/main/core/logger/shadow_logger.rs
  src/main/host/syscall/formatter.rs
  src/main/utility/mod.rs
Labels: Component: Libraries, Component: Main, Component: Build

#3050 linux-api: add rt_sigaction and rt_sigprocmask syscall functions
  src/Cargo.lock
  src/lib/linux-api/Cargo.toml
  src/lib/linux-api/bindings-wrapper.h
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/signal.rs
Labels: Component: Libraries, Component: Build

#3053 Improve formatting of bitflags types in strace logging
  src/main/host/syscall/type_formatting.rs
Labels: Component: Main

#3054 Simplify converting from `SysCallReg` in the strace logger
  src/lib/shadow-shim-helper-rs/src/syscall_types.rs
  src/main/host/syscall/type_formatting.rs
Labels: Component: Libraries, Component: Main

#3057 add shadow-shim-helper-rs to build deps
  src/lib/shim/Cargo.toml
  src/main/Cargo.toml
Labels: Component: Libraries, Component: Main, Component: Build

#3058 CI: add a loom test
  .github/workflows/sanitizers.yml
Labels: Component: Testing

#3060 Restrict `UnsafeCell` in `Pod` types
  src/lib/pod/src/lib.rs
Labels: Component: Libraries

#3062 loom tests: Move preemption bound into individual tests
  .github/workflows/sanitizers.yml
  src/lib/vasi-sync/tests/scchannel-tests.rs
  src/lib/vasi-sync/tests/scmutex-tests.rs
  src/lib/vasi-sync/tests/sync/mod.rs
Labels: Component: Libraries, Component: Testing

#3055 Reimplement shim's TLS (thread local storage) in Rust
  src/CMakeLists.txt
  src/Cargo.lock
  src/lib/formatting-nostd/src/format_buffer.rs
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/lib.rs
  src/lib/linux-api/src/signal.rs
  src/lib/shim/Cargo.toml
  src/lib/shim/build.rs
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/shim_rdtsc.c
  src/lib/shim/shim_signals.c
  src/lib/shim/shim_sys.c
  src/lib/shim/shim_syscall.c
  src/lib/shim/shim_tls.c
  src/lib/shim/shim_tls.h
  src/lib/shim/src/lib.rs
  src/lib/shim/src/tls.rs
  src/lib/vasi-sync/Cargo.toml
  src/lib/vasi-sync/benches/lazy_lock.rs
  src/lib/vasi-sync/src/lazy_lock.rs
  src/lib/vasi-sync/src/lib.rs
  src/lib/vasi-sync/src/scchannel.rs
  src/lib/vasi-sync/src/scmutex.rs
  src/lib/vasi-sync/src/sync.rs
  src/lib/vasi-sync/tests/lazylock-tests.rs
  src/lib/vasi-sync/tests/scmutex-tests.rs
Labels: Component: Libraries, Component: Build
