Repository shadow/shadow, pull requests merged in 2023-01, with the labels that each got.

#2634 updating tgen getting started notes to better address the ../../.. prefix
  docs/getting_started_tgen.md
Labels: Component: Documentation

#2637 Add example (and test) for etcd
  .github/workflows/extra_tests.yml
  docs/compatibility_notes.md
  examples/CMakeLists.txt
  examples/etcd/CMakeLists.txt
  examples/etcd/install_deps.sh
  examples/etcd/run.sh
  examples/etcd/shadow.yaml
Labels: Component: Testing, Component: Build, Component: Documentation

#2638 Improve line styles in plotting script
  src/tools/plot-shadow.py
Labels: Component: Tools

#2641 Small code improvements
  src/main/host/host.rs
  src/test/sched_affinity/test_sched_affinity.rs
Labels: Component: Testing, Component: Main

#2640 Check for specific socket association before wildcard
  src/main/host/network_interface.c
Labels: Component: Main

#2642 Show nanoseconds in strace log
  src/main/host/syscall/formatter.rs
  src/main/utility/time.rs
Labels: Component: Main

#2631 Migrate most of Process from C to Rust
  docs/shadow_config_spec.md
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/syscall-logger/src/lib.rs
  src/main/build.rs
  src/main/core/manager.rs
  src/main/core/support/configuration.rs
  src/main/core/worker.rs
  src/main/host/descriptor/mod.rs
  src/main/host/host.rs
  src/main/host/managed_thread.c
  src/main/host/managed_thread.h
  src/main/host/memory_manager/mod.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
  src/main/host/syscall/formatter.rs
  src/main/host/syscall/mman.c
  src/main/host/syscall/shadow.c
  src/main/host/syscall/socket.c
  src/main/host/syscall/uio.c
  src/main/host/syscall_handler.c
  src/main/host/thread.c
  src/main/host/thread.h
  src/main/lib.rs
Labels: Component: Libraries, Component: Main, Component: Documentation

#2646 Log syscalls that are handled in the shim
  docs/shadow_config_spec.md
  src/lib/shadow-shim-helper-rs/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/option.rs
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shim/shim_sys.c
  src/lib/shim/shim_syscall.c
  src/main/host/managed_thread.c
  src/main/host/managed_thread.h
  src/main/host/process.c
  src/main/host/process.rs
  src/main/host/thread.c
  src/main/host/thread.h
  src/test/golang/CMakeLists.txt
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#2649 Simplify strace logging in `Process`
  src/main/core/manager.rs
  src/main/core/support/configuration.rs
  src/main/host/host.rs
  src/main/host/process.rs
  src/main/host/syscall/formatter.rs
Labels: Component: Main

#2648 Support displaying more-complex syscall arguments
  src/lib/syscall-logger/src/lib.rs
  src/main/host/syscall/formatter.rs
  src/main/host/syscall/handler/file.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/type_formatting.rs
  src/main/host/syscall_handler.c
Labels: Component: Libraries, Component: Main

#2650 Process: move thread list to Rust
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/main/build.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
  src/main/host/syscall_condition.rs
  src/main/host/thread.rs
Labels: Component: Libraries, Component: Main

#2645 Allow higher-level host log levels
  src/main/core/logger/log_wrapper.c
  src/main/core/logger/log_wrapper.rs
  src/main/core/logger/shadow_logger.rs
  src/main/core/main.rs
Labels: Component: Main

#2657 Fix `sched_{get,set}affinity` bug
  src/main/host/host.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/sched.rs
  src/main/host/thread.rs
Labels: Component: Main

#2659 Added example for Wget2
  .github/workflows/extra_tests.yml
  docs/compatibility_notes.md
  examples/CMakeLists.txt
  examples/wget2/CMakeLists.txt
  examples/wget2/install_deps.sh
  examples/wget2/run.sh
  examples/wget2/shadow.yaml
Labels: Component: Testing, Component: Build, Component: Documentation

#2651 Convert some Process code to Rust
  src/main/build.rs
  src/main/core/worker.rs
  src/main/host/host.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
  src/main/host/thread.c
Labels: Component: Main

#2663 bind-shadow test: extend timeout
  src/test/socket/bind/CMakeLists.txt
Labels: Component: Testing, Component: Build

#2660 Remove unneeded workaround in `syscallhandler_epoll_ctl`
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/tcp.c
  src/main/host/syscall/epoll.c
  src/main/host/syscall/protected.c
Labels: Component: Main

#2667 Don't stall when already delivered packets are queued
  src/main/host/descriptor/tcp.c
Labels: Type: Bug, Component: Main

#2661 Convert remaining Process code to Rust
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shadow-shim-helper-rs/src/signals.rs
  src/main/build.rs
  src/main/host/process.c
  src/main/host/process.rs
Labels: Component: Libraries, Component: Main

#2669 Improve strace string logging
  src/main/host/syscall/type_formatting.rs
Labels: Component: Main

#2665 Remove C Process
  src/lib/shadow-shim-helper-rs/src/rootedcell/rc.rs
  src/main/build.rs
  src/main/core/support/definitions.h
  src/main/core/worker.rs
  src/main/host/context.rs
  src/main/host/descriptor/compat_socket.c
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/tcp.h
  src/main/host/host.rs
  src/main/host/process.c
  src/main/host/process.h
  src/main/host/process.rs
  src/main/host/syscall/epoll.c
  src/main/host/syscall/fcntl.c
  src/main/host/syscall/file.c
  src/main/host/syscall/fileat.c
  src/main/host/syscall/formatter.rs
  src/main/host/syscall/futex.c
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/mman.c
  src/main/host/syscall/poll.c
  src/main/host/syscall/poll.h
  src/main/host/syscall/process.c
  src/main/host/syscall/protected.h
  src/main/host/syscall/select.c
  src/main/host/syscall/signal.c
  src/main/host/syscall/socket.c
  src/main/host/syscall/timerfd.c
  src/main/host/syscall/uio.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/syscall_handler.c
  src/main/host/syscall_handler.h
  src/main/host/thread.c
  src/main/host/thread.h
Labels: Component: Libraries, Component: Main

#2670 Warn if running with root privileges
  src/main/core/main.rs
Labels: Component: Main

#2671 Support `InetSocket` in the tracker
  src/main/host/descriptor/compat_socket.c
  src/main/host/descriptor/compat_socket.h
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/tcp.c
  src/main/host/network_interface.c
  src/main/host/tracker.c
  src/main/host/tracker.h
Labels: Component: Main

#2680 Multithread death
  src/lib/shadow-shim-helper-rs/ipc.cc
  src/lib/shadow-shim-helper-rs/ipc.h
  src/lib/shadow-shim-helper-rs/shim_event.h
  src/main/host/managed_thread.c
Labels: Component: Libraries, Component: Main

#2687 Add support for Fedora 37 in the CI
  .github/workflows/run_tests.yml
  .github/workflows/run_tests_incremental.yml
  docs/supported_platforms.md
Labels: Component: Testing, Component: Documentation

#2694 Update CHANGELOG with missing entries
  CHANGELOG.md
Labels: Component: Documentation

#2691 Add `DescriptorHandle` and return `Result` from descriptor table methods
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/eventfd.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/unistd.rs
Labels: Component: Main

#2698 Close the `LegacyFile` when the last `LegacyFileCounter` is dropped
  src/main/host/descriptor/mod.rs
  src/main/host/process.rs
Labels: Component: Main

#2697 Simplify the host's networking cleanup
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/host.rs
  src/main/host/network_interface.rs
  src/main/network/net_namespace.rs
  src/main/utility/mod.rs
Labels: Component: Main

#2664 Update syscall handlers to take explicit argument types
  src/lib/syscall-logger/src/lib.rs
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/syscall/handler/eventfd.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/file.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/mman.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/random.rs
  src/main/host/syscall/handler/sched.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/sysinfo.rs
  src/main/host/syscall/handler/time.rs
  src/main/host/syscall/handler/unistd.rs
Labels: Component: Libraries, Component: Main

#2699 MemoryManager: coalesce initial adjacent compatible regions
  src/main/host/memory_manager/memory_mapper.rs
Labels: Component: Main

#2700 process_continue: take thread id instead of thread*
  src/main/host/process.rs
  src/main/host/syscall_condition.c
Labels: Component: Main

#2701 Delete unused process_insertThread
  src/main/host/process.rs
Labels: Component: Main

#2702 Reordered line styles in `plot-shadow.py`
  src/tools/plot-shadow.py
Labels: Component: Tools

#2703 Plan for interior mutability in Thread / ThreadRef
  src/main/host/context.rs
  src/main/host/host.rs
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/process.rs
  src/main/host/thread.rs
Labels: Component: Main

#2632 Migrate packet forwarding functionality to rust
  src/main/core/worker.rs
  src/main/host/host.rs
  src/main/host/network_interface.c
  src/main/host/network_interface.h
  src/main/host/network_interface.rs
  src/main/host/network_queuing_disciplines.c
  src/main/host/network_queuing_disciplines.h
  src/main/network/mod.rs
  src/main/network/net_namespace.rs
  src/main/network/packet.rs
  src/main/network/relay/mod.rs
  src/main/network/relay/token_bucket.rs
  src/main/network/router/codel_queue.rs
  src/main/network/router/mod.rs
  src/main/routing/packet.c
  src/main/routing/packet.minimal.h
Labels: Type: Enhancement, Component: Main

#2690 Update to latest tgen ref
  .github/workflows/extra_tests.yml
Labels: Component: Testing

#2706 Relay design improvements
  src/main/network/relay/mod.rs
Labels: Type: Enhancement, Component: Main

#2705 Make ThreadRef the owner of the C Thread and rename to Thread
  src/main/core/worker.rs
  src/main/host/context.rs
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/process.rs
  src/main/host/syscall/signal.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/syscall_condition.rs
  src/main/host/syscall_handler.c
  src/main/host/thread.c
  src/main/host/thread.h
  src/main/host/thread.rs
  src/test/signal/CMakeLists.txt
  src/test/signal/signals-multiprocess.yaml
Labels: Component: Testing, Component: Main, Component: Build

#2708 Remove unused preload tests
  src/test/CMakeLists.txt
  src/test/preload/CMakeLists.txt
  src/test/preload/preload-env.test.shadow.config.yaml
  src/test/preload/preload-run.test.shadow.config.yaml
  src/test/preload/test_preload_dl_main.c
  src/test/preload/test_preload_interpose1.c
  src/test/preload/test_preload_interpose2.c
  src/test/preload/test_preload_interpose_constructor.c
  src/test/preload/test_preload_lib.c
  src/test/preload/test_preload_main.c
  src/test/preload/test_preload_plugin_main.c
  src/test/preload/test_preload_run1.c
  src/test/preload/test_preload_run2.c
Labels: Component: Testing, Component: Build

#2707 Refill token buckets less often on slow connections
  src/main/network/relay/mod.rs
  src/main/network/relay/token_bucket.rs
Labels: Type: Enhancement, Component: Main
