Repository shadow/shadow, pull requests merged in 2023-03, with the labels that each got.

#2772 VirtualAddressSpaceIndpendent: use trait bounds in derive macro
  src/Cargo.lock
  src/lib/shadow-shim-helper-rs/src/option.rs
  src/lib/shadow-shim-helper-rs/src/rootedcell/cell.rs
  src/lib/shadow-shim-helper-rs/src/rootedcell/refcell.rs
  src/lib/vasi-macro/Cargo.toml
  src/lib/vasi-macro/src/lib.rs
  src/lib/vasi-sync/src/scchannel.rs
  src/lib/vasi-sync/src/scmutex.rs
  src/lib/vasi-sync/src/sync.rs
  src/lib/vasi/src/lib.rs
Labels: Component: Libraries, Component: Build

#2774 Derive VirtualAddressSpaceIndependent for ShimEvent
  src/lib/shadow-shim-helper-rs/src/shim_event.rs
  src/lib/shadow-shim-helper-rs/src/syscall_types.rs
  src/lib/shmem/shmem_allocator.h
  src/lib/shmem/src/allocator.rs
Labels: Component: Libraries

#2782 Add forgotten changelog entries
  CHANGELOG.md
Labels: Component: Documentation

#2783 Upgrade rust version to 1.68.0
  rust-toolchain.toml
  src/main/host/syscall/handler/socket.rs
  src/main/utility/stream_len.rs
Labels: Component: Main

#2784 Make read/write offsets an `Option`
  src/main/host/descriptor/eventfd.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/unistd.rs
Labels: Component: Main

#2789 Remove reference count from `SysCallHandler`
  src/main/host/syscall/protected.h
  src/main/host/syscall_handler.c
  src/main/host/syscall_handler.h
  src/main/host/thread.rs
Labels: Component: Main

#2788 Update versions of CI tools and rust dependencies
  .github/workflows/ci_maintenance.yml
  .github/workflows/extra_tests.yml
  .github/workflows/git.yml
  .github/workflows/lint.yml
  .github/workflows/sanitizers.yml
  ci/container_scripts/install_extra_deps.sh
  src/Cargo.lock
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shmem/Cargo.toml
  src/lib/syscall-logger/Cargo.toml
  src/lib/vasi-macro/Cargo.toml
  src/lib/vasi-sync/Cargo.toml
  src/main/Cargo.toml
  src/test/Cargo.toml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#2775 Convert Ipc to Rust
  CHANGELOG.md
  docs/shadow_config_spec.md
  src/lib/shadow-shim-helper-rs/binary_spinning_sem.cc
  src/lib/shadow-shim-helper-rs/binary_spinning_sem.h
  src/lib/shadow-shim-helper-rs/build.rs
  src/lib/shadow-shim-helper-rs/ipc.cc
  src/lib/shadow-shim-helper-rs/ipc.h
  src/lib/shadow-shim-helper-rs/shim_shmem.c
  src/lib/shadow-shim-helper-rs/shim_shmem.h
  src/lib/shadow-shim-helper-rs/src/ipc.rs
  src/lib/shadow-shim-helper-rs/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/shim_event.rs
  src/lib/shim/shim.c
  src/lib/shim/shim_syscall.c
  src/main/build.rs
  src/main/core/support/configuration.rs
  src/main/host/managed_thread.c
  src/main/host/shimipc.c
  src/main/host/shimipc.h
  src/main/host/syscall/signal.c
Labels: Component: Libraries, Component: Main, Component: Documentation

#2776 ShimEvent: convert from union to enum
  src/lib/shadow-shim-helper-rs/shim_shmem.c
  src/lib/shadow-shim-helper-rs/shim_shmem.h
  src/lib/shadow-shim-helper-rs/src/ipc.rs
  src/lib/shadow-shim-helper-rs/src/shim_event.rs
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/shim_syscall.c
  src/main/host/managed_thread.c
Labels: Component: Libraries, Component: Main

#2795 Remove deprecated ShimEvents and handlers
  src/lib/shadow-shim-helper-rs/build.rs
  src/lib/shadow-shim-helper-rs/shim_shmem.c
  src/lib/shadow-shim-helper-rs/shim_shmem.h
  src/lib/shadow-shim-helper-rs/src/shim_event.rs
  src/lib/shim/shim.c
  src/lib/shim/shim_syscall.c
Labels: Component: Libraries

#2791 SelfContainedChannel benchmarks and candidate optimizations
  src/Cargo.lock
  src/lib/vasi-sync/Cargo.toml
  src/lib/vasi-sync/benches/scchannel.rs
  src/lib/vasi-sync/src/scchannel.rs
  src/lib/vasi-sync/tests/scchannel-tests.rs
  src/lib/vasi/src/lib.rs
Labels: Component: Libraries, Component: Build

#2798 Restructure `File` to use `readv` and `writev`
  src/main/host/descriptor/eventfd.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/utility/enum_passthrough.rs
Labels: Component: Main

#2801 Add to changelog
  CHANGELOG.md
Labels: Component: Documentation

#2802 Fix preadv/preadv2/etc offset calculation and handling
  CHANGELOG.md
  src/main/host/syscall/uio.c
  src/test/file/test_file.c
Labels: Component: Testing, Component: Main, Component: Documentation

#2803 Clear changelog for new release
  CHANGELOG.md
Labels: Component: Documentation

#2800 Use posix_spawn instead of vfork + exec
  src/lib/shim/shim.c
  src/main/host/managed_thread.c
  src/main/utility/utility.c
  src/main/utility/utility.h
Labels: Component: Libraries, Component: Main

#2806 Unregister threads with ChildPidWatcher
  CHANGELOG.md
  src/main/host/managed_thread.c
  src/main/utility/childpid_watcher.rs
Labels: Component: Main, Component: Documentation

#2805 Support `sendmsg()` and `recvmsg()` for tcp wrapper
  src/main/build.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/tcp.h
  src/main/host/memory_manager/mod.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/uio.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/socket.c
  src/main/routing/packet.c
  src/main/routing/packet.h
  src/main/routing/payload.c
  src/main/routing/payload.h
Labels: Component: Main

#2808 Convert SysCallResult to Rust and rename to SyscallResult
  src/main/build.rs
  src/main/host/descriptor/mod.rs
  src/main/host/managed_thread.c
  src/main/host/process.rs
  src/main/host/syscall/clone.c
  src/main/host/syscall/epoll.c
  src/main/host/syscall/fcntl.c
  src/main/host/syscall/file.c
  src/main/host/syscall/fileat.c
  src/main/host/syscall/formatter.rs
  src/main/host/syscall/futex.c
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/mman.c
  src/main/host/syscall/poll.c
  src/main/host/syscall/poll.h
  src/main/host/syscall/process.c
  src/main/host/syscall/protected.h
  src/main/host/syscall/select.c
  src/main/host/syscall/shadow.c
  src/main/host/syscall/signal.c
  src/main/host/syscall/socket.c
  src/main/host/syscall/socket.h
  src/main/host/syscall/time.c
  src/main/host/syscall/timerfd.c
  src/main/host/syscall/uio.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall/unistd.h
  src/main/host/syscall_handler.c
  src/main/host/syscall_handler.h
  src/main/host/syscall_types.c
  src/main/host/syscall_types.h
  src/main/host/syscall_types.rs
Labels: Component: Main

#2809 ChildPidWatcher more robust unregistration
  src/main/utility/childpid_watcher.rs
Labels: Component: Main

#2814 ChildPidWatcher: fix a race condition when unregistering a pid
  src/main/utility/childpid_watcher.rs
Labels: Component: Main

#2811 Add syscall handlers for `sendmsg()` and `recvmsg()`
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/io.rs
  src/main/host/syscall/type_formatting.rs
  src/main/host/syscall_handler.c
  src/test/Cargo.toml
  src/test/socket/CMakeLists.txt
  src/test/socket/send_recv/CMakeLists.txt
  src/test/socket/send_recv/send-recv.yaml
  src/test/socket/send_recv/test_send_recv.rs
  src/test/socket/sendto_recvfrom/CMakeLists.txt
Labels: Component: Testing, Component: Main, Component: Build

#2815 Improve the strace formatting of `msghdr`
  src/main/host/syscall/type_formatting.rs
Labels: Component: Main

#2817 Move misc code to rust
  src/lib/shadow-build-common/src/lib.rs
  src/main/build.rs
  src/main/core/main.c
  src/main/core/main.h
  src/main/core/main.rs
  src/main/host/descriptor/tcp.c
  src/main/host/process.rs
  src/main/utility/mod.rs
  src/main/utility/utility.c
  src/main/utility/utility.h
Labels: Component: Libraries, Component: Main

#2812 Convert ManagedThread to Rust
  src/lib/shadow-shim-helper-rs/src/ipc.rs
  src/main/build.rs
  src/main/host/context.rs
  src/main/host/managed_thread.c
  src/main/host/managed_thread.h
  src/main/host/managed_thread.rs
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/mod.rs
  src/main/host/process.rs
  src/main/host/syscall/clone.c
  src/main/host/thread.rs
Labels: Component: Libraries, Component: Main
