Repository shadow/shadow, pull requests merged in 2023-12, with the labels that each got.

#3245 Fix some rust nightly clippy lints
  src/main/core/scheduler/logical_processor.rs
  src/main/host/host.rs
  src/main/host/process.rs
  src/main/host/thread.rs
Labels: Component: Main

#3246 Remove more CMake code
  .github/workflows/lint.yml
  .github/workflows/sanitizers.yml
  CMakeLists.txt
  build-info.h.in
  cmake/ShadowTools.cmake
  cmake/compile_tests/struct_linux_dirent.c
  cmake/compile_tests/struct_linux_dirent64.c
  cmake/compile_tests/struct_statx.c
  cmake/compile_tests/struct_statx_timestamp.c
  config.h.in
  docs/extra_tests.md
  src/Cargo.lock
  src/lib/shadow-build-common/src/lib.rs
  src/main/Cargo.toml
  src/main/build.rs
  src/main/core/main.c
  src/main/core/main.h
  src/main/core/main.rs
  src/main/host/syscall/kernel_types.h
  src/main/main.c
  src/main/routing/packet.c
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#3247 Move git and timestamp info to new crate
  src/Cargo.lock
  src/Cargo.toml
  src/lib/shadow-build-info/Cargo.toml
  src/lib/shadow-build-info/build.rs
  src/lib/shadow-build-info/src/lib.rs
  src/main/Cargo.toml
  src/main/build.rs
  src/main/core/main.rs
Labels: Component: Libraries, Component: Main, Component: Build

#3249 Use 'opt-level = 3' for build scripts
  src/Cargo.toml
Labels: Component: Build

#3250 Support listening for file signal events
  src/lib/shadow-build-common/src/lib.rs
  src/main/build.rs
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor.h
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/epoll/entry.rs
  src/main/host/descriptor/epoll/mod.rs
  src/main/host/descriptor/eventfd.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/regular_file.c
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/socket/abstract_unix_ns.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/timerfd.rs
  src/main/host/process.rs
  src/main/utility/legacy_callback_queue.rs
Labels: Component: Libraries, Component: Main

#3255 Add missing changelog entries
  CHANGELOG.md
  README.md
Labels: Component: Documentation

#3254 New documentation for contributing/testing
  docs/SUMMARY.md
  docs/contributing.md
  docs/writing_tests.md
Labels: Component: Documentation

#3257 Upgrade CI to rust 1.75
  ci/rust-toolchain-nightly.toml
  ci/rust-toolchain-stable.toml
  src/main/core/worker.rs
  src/main/host/process.rs
Labels: Component: Main

#3259 Reset changelog for next release
  CHANGELOG.md
Labels: Type: Maintenance, Component: Documentation
