Repository shadow/shadow, pull requests merged in 2023-08, with the labels that each got.

#3083 Fix shell scripts
  .github/workflows/lint.yml
  ci/container_scripts/build_and_install.sh
  ci/container_scripts/install_deps.sh
  ci/container_scripts/install_extra_deps.sh
  ci/run.sh
  src/test/legacy/run_plugin_test.sh
  src/test/tgen/fixed_duration/verify.sh
  src/test/tgen/fixed_size/verify.sh
  src/test/tor/minimal/run.sh
  src/test/tor/minimal/verify.sh
Labels: Component: Testing

#3086 Remove `updatePacketHeader` function
  src/main/host/descriptor/compat_socket.c
  src/main/host/descriptor/compat_socket.h
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/network/network_interface.c
Labels: Component: Main

#3082 Rm shutdown helper
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor.h
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/mod.rs
  src/main/host/process.rs
Labels: Component: Main

#2970 Make DescriptorTable clonable
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/mod.rs
Labels: Component: Main

#3087 Log errors to stderr in addition to stdout
  CHANGELOG.md
  docs/shadow_config_spec.md
  src/main/core/logger/shadow_logger.rs
  src/main/core/main.rs
  src/main/core/support/configuration.rs
  src/test/cli/help-long-expected
Labels: Component: Testing, Component: Main, Component: Documentation

#3091 Use std::io::IsTerminal instead of nix::unistd::isatty
  src/main/core/controller.rs
  src/main/core/main.rs
  src/main/utility/mod.rs
Labels: Component: Main

#3092 Add epoll bindings to linux-api
  src/lib/linux-api/README.md
  src/lib/linux-api/bindings-wrapper.h
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/src/bindings.rs
Labels: Component: Libraries, Component: Documentation

#3094 Fix `read()` and `recv()` with 0-length buffer
  src/lib/shadow-shim-helper-rs/src/syscall_types.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/syscall/handler/uio.rs
  src/test/socket/send_recv/test_send_recv.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#3095 Fix sending packets from sockets bound to 0.0.0.0
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/network/namespace.rs
  src/test/socket/send_recv/test_send_recv.rs
Labels: Component: Testing, Component: Main

#3096 Add better support for recursive RootedRc
  src/lib/shadow-shim-helper-rs/src/explicit_drop.rs
  src/lib/shadow-shim-helper-rs/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/rootedcell/cell.rs
  src/lib/shadow-shim-helper-rs/src/rootedcell/rc.rs
  src/lib/shadow-shim-helper-rs/src/rootedcell/refcell.rs
  src/main/core/worker.rs
  src/main/host/context.rs
  src/main/host/host.rs
  src/main/host/process.rs
Labels: Component: Libraries, Component: Main

#3102 Impl tcp time traits for `SimulationTime` and `EmulatedTime`
  src/Cargo.lock
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/src/emulated_time.rs
  src/lib/shadow-shim-helper-rs/src/simulation_time.rs
  src/main/network/router/codel_queue.rs
Labels: Component: Libraries, Component: Main, Component: Build

#3097 Support clone with CLONE_FILES unset
  src/Cargo.lock
  src/Cargo.toml
  src/lib/linux-api/Cargo.toml
  src/lib/shadow-shim-helper-rs/src/rootedcell/refcell.rs
  src/main/core/worker.rs
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/tcp.c
  src/main/host/process.rs
  src/main/host/syscall/epoll.c
  src/main/host/syscall/fcntl.c
  src/main/host/syscall/file.c
  src/main/host/syscall/fileat.c
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/handler/eventfd.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/timerfd.rs
  src/main/host/syscall/handler/uio.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/mman.c
  src/main/host/syscall/poll.c
  src/main/host/syscall/uio.c
  src/main/host/syscall/unistd.c
  src/main/host/thread.rs
  src/test/Cargo.toml
  src/test/clone/clone.yaml
  src/test/clone/test_clone.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3103 Add a basic fork test
  src/lib/linux-api/Cargo.toml
  src/lib/linux-api/src/exit.rs
  src/lib/linux-api/src/posix_types.rs
  src/lib/linux-api/src/sched.rs
  src/lib/linux-api/src/signal.rs
  src/lib/shim/src/signals.rs
  src/test/Cargo.toml
  src/test/clone/test_clone.rs
Labels: Component: Libraries, Component: Testing, Component: Build

#3105 Add new TCP socket implementation
  docs/shadow_config_spec.md
  src/Cargo.lock
  src/main/Cargo.toml
  src/main/build.rs
  src/main/core/manager.rs
  src/main/core/support/configuration.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/host.rs
  src/main/host/network/interface.rs
  src/main/host/network/namespace.rs
  src/main/host/network/network_interface.c
  src/main/host/network/network_interface.h
  src/main/host/syscall/handler/socket.rs
  src/main/network/packet.rs
  src/main/routing/packet.c
  src/test/cli/help-long-expected
  src/test/socket/accept/CMakeLists.txt
  src/test/socket/bind/CMakeLists.txt
  src/test/socket/socket/CMakeLists.txt
  src/test/tcp/CMakeLists.txt
Labels: Component: Testing, Component: Main, Component: Build, Component: Documentation

#3108 Reorganize `networkinterface_isAssociated`
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/host.rs
  src/main/host/network/interface.rs
  src/main/host/network/namespace.rs
  src/main/host/network/network_interface.c
  src/main/host/network/network_interface.h
Labels: Component: Main

#2926 Moving the shared memory alloactor to Rust
  src/Cargo.lock
  src/lib/CMakeLists.txt
  src/lib/shim/src/lib.rs
  src/lib/shmem/CMakeLists.txt
  src/lib/shmem/Cargo.toml
  src/lib/shmem/buddy.c
  src/lib/shmem/buddy.h
  src/lib/shmem/build.rs
  src/lib/shmem/shmem_allocator.c
  src/lib/shmem/shmem_allocator.h
  src/lib/shmem/shmem_file.c
  src/lib/shmem/shmem_file.h
  src/lib/shmem/shmem_test.c
  src/lib/shmem/shmem_util.c
  src/lib/shmem/shmem_util.h
  src/lib/shmem/src/allocator.rs
  src/lib/shmem/src/lib.rs
  src/lib/shmem/src/raw_syscall.rs
  src/lib/shmem/src/shmalloc_impl.rs
  src/lib/shmem/src/util.rs
  src/main/build.rs
  src/main/core/main.rs
  src/main/core/manager.rs
  src/main/host/host.rs
  src/main/host/managed_thread.rs
  src/main/host/process.rs
  src/main/host/thread.rs
Labels: Component: Libraries, Component: Main, Component: Build

#3113 Add AtomicTlsMap::forget_all
  src/Cargo.lock
  src/lib/vasi-sync/Cargo.toml
  src/lib/vasi-sync/src/atomic_tls_map.rs
  src/lib/vasi-sync/tests/atomic-tls-map-tests.rs
Labels: Component: Libraries, Component: Build

#3114 Add more linux-api bits needed for epoll
  src/lib/linux-api/bindings-wrapper.h
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/epoll.rs
  src/lib/linux-api/src/errno.rs
  src/lib/linux-api/src/lib.rs
Labels: Component: Libraries

#3112 Implement fork
  docs/shadow_config_spec.md
  src/lib/linux-api/src/sched.rs
  src/lib/shadow-shim-helper-rs/src/shim_event.rs
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/src/clone.rs
  src/lib/shim/src/lib.rs
  src/lib/shim/src/signals.rs
  src/lib/shim/src/syscall.rs
  src/lib/shim/src/tls.rs
  src/main/host/context.rs
  src/main/host/host.rs
  src/main/host/managed_thread.rs
  src/main/host/memory_manager/memory_copier.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/clone.rs
  src/test/Cargo.toml
  src/test/clone/CMakeLists.txt
  src/test/clone/fork.yaml
  src/test/clone/test_clone.rs
  src/test/clone/test_fork.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#3116 cargo clippy --fix
  src/lib/formatting-nostd/src/borrowed_fd_writer.rs
  src/lib/formatting-nostd/src/utf8.rs
  src/lib/shim/src/tls.rs
  src/lib/shmem/src/allocator.rs
  src/lib/tcp/src/tests/mod.rs
  src/lib/tsc/src/lib.rs
  src/lib/vasi-sync/benches/scchannel.rs
  src/lib/vasi-sync/tests/atomic-tls-map-tests.rs
  src/lib/vasi-sync/tests/scchannel-tests.rs
  src/main/host/syscall/formatter.rs
  src/main/host/syscall_condition.rs
  src/main/network/relay/token_bucket.rs
  src/main/network/router/codel_queue.rs
  src/main/utility/byte_queue.rs
Labels: Component: Libraries, Component: Main

#3117 Fix warning in rust 1.72 beta
  src/main/core/work/task.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/timer.rs
  src/main/utility/counter.rs
  src/main/utility/pcap_writer.rs
Labels: Component: Main

#3119 Implement parent pid and related functionality
  src/main/host/process.rs
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/unistd.c
  src/main/host/syscall/unistd.h
  src/main/host/syscall_handler.c
  src/test/clone/test_clone.rs
  src/test/clone/test_fork.rs
  src/test/unistd/test_unistd.rs
Labels: Component: Testing, Component: Main

#3118 Fix clippy warnings in rust 1.72 beta
  src/lib/shadow-shim-helper-rs/src/util/mod.rs
  src/lib/vasi-sync/src/sync.rs
  src/main/utility/mod.rs
  src/main/utility/synchronization/simple_latch.rs
  src/test/memory/test_mmap.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#3124 linux-api: wrap wait-related constants and types
  src/lib/linux-api/bindings-wrapper.h
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/lib.rs
  src/lib/linux-api/src/resource.rs
  src/lib/linux-api/src/wait.rs
Labels: Component: Libraries

#3122 Add process group IDs and session IDs
  CHANGELOG.md
  src/main/host/host.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall_handler.c
  src/test/clone/test_fork.rs
  src/test/unistd/test_unistd.rs
Labels: Component: Testing, Component: Main, Component: Documentation

#3128 Format with rustfmt 1.6.0-stable (cargo 1.72)
  src/lib/formatting-nostd/src/borrowed_fd_writer.rs
  src/lib/shim/src/signals.rs
  src/lib/syscall-logger/src/lib.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/host.rs
  src/main/host/syscall/formatter.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall_types.rs
Labels: Component: Libraries, Component: Main

#3127 run_tests workflow: add sccache
  .github/workflows/extra_tests.yml
  .github/workflows/run_tests.yml
  .github/workflows/run_tests_incremental.yml
Labels: Component: Testing

#3130 Add support for Debian Bookworm
  .dockerignore
  .github/workflows/run_tests.yml
  CHANGELOG.md
  ci/container_scripts/install_deps.sh
  docs/install_dependencies.md
  docs/supported_platforms.md
  src/test/resolver/test_getaddrinfo.c
Labels: Component: Testing, Component: Documentation

#3126 Improve process exit handling
  CHANGELOG.md
  src/lib/linux-api/src/signal.rs
  src/main/core/support/configuration.rs
  src/main/host/host.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/clone.rs
  src/test/Cargo.toml
  src/test/clone/test_fork.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#3132 Add support for sequence numbers, acks, and windows to new tcp sockets
  src/lib/tcp/src/buffer.rs
  src/lib/tcp/src/connection.rs
  src/lib/tcp/src/lib.rs
  src/lib/tcp/src/seq.rs
  src/lib/tcp/src/states.rs
  src/lib/tcp/src/tests/mod.rs
  src/lib/tcp/src/tests/send_recv.rs
  src/lib/tcp/src/tests/transitions.rs
  src/main/host/host.rs
  src/test/socket/send_recv/CMakeLists.txt
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3135 Fix tgen test verification script
  src/test/tgen/fixed_duration/verify.sh
  src/test/tgen/fixed_size/verify.sh
Labels: Component: Testing

#3134 Fix bug in rust tcp sequence number
  src/lib/tcp/src/connection.rs
  src/lib/tcp/src/tests/send_recv.rs
Labels: Component: Libraries

#3138 Add window scaling to rust tcp
  src/lib/tcp/src/buffer.rs
  src/lib/tcp/src/connection.rs
  src/lib/tcp/src/lib.rs
  src/lib/tcp/src/states.rs
  src/lib/tcp/src/tests/mod.rs
  src/lib/tcp/src/tests/send_recv.rs
  src/lib/tcp/src/tests/transitions.rs
  src/lib/tcp/src/tests/window_scale.rs
  src/lib/tcp/src/window_scaling.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/tcp.c
  src/main/network/packet.rs
  src/main/routing/packet.c
  src/main/routing/packet.h
Labels: Component: Libraries, Component: Main
