Repository shadow/shadow, pull requests merged in 2023-05, with the labels that each got.

#2896 Update to rust 1.69.0 and use `CStr::from_bytes_until_nul`
  rust-toolchain.toml
  src/main/host/memory_manager/mod.rs
  src/main/utility/sockaddr.rs
Labels: Component: Main

#2895 Log system memory info during the heartbeat
  src/main/core/manager.rs
  src/main/core/mod.rs
  src/main/core/resource_usage.rs
Labels: Component: Main

#2899 MemoryMapper: use memfd_create
  src/main/host/memory_manager/memory_mapper.rs
Labels: Component: Main

#2903 Return `EINVAL` for unknown `epoll_ctl` option
  CHANGELOG.md
  src/main/host/descriptor/epoll.c
  src/test/epoll/test_epoll.rs
Labels: Component: Testing, Component: Main, Component: Documentation

#2904 Don't install a rustup toolchain in the docs
  ci/container_scripts/install_extra_deps.sh
  docs/compatibility_notes.md
  docs/install_dependencies.md
Labels: Component: Documentation

#2905 Skip more shim glibc syscall wrappers
  src/lib/libc_preload/gen_syscall_wrappers_c.py
  src/lib/libc_preload/syscall_wrappers.c
  src/main/host/memory_manager/mod.rs
  src/main/host/syscall/handler/fcntl.rs
Labels: Component: Libraries, Component: Main

#2906 Drop per-process exitcode files
  CHANGELOG.md
  docs/getting_started_basic.md
  src/main/host/process.rs
Labels: Component: Main, Component: Documentation

#2908 Assign PIDs in process creation order
  CHANGELOG.md
  docs/semver.md
  docs/shadow_config_spec.md
  src/main/host/host.rs
  src/test/Cargo.toml
  src/test/config/shutdown/CMakeLists.txt
  src/test/config/shutdown/shutdown_already_exited.yaml
  src/test/unistd/CMakeLists.txt
  src/test/unistd/pid_assignment.yaml
  src/test/unistd/test_pid_assignment.rs
Labels: Component: Testing, Component: Main, Component: Build, Component: Documentation

#2909 Enable the experimental worker spinning by default
  CHANGELOG.md
  docs/shadow_config_spec.md
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Documentation

#2917 Upgrade shadow's rust dependencies
  src/Cargo.lock
  src/lib/logger/Cargo.toml
  src/lib/shadow-build-common/Cargo.toml
  src/lib/shmem/Cargo.toml
  src/lib/syscall-logger/Cargo.toml
  src/lib/vasi-macro/Cargo.toml
  src/lib/vasi-sync/Cargo.toml
  src/main/Cargo.toml
  src/test/Cargo.toml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#2914 Migrate clone and gettid to Rust
  src/main/build.rs
  src/main/host/context.rs
  src/main/host/syscall/clone.c
  src/main/host/syscall/clone.h
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall_handler.c
Labels: Component: Main

#2916 Update kernel support policy
  CHANGELOG.md
  docs/semver.md
  docs/supported_platforms.md
  src/main/core/main.rs
Labels: Component: Main, Component: Documentation

#2920 vasi-sync: Make no-std
  src/lib/vasi-sync/Cargo.toml
  src/lib/vasi-sync/src/lib.rs
  src/lib/vasi-sync/src/scchannel.rs
  src/lib/vasi-sync/src/scmutex.rs
  src/lib/vasi-sync/src/sync.rs
Labels: Component: Libraries, Component: Build

#2921 Fix merging of `host_options` and `host_option_defaults`
  CHANGELOG.md
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Documentation

#2922 Move "stability", "security", and "limitations" docs to back
  docs/SUMMARY.md
Labels: Component: Documentation

#2924 Move 'affinity' code to 'core'
  src/main/build.rs
  src/main/core/affinity.c
  src/main/core/affinity.h
Labels: Component: Main

#2925 Implement clone3
  CHANGELOG.md
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/shim_api_addrinfo.c
  src/lib/shim/shim_api_syscall.c
  src/lib/shim/shim_rdtsc.c
  src/lib/shim/shim_seccomp.c
  src/lib/shim/shim_seccomp.h
  src/lib/shim/shim_syscall.c
  src/lib/shim/shim_syscall.h
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall_handler.c
  src/main/utility/pod.rs
Labels: Component: Libraries, Component: Main, Component: Documentation

#2927 Support a `parallelism` of 0
  CHANGELOG.md
  docs/shadow_config_spec.md
  src/main/core/cpu.rs
  src/main/core/manager.rs
  src/main/core/mod.rs
  src/main/core/scheduler/thread_per_core.rs
  src/main/core/scheduler/thread_per_host.rs
  src/main/core/support/configuration.rs
  src/test/CMakeLists.txt
Labels: Component: Testing, Component: Main, Component: Build, Component: Documentation

#2929 Allow-list seccomp native syscalls by code section
  src/lib/shim/shim_seccomp.c
  src/lib/shim/shim_syscall.c
  src/lib/shim/shim_syscall.h
Labels: Component: Libraries

#2933 vasi: make no_std
  src/lib/vasi/src/lib.rs
Labels: Component: Libraries

#2934 Add miri docs
  docs/extra_tests.md
Labels: Component: Documentation

#2936 Fix two warnings on nightly
  src/lib/syscall-logger/src/lib.rs
  src/main/host/syscall/io.rs
Labels: Component: Libraries, Component: Main

#2902 Make `ForeignPtr` `Send` and `Sync`
  src/lib/shadow-shim-helper-rs/src/syscall_types.rs
  src/lib/shadow-shim-helper-rs/src/util/mod.rs
  src/main/core/manager.rs
  src/main/core/work/task.rs
  src/main/core/worker.rs
  src/main/host/host.rs
  src/main/host/thread.rs
  src/main/network/net_namespace.rs
  src/main/network/packet.rs
  src/main/utility/childpid_watcher.rs
  src/main/utility/mod.rs
Labels: Component: Libraries, Component: Main

#2939 Split ShimEvent into ShimEventToShadow and ShimEventToShim
  src/lib/shadow-shim-helper-rs/build.rs
  src/lib/shadow-shim-helper-rs/src/ipc.rs
  src/lib/shadow-shim-helper-rs/src/shim_event.rs
  src/lib/shim/shim.c
  src/lib/shim/shim_syscall.c
  src/main/host/managed_thread.rs
Labels: Component: Libraries, Component: Main

#2937 ChildPidWatcher: use pidfd_open
  src/main/host/managed_thread.rs
  src/main/utility/childpid_watcher.rs
Labels: Component: Main

#2941 Reduce the number of log messages at 'info' level
  src/main/core/manager.rs
  src/main/core/sim_config.rs
  src/main/host/host.rs
  src/main/host/managed_thread.rs
  src/main/host/process.rs
  src/main/host/syscall_handler.c
Labels: Component: Main

#2935 clone handler: handle individual flags more explicitly
  src/main/host/syscall/handler/clone.rs
Labels: Component: Main

#2945 Small changes to docs
  docs/shadow_config_spec.md
  docs/system_configuration.md
Labels: Component: Documentation

#2923 Log level policy
  CHANGELOG.md
  docs/coding_style.md
  src/main/host/syscall_handler.c
Labels: Component: Main, Component: Documentation

#2931 Change `interface_qdisc` value `roundrobin` to `round-robin`
  CHANGELOG.md
  docs/shadow_config_spec.md
  src/main/core/support/configuration.rs
  src/test/phold/CMakeLists.txt
Labels: Component: Testing, Component: Main, Component: Build, Component: Documentation

#2949 Hide clap's "possible values" text
  src/main/core/support/configuration.rs
Labels: Component: Main

#2943 tor minimal test: update for congestion control and conflux
  src/test/tor/minimal/conf/tor.authority.torrc
  src/test/tor/minimal/shadow.data.template/hosts/relay3/fingerprint
  src/test/tor/minimal/shadow.data.template/hosts/relay3/keys/ed25519_master_id_public_key
  src/test/tor/minimal/shadow.data.template/hosts/relay3/keys/ed25519_master_id_secret_key
  src/test/tor/minimal/shadow.data.template/hosts/relay3/keys/ed25519_signing_cert
  src/test/tor/minimal/shadow.data.template/hosts/relay3/keys/ed25519_signing_secret_key
  src/test/tor/minimal/shadow.data.template/hosts/relay3/keys/secret_id_key
  src/test/tor/minimal/shadow.data.template/hosts/relay3/keys/secret_onion_key
  src/test/tor/minimal/shadow.data.template/hosts/relay3/keys/secret_onion_key_ntor
  src/test/tor/minimal/shadow.data.template/hosts/relay3/torrc
  src/test/tor/minimal/shadow.data.template/hosts/relay3/torrc-defaults
  src/test/tor/minimal/shadow.data.template/hosts/relay4/fingerprint
  src/test/tor/minimal/shadow.data.template/hosts/relay4/keys/ed25519_master_id_public_key
  src/test/tor/minimal/shadow.data.template/hosts/relay4/keys/ed25519_master_id_secret_key
  src/test/tor/minimal/shadow.data.template/hosts/relay4/keys/ed25519_signing_cert
  src/test/tor/minimal/shadow.data.template/hosts/relay4/keys/ed25519_signing_secret_key
  src/test/tor/minimal/shadow.data.template/hosts/relay4/keys/secret_id_key
  src/test/tor/minimal/shadow.data.template/hosts/relay4/keys/secret_onion_key
  src/test/tor/minimal/shadow.data.template/hosts/relay4/keys/secret_onion_key_ntor
  src/test/tor/minimal/shadow.data.template/hosts/relay4/torrc
  src/test/tor/minimal/shadow.data.template/hosts/relay4/torrc-defaults
  src/test/tor/minimal/shadow.data.template/hosts/torflowauthority/v3bw
  src/test/tor/minimal/tor-minimal.yaml
  src/test/tor/minimal/verify.sh
Labels: Component: Testing

#2952 Clear changelog for next release
  CHANGELOG.md
Labels: Component: Documentation

#2953 We no longer need executable /dev/shm
  .github/workflows/extra_tests.yml
  .github/workflows/run_tests.yml
  CHANGELOG.md
  ci/run.sh
  docs/ci.md
  docs/supported_platforms.md
Labels: Component: Testing, Component: Documentation

#2957 Add test for cli help output
  src/test/CMakeLists.txt
  src/test/cli/CMakeLists.txt
  src/test/cli/help-long-expected
  src/test/cli/help-short-expected
Labels: Component: Testing, Component: Build

#2950 Move shim logging config into shared memory
  src/lib/shadow-shim-helper-rs/build.rs
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shim/shim.c
  src/main/core/manager.rs
  src/main/host/host.rs
Labels: Component: Libraries, Component: Main

#2946 Add a test for dynamically generated code
  src/test/memory/test_mmap.rs
Labels: Component: Testing

#2961 Add some comments about current working directory handling
  src/main/host/process.rs
  src/main/host/syscall_handler.c
Labels: Component: Main

#2966 Fix refcount bug and added `InetSocketWeak`
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
Labels: Component: Main

#2964 Rename `Packet` to `PacketRc` and other small changes
  src/main/core/work/event.rs
  src/main/core/worker.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/network_interface.rs
  src/main/network/mod.rs
  src/main/network/packet.rs
  src/main/network/relay/mod.rs
  src/main/network/router/codel_queue.rs
  src/main/network/router/mod.rs
Labels: Component: Main

#2963 Add fork and vfork stubs
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall_handler.c
Labels: Component: Main

#2968 Add more uses of the global callback queue
  src/main/host/descriptor/mod.rs
  src/main/host/process.rs
Labels: Component: Main

#2974 Fix packet issues
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/routing/payload.c
Labels: Component: Main

#2973 Remove some header dependencies
  src/lib/logger/logger.c
  src/lib/logger/logger.h
  src/lib/shim/patch_vdso.c
  src/main/host/descriptor/descriptor_types.h
  src/main/host/syscall/mman.c
  src/main/host/syscall_handler.c
  src/main/utility/utility.c
  src/main/utility/utility.h
Labels: Component: Libraries, Component: Main

#2981 Add a rust UDP implementation
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/uio.rs
  src/main/network/packet.rs
  src/main/routing/packet.c
  src/main/routing/packet.h
  src/main/routing/payload.c
  src/main/routing/payload.h
  src/main/utility/sockaddr.rs
  src/test/socket/send_recv/test_send_recv.rs
  src/test/socket/shutdown/test_shutdown.rs
Labels: Component: Testing, Component: Main

#2982 Remove unused C socket code
  src/main/build.rs
  src/main/host/descriptor/udp.c
  src/main/host/descriptor/udp.h
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/ioctl.c
  src/main/host/syscall/socket.c
  src/main/host/syscall/socket.h
  src/main/host/syscall/uio.c
  src/main/host/syscall/unistd.c
  src/main/host/syscall_handler.c
Labels: Component: Main

#2983 Clone tweaks
  src/lib/libc_preload/gen_syscall_wrappers_c.py
  src/lib/libc_preload/syscall_wrappers.c
  src/test/clone/clone.yaml
Labels: Component: Libraries, Component: Testing

#2985 Add udp test for disassociating during `connect()`
  src/test/socket/connect/test_connect.rs
Labels: Component: Testing
