Repository shadow/shadow, pull requests merged in 2023-04, with the labels that each got.

#2825 Remove deprecated python tools
  CHANGELOG.md
  src/test/config/CMakeLists.txt
  src/test/config/convert/CMakeLists.txt
  src/test/config/convert/shadow.expected.yaml
  src/test/config/convert/shadow.original.xml
  src/test/config/convert/test_config.c
  src/test/config/convert/topology.expected.gml
  src/test/config/convert/topology.original.xml
  src/tools/convert_legacy_config.py
  src/tools/convert_legacy_topology.py
  src/tools/convert_multi_app.py
  src/tools/generate_example_config.py
Labels: Component: Testing, Component: Tools, Component: Build, Component: Documentation

#2826 Fix some incorrect buffer sizes in the memory manager
  src/main/host/memory_manager/mod.rs
Labels: Component: Main

#2824 Do not implicitly search current directory for executables
  CHANGELOG.md
  src/main/core/sim_config.rs
  src/test/bindc/bindc.yaml
  src/test/config/read_from_stdin/config-stdin.yaml
  src/test/cpp/cpp.yaml
  src/test/determinism/determinism1.test.shadow.config.yaml
  src/test/epoll/epoll-writeable.yaml
  src/test/epoll/epoll.yaml
  src/test/file/file.yaml
  src/test/futex/futex.yaml
  src/test/golang/simple_http.yaml
  src/test/phold/phold.yaml
  src/test/resolver/getaddrinfo.yaml
  src/test/signal/signal.yaml
  src/test/sockbuf/sockbuf.yaml
  src/test/tcp/tcp-blocking-loopback.yaml
  src/test/tcp/tcp-blocking-lossless.yaml
  src/test/tcp/tcp-blocking-lossy.yaml
  src/test/tcp/tcp-iov-loopback.yaml
  src/test/tcp/tcp-iov-lossless.yaml
  src/test/tcp/tcp-iov-lossy.yaml
  src/test/tcp/tcp-nonblocking-epoll-loopback.yaml
  src/test/tcp/tcp-nonblocking-epoll-lossless.yaml
  src/test/tcp/tcp-nonblocking-epoll-lossy.yaml
  src/test/tcp/tcp-nonblocking-poll-loopback.yaml
  src/test/tcp/tcp-nonblocking-poll-lossless.yaml
  src/test/tcp/tcp-nonblocking-poll-lossy.yaml
  src/test/tcp/tcp-nonblocking-select-loopback.yaml
  src/test/tcp/tcp-nonblocking-select-lossless.yaml
  src/test/tcp/tcp-nonblocking-select-lossy.yaml
  src/test/timerfd/timerfd.yaml
  src/test/udp/udp-uniprocess.yaml
  src/test/udp/udp.yaml
Labels: Component: Testing, Component: Main, Component: Documentation

#2829 Simplify memory manager `read_vals`
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/time.rs
  src/main/utility/pod.rs
Labels: Component: Main

#2828 Split CHANGELOG by semver-level
  CHANGELOG.md
Labels: Component: Documentation

#2831 Always use YAML extended syntax
  CHANGELOG.md
  docs/shadow_config_complex.md
  docs/shadow_config_overview.md
  docs/shadow_config_spec.md
  src/main/core/main.rs
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Documentation

#2830 Add a `write` method to the memory manager
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/sysinfo.rs
  src/main/host/syscall/handler/time.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/io.rs
Labels: Component: Main

#2834 Add type to thread's `tid_address`
  src/main/host/process.rs
  src/main/host/thread.rs
Labels: Component: Main

#2838 Change definition of `io::write_partial`
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/syscall/io.rs
Labels: Component: Main

#2840 Change the `pcap_directory` config option to `pcap_enabled`
  docs/shadow_config_spec.md
  src/main/core/manager.rs
  src/main/core/sim_config.rs
  src/main/core/support/configuration.rs
  src/main/host/host.rs
  src/test/determinism/determinism1.test.shadow.config.yaml
  src/test/determinism/determinism2.test.shadow.config.yaml
Labels: Component: Testing, Component: Main, Component: Documentation

#2839 Move and better-document waiting for thread exit
  CHANGELOG.md
  src/lib/vasi-sync/src/scchannel.rs
  src/main/host/managed_thread.rs
  src/main/host/process.rs
Labels: Component: Libraries, Component: Main, Component: Documentation

#2833 Remove hostname prefix from hosts' data files
  CHANGELOG.md
  docs/getting_started_basic.md
  docs/semver.md
  docs/shadow_config_spec.md
  docs/testing_determinism.md
  examples/curl/run.sh
  examples/etcd/run.sh
  examples/http-server/run.sh
  examples/nginx/run.sh
  src/main/host/network_interface.c
  src/main/host/process.rs
  src/test/determinism/determinism1_compare.cmake
  src/test/determinism/determinism2_compare.cmake
  src/test/signal/CMakeLists.txt
  src/test/tgen/fixed_duration/verify.sh
  src/test/tgen/fixed_size/verify.sh
  src/test/tor/minimal/verify.sh
Labels: Component: Testing, Component: Main, Component: Build, Component: Documentation

#2843 Log less in ManagedThread::wait_for_native_exit
  src/main/host/managed_thread.rs
Labels: Component: Main

#2841 Add `MSG_TRUNC` support for unix sockets
  CHANGELOG.md
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/socket.c
  src/test/socket/send_recv/test_send_recv.rs
Labels: Component: Testing, Component: Main, Component: Documentation

#2844 Update end date for NSF sponsorship
  docs/nsf_sponsorship.md
Labels: Component: Documentation

#2845 Rename `RecvmsgReturn.bytes_read` field to `return_val`
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/uio.rs
Labels: Component: Main

#2820 Update our semver guidelines and supported platforms
  docs/semver.md
  docs/supported_platforms.md
Labels: Component: Documentation

#2851 Update comment re posix_spawn_file_actions_addchdir_np
  src/lib/shim/shim.c
Labels: Component: Libraries

#2850 Remove testing of and references to unsupported platforms
  .github/workflows/run_tests.yml
  .github/workflows/run_tests_incremental.yml
  ci/container_scripts/install_deps.sh
  ci/container_scripts/install_extra_deps.sh
  docs/ci.md
Labels: Component: Testing, Component: Documentation

#2852 Drop official support for clang
  CHANGELOG.md
  docs/ci.md
  docs/install_dependencies.md
Labels: Component: Documentation

#2854 Support the `TIMER_ABSTIME` flag for `clock_nanosleep`
  CHANGELOG.md
  src/main/host/syscall/time.c
  src/test/sleep/test_sleep.rs
Labels: Component: Testing, Component: Main, Component: Documentation

#2842 Add regression test for #2210
  src/test/regression/2210/CMakeLists.txt
  src/test/regression/2210/regression-2210.yaml
  src/test/regression/CMakeLists.txt
Labels: Component: Testing, Component: Build

#2855 Remove unused `ALL_SHADOW_TESTS` from cmake
  src/test/CMakeLists.txt
  src/test/config/CMakeLists.txt
  src/test/examples/CMakeLists.txt
  src/test/regression/CMakeLists.txt
  src/test/socket/CMakeLists.txt
  src/test/tgen/CMakeLists.txt
  src/test/tor/CMakeLists.txt
Labels: Component: Testing, Component: Build

#2849 Reduce usage of special environment variables
  CHANGELOG.md
  docs/shadow_config_spec.md
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shim/shim.c
  src/lib/shim/shim.h
  src/lib/shim/shim_rdtsc.c
  src/lib/shim/shim_sys.c
  src/lib/shim/shim_syscall.c
  src/main/core/manager.rs
  src/main/core/support/configuration.rs
  src/main/host/host.rs
  src/main/host/process.rs
  src/main/host/syscall/time.c
  src/main/host/syscall/time.h
  src/main/host/syscall_handler.c
  src/main/host/thread.rs
Labels: Component: Libraries, Component: Main, Component: Documentation

#2853 Remove SHADOW_SPAWNED env variable
  src/lib/shim/shim.c
  src/main/core/main.rs
  src/main/core/manager.rs
  src/test/test_common.c
  src/test/test_utils.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#2856 Restrict allowed hostname characters
  CHANGELOG.md
  docs/shadow_config_spec.md
  src/main/core/support/configuration.rs
  src/test/config/parsing/CMakeLists.txt
  src/test/config/parsing/hostname-invalid-characters.yaml
Labels: Component: Testing, Component: Main, Component: Build, Component: Documentation

#2857 Fix broken example tests
  examples/curl/run.sh
  examples/etcd/CMakeLists.txt
  examples/etcd/run.sh
  examples/http-server/run.sh
  examples/iperf-2/run.sh
  examples/nginx/run.sh
  examples/wget2/run.sh
Labels: Component: Build

#2861 Remove unused `use_extended_yaml` config option from docs
  docs/shadow_config_spec.md
Labels: Component: Documentation

#2859 Fail if process start or stop time isn't before sim stop time
  CHANGELOG.md
  docs/shadow_config_spec.md
  src/main/core/sim_config.rs
  src/test/regression/CMakeLists.txt
Labels: Component: Testing, Component: Main, Component: Build, Component: Documentation

#2862 Remove migration docs and `use_legacy_working_dir` option
  docs/SUMMARY.md
  docs/migrating_from_1x.md
  docs/shadow_config_spec.md
  src/main/core/manager.rs
  src/main/core/support/configuration.rs
  src/main/host/host.rs
  src/main/host/process.rs
Labels: Component: Main, Component: Documentation

#2860 Replace process stop_time with shutdown_time and shutdown_signal
  CHANGELOG.md
  docs/shadow_config_spec.md
  src/main/core/manager.rs
  src/main/core/sim_config.rs
  src/main/core/support/configuration.rs
  src/main/host/host.rs
  src/main/host/process.rs
  src/test/config/CMakeLists.txt
  src/test/config/shutdown/CMakeLists.txt
  src/test/config/shutdown/shutdown_signal_sigint.yaml
  src/test/config/shutdown/shutdown_signal_sigkill.yaml
  src/test/config/shutdown/shutdown_signal_sigterm.yaml
  src/test/socket/bind/bind_in_new_process.yaml
Labels: Component: Testing, Component: Main, Component: Build, Component: Documentation

#2864 Bump minimum CMake version
  CHANGELOG.md
  CMakeLists.txt
  docs/install_dependencies.md
Labels: Component: Build, Component: Documentation

#2865 Bump minimum glib version 2.32->2.58
  CHANGELOG.md
  CMakeLists.txt
  docs/install_dependencies.md
  src/main/core/main.c
Labels: Component: Main, Component: Build, Component: Documentation

#2863 Move more env variables to shared memory
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shim/shim.c
  src/lib/shim/shim_rdtsc.c
  src/main/host/host.rs
  src/main/host/managed_thread.rs
  src/main/host/process.rs
  src/main/host/thread.rs
Labels: Component: Libraries, Component: Main

#2846 Switch the unbounded thread pool to use a latch instead of parkers
  src/main/core/scheduler/pools/unbounded.rs
  src/main/utility/synchronization/mod.rs
  src/main/utility/synchronization/simple_latch.rs
  src/main/utility/synchronization/thread_parking.rs
Labels: Component: Main

#2866 Futex should operate on the `&AtomicI32`, not the `&Arc`
  src/main/utility/synchronization/simple_latch.rs
Labels: Component: Main

#2867 Small latch improvements
  src/main/utility/synchronization/simple_latch.rs
Labels: Component: Main

#2869 Process: remove "hasn't started" state
  CHANGELOG.md
  src/main/core/manager.rs
  src/main/core/worker.rs
  src/main/host/host.rs
  src/main/host/memory_manager/memory_copier.rs
  src/main/host/process.rs
  src/main/host/syscall/process.c
  src/main/host/syscall/process.h
  src/main/host/syscall_handler.c
  src/main/host/thread.rs
Labels: Component: Main, Component: Documentation

#2876 Change pcap filenames to use the interface name
  CHANGELOG.md
  docs/shadow_config_spec.md
  src/main/host/network_interface.c
  src/main/host/network_interface.h
  src/main/host/network_interface.rs
  src/main/network/net_namespace.rs
  src/test/determinism/determinism1.test.shadow.config.yaml
  src/test/determinism/determinism1_compare.cmake
  src/test/determinism/determinism2.test.shadow.config.yaml
  src/test/determinism/determinism2_compare.cmake
Labels: Component: Testing, Component: Main, Component: Documentation

#2875 Change the process 'environment' option to a map
  CHANGELOG.md
  docs/shadow_config_spec.md
  src/main/core/manager.rs
  src/main/core/sim_config.rs
  src/main/core/support/configuration.rs
  src/test/environment/environment.yaml
  src/test/environment/test_env.rs
  src/test/golang/gc.yaml
  src/test/golang/go_preempt.yaml
  src/test/golang/goroutines.yaml
  src/test/tgen/fixed_duration/100mbit_100ms.yaml
  src/test/tgen/fixed_duration/10mbit_200ms.yaml
  src/test/tgen/fixed_duration/1gbit_10ms.yaml
  src/test/tgen/fixed_duration/1mbit_300ms.yaml
  src/test/tgen/fixed_size/100mbit_100ms.yaml
  src/test/tgen/fixed_size/10mbit_200ms.yaml
  src/test/tgen/fixed_size/1gbit_10ms.yaml
  src/test/tgen/fixed_size/1mbit_300ms.yaml
  src/test/tor/minimal/tor-minimal.yaml
Labels: Component: Testing, Component: Main, Component: Documentation

#2874 Remove the '_manager_heartbeat' string
  src/main/core/manager.rs
Labels: Component: Main

#2870 Refactor Process teardown
  src/main/host/managed_thread.rs
  src/main/host/process.rs
  src/main/host/syscall/unistd.c
  src/main/host/thread.rs
Labels: Component: Main

#2872 Process: remove circular weak reference
  src/main/build.rs
  src/main/core/support/definitions.h
  src/main/core/worker.rs
  src/main/host/descriptor/tcp.c
  src/main/host/host.rs
  src/main/host/process.rs
  src/main/host/syscall/formatter.rs
  src/main/host/syscall/protected.h
  src/main/host/syscall/signal.c
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/syscall_handler.c
  src/main/host/thread.rs
Labels: Component: Main

#2878 Move signal parsing into serde
  docs/shadow_config_spec.md
  src/main/core/sim_config.rs
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Documentation

#2879 Add support for sub-second time values in the config
  CHANGELOG.md
  docs/shadow_config_overview.md
  src/main/core/support/configuration.rs
Labels: Component: Main, Component: Documentation

#2880 Fix the etcd example
  docs/compatibility_notes.md
  examples/etcd/CMakeLists.txt
  examples/etcd/shadow.yaml
Labels: Component: Build, Component: Documentation

#2881 Check if binary is dynamically linked
  ci/container_scripts/install_deps.sh
  setup
  src/main/core/sim_config.rs
  src/test/CMakeLists.txt
  src/test/golang/CMakeLists.txt
  src/test/static-bin/CMakeLists.txt
  src/test/static-bin/nop.rs
  src/test/static-bin/static-bin.yaml
Labels: Component: Testing, Component: Main, Component: Build

#2883 Rename the `host_defaults` and `options` config fields
  CHANGELOG.md
  docs/shadow_config_spec.md
  src/main/core/sim_config.rs
  src/main/core/support/configuration.rs
  src/test/determinism/determinism1.test.shadow.config.yaml
  src/test/determinism/determinism2.test.shadow.config.yaml
Labels: Component: Testing, Component: Main, Component: Documentation

#2884 Fix search string in the parse script
  src/tools/parse-shadow.py
Labels: Component: Tools

#2885 Small misc changes
  CMakeLists.txt
  build-info.h.in
  config.h.in
  docs/compatibility_notes.md
  docs/install_dependencies.md
  docs/shadow_config_spec.md
  src/main/host/syscall/process.c
Labels: Component: Main, Component: Build, Component: Documentation

#2882 Split Process internals by state
  src/Cargo.lock
  src/Cargo.toml
  src/lib/std-util/Cargo.toml
  src/lib/std-util/src/lib.rs
  src/lib/std-util/src/nested_ref.rs
  src/main/Cargo.toml
  src/main/host/process.rs
  src/main/host/syscall_condition.c
Labels: Component: Libraries, Component: Main, Component: Build

#2887 Don't auto-generate getcwd libc wrapper
  CHANGELOG.md
  src/lib/libc_preload/gen_syscall_wrappers_c.py
  src/lib/libc_preload/syscall_wrappers.c
Labels: Component: Libraries, Component: Documentation

#2893 Replace hosts file with a memfd
  src/main/routing/dns.c
Labels: Component: Main

#2892 Clean up setup script options
  CHANGELOG.md
  CMakeLists.txt
  cmake/FindDL.cmake
  cmake/FindM.cmake
  cmake/FindRPTH.cmake
  cmake/FindRT.cmake
  setup
Labels: Component: Build, Component: Documentation

#2871 Add experimental option to spin in the worker threads
  docs/shadow_config_spec.md
  src/main/core/manager.rs
  src/main/core/scheduler/pools/unbounded.rs
  src/main/core/scheduler/thread_per_core.rs
  src/main/core/support/configuration.rs
  src/main/utility/synchronization/simple_latch.rs
Labels: Component: Main, Component: Documentation
