Repository shadow/shadow, pull requests merged in 2023-09, with the labels that each got.

#3139 Coalesce chunks when sending packets in rust tcp
  src/lib/tcp/src/buffer.rs
  src/lib/tcp/src/connection.rs
  src/lib/tcp/src/lib.rs
  src/lib/tcp/src/states.rs
  src/lib/tcp/src/tests/mod.rs
  src/lib/tcp/src/tests/send_recv.rs
  src/lib/tcp/src/tests/transitions.rs
  src/lib/tcp/src/tests/window_scale.rs
  src/main/host/descriptor/socket/inet/tcp.rs
Labels: Component: Libraries, Component: Main

#3141 Partially upgrade nix to 1.27.1
  src/Cargo.lock
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shmem/Cargo.toml
  src/lib/vasi-sync/Cargo.toml
  src/main/Cargo.toml
  src/main/host/memory_manager/memory_mapper.rs
  src/main/utility/childpid_watcher.rs
  src/test/Cargo.toml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3144 Reduce the number of allocations needed by rust tcp
  src/lib/tcp/src/buffer.rs
Labels: Component: Libraries

#3149 Implement waitpid and wait4 syscalls
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/errno.rs
  src/lib/linux-api/src/resource.rs
  src/lib/linux-api/src/signal.rs
  src/lib/linux-api/src/time.rs
  src/main/build.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/host.rs
  src/main/host/mod.rs
  src/main/host/process.rs
  src/main/host/status.h
  src/main/host/status_listener.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/uio.rs
  src/main/host/syscall/handler/wait.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall_condition.c
  src/main/host/syscall_condition.h
  src/main/host/syscall_handler.c
  src/main/host/syscall_types.rs
  src/test/clone/test_fork.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#3155 Make spawning processes fallible
  src/main/core/sim_config.rs
  src/main/host/host.rs
  src/main/host/managed_thread.rs
  src/main/host/process.rs
  src/main/utility/mod.rs
  src/test/static-bin/CMakeLists.txt
Labels: Component: Testing, Component: Main, Component: Build

#3156 Eliminate env usage in the shim
  src/lib/linux-api/bindings-wrapper.h
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/lib.rs
  src/lib/linux-api/src/limits.rs
  src/lib/pod/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/shim_event.rs
  src/lib/shim/shim.c
  src/lib/shim/src/lib.rs
  src/main/host/managed_thread.rs
  src/main/host/process.rs
Labels: Component: Libraries, Component: Main

#3160 Update docs to mention path whitespace limitations
  docs/install_shadow.md
Labels: Component: Documentation

#3159 Move preload injection to ManagedThread::spawn
  src/main/core/manager.rs
  src/main/host/host.rs
  src/main/host/managed_thread.rs
  src/main/host/process.rs
  src/main/utility/mod.rs
Labels: Component: Main

#3161 execve scaffolding
  src/Cargo.lock
  src/lib/linux-api/src/fcntl.rs
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/src/syscall_types.rs
  src/main/core/manager.rs
  src/main/host/context.rs
  src/main/host/host.rs
  src/main/host/managed_thread.rs
  src/main/host/process.rs
  src/main/utility/mod.rs
  src/test/examples/CMakeLists.txt
  src/test/examples/bash/CMakeLists.txt
  src/test/examples/bash/bash-example.yaml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3164 syscall-logger: log blocked syscalls
  src/lib/syscall-logger/src/lib.rs
  src/main/host/syscall/formatter.rs
Labels: Component: Libraries, Component: Main

#3162 Implement execve
  src/lib/linux-api/src/signal.rs
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shim/src/syscall.rs
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/host.rs
  src/main/host/managed_thread.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/handler/wait.rs
  src/main/host/syscall/io.rs
  src/main/host/syscall_handler.c
  src/main/host/thread.rs
  src/main/utility/mod.rs
  src/test/clone/test_fork.rs
  src/test/examples/bash/bash-example.yaml
Labels: Component: Libraries, Component: Testing, Component: Main

#3172 Add `execve` support to CHANGELOG
  CHANGELOG.md
Labels: Component: Documentation

#3170 Add traffic generation example test in 'examples/docs/'
  .github/workflows/extra_tests.yml
  docs/getting_started_tgen.md
  examples/docs/CMakeLists.txt
  examples/docs/traffic-generation/CMakeLists.txt
  examples/docs/traffic-generation/install_deps.sh
  examples/docs/traffic-generation/run.sh
  examples/docs/traffic-generation/shadow.yaml
  examples/docs/traffic-generation/show.sh
  examples/docs/traffic-generation/tgen.client.graphml.xml
  examples/docs/traffic-generation/tgen.server.graphml.xml
Labels: Component: Testing, Component: Build, Component: Documentation

#3173 nginx example: update explanation for disabling worker processes
  docs/compatibility_notes.md
  examples/apps/nginx/nginx.conf
Labels: Component: Documentation

#3171 Don't report core dumps
  src/lib/linux-api/src/signal.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/wait.rs
  src/test/clone/test_fork.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#3175 Limitations: remove disclaimer about fork+exec being unsupported
  docs/limitations.md
Labels: Component: Documentation

#3177 Improve `getsockname()` and `getpeername()` for rust tcp sockets
  src/main/host/descriptor/socket/inet/tcp.rs
  src/test/socket/getpeername/CMakeLists.txt
  src/test/socket/getsockname/CMakeLists.txt
Labels: Component: Testing, Component: Main, Component: Build

#3125 Convert Epoll descriptor and syscall handlers to Rust
  src/lib/linux-api/src/epoll.rs
  src/lib/linux-api/src/posix_types.rs
  src/main/build.rs
  src/main/host/descriptor/epoll/entry.rs
  src/main/host/descriptor/epoll/key.rs
  src/main/host/descriptor/epoll/mod.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/timerfd.rs
  src/main/host/syscall/epoll.c
  src/main/host/syscall/epoll.h
  src/main/host/syscall/handler/epoll.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall_handler.c
Labels: Component: Libraries, Component: Main

#3181 Improve rust tcp reset handling
  src/lib/tcp/src/buffer.rs
  src/lib/tcp/src/connection.rs
  src/lib/tcp/src/states.rs
  src/lib/tcp/src/tests/send_recv.rs
Labels: Component: Libraries

#3183 Update the changelog with missing user-facing changes
  CHANGELOG.md
Labels: Component: Documentation

#3179 Disable the MemoryManager by default
  docs/shadow_config_spec.md
  src/main/core/support/configuration.rs
  src/test/cli/help-long-expected
Labels: Component: Testing, Component: Main, Component: Documentation

#3178 Implement vfork
  docs/limitations.md
  src/Cargo.lock
  src/lib/preload-libc/gen_syscall_wrappers_c.py
  src/lib/preload-libc/syscall_wrappers.c
  src/lib/shim/src/clone.rs
  src/main/host/syscall/handler/clone.rs
  src/test/Cargo.toml
  src/test/clone/test_fork.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#3182 Pluggable transport
  .github/workflows/extra_tests.yml
  docs/extra_tests.md
  docs/getting_started_tor.md
  src/main/host/descriptor/epoll/mod.rs
  src/main/host/syscall/handler/epoll.rs
  src/test/tor/minimal/CMakeLists.txt
  src/test/tor/minimal/conf/tor.authority.torrc
  src/test/tor/minimal/run.sh
  src/test/tor/minimal/shadow.data.template/hosts/ptbridge/fingerprint
  src/test/tor/minimal/shadow.data.template/hosts/ptbridge/fingerprint-ed25519
  src/test/tor/minimal/shadow.data.template/hosts/ptbridge/keys/ed25519_master_id_public_key
  src/test/tor/minimal/shadow.data.template/hosts/ptbridge/keys/ed25519_master_id_secret_key
  src/test/tor/minimal/shadow.data.template/hosts/ptbridge/keys/ed25519_signing_cert
  src/test/tor/minimal/shadow.data.template/hosts/ptbridge/keys/ed25519_signing_secret_key
  src/test/tor/minimal/shadow.data.template/hosts/ptbridge/keys/secret_id_key
  src/test/tor/minimal/shadow.data.template/hosts/ptbridge/keys/secret_onion_key
  src/test/tor/minimal/shadow.data.template/hosts/ptbridge/keys/secret_onion_key_ntor
  src/test/tor/minimal/shadow.data.template/hosts/ptbridge/pt_state/obfs4_bridgeline.txt
  src/test/tor/minimal/shadow.data.template/hosts/ptbridge/pt_state/obfs4_state.json
  src/test/tor/minimal/shadow.data.template/hosts/ptbridge/torrc
  src/test/tor/minimal/shadow.data.template/hosts/ptbridge/torrc-defaults
  src/test/tor/minimal/shadow.data.template/hosts/torflowauthority/v3bw
  src/test/tor/minimal/shadow.data.template/hosts/torptbridgeclient/torrc
  src/test/tor/minimal/shadow.data.template/hosts/torptbridgeclient/torrc-defaults
  src/test/tor/minimal/tor-minimal.yaml
  src/test/tor/minimal/verify.sh
Labels: Component: Testing, Component: Main, Component: Build, Component: Documentation

#3186 Clean up unnecessary lazy init
  src/main/core/logger/shadow_logger.rs
  src/main/core/scheduler/mod.rs
  src/main/core/worker.rs
  src/main/utility/legacy_callback_queue.rs
Labels: Component: Main

#3189 Support `shutdown()` for rust tcp sockets
  src/lib/tcp/notes/shutdown.md
  src/lib/tcp/src/lib.rs
  src/lib/tcp/src/states.rs
  src/lib/tcp/src/tests/mod.rs
  src/lib/tcp/src/tests/send_recv.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/test/socket/shutdown/CMakeLists.txt
  src/test/socket/shutdown/test_shutdown.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#3191 Fix return value for connect() with unix and tcp sockets
  src/lib/tcp/src/lib.rs
  src/lib/tcp/src/states.rs
  src/lib/tcp/src/tests/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/descriptor/tcp.c
  src/test/socket/connect/test_connect.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#3193 Upgrade dependencies
  .github/workflows/extra_tests.yml
  ci/rust-toolchain-nightly.toml
  ci/rust-toolchain-stable.toml
  src/Cargo.lock
  src/lib/formatting-nostd/Cargo.toml
  src/lib/linux-api/Cargo.toml
  src/lib/pod/Cargo.toml
  src/lib/shim/Cargo.toml
  src/lib/syscall-logger/Cargo.toml
  src/lib/tcp/Cargo.toml
  src/lib/vasi-macro/Cargo.toml
  src/lib/vasi-sync/Cargo.toml
  src/main/Cargo.toml
  src/test/Cargo.toml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3035 VirtualAddressSpaceIndependent: require FFI safety
  src/lib/vasi-macro/src/lib.rs
  src/lib/vasi-sync/src/scchannel.rs
  src/lib/vasi/src/lib.rs
Labels: Component: Libraries

#3195 Support `SO_ERROR` and `SO_ACCEPTCONN` for rust tcp sockets
  src/lib/tcp/src/lib.rs
  src/lib/tcp/src/states.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
Labels: Component: Libraries, Component: Main

#3051 Correctly fail for unsupported udp sockopts
  src/main/host/descriptor/socket/inet/udp.rs
Labels: Component: Main

#3196 Rename `get_status()` to `status()`
  src/main/host/descriptor/epoll/mod.rs
  src/main/host/descriptor/eventfd.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/descriptor/timerfd.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/uio.rs
Labels: Component: Main
