Repository shadow/shadow, pull requests merged in 2024-10, with the labels that each got.

#3420 Upgrade dependencies
  .github/pr_labeler_conf.yml
  .github/workflows/ci_maintenance.yml
  .github/workflows/extra_tests.yml
  .github/workflows/lint.yml
  .github/workflows/pr_metadata.yml
  .github/workflows/run_tests.yml
  .github/workflows/sanitizers.yml
  ci/rust-toolchain-nightly.toml
  src/Cargo.lock
  src/lib/formatting-nostd/Cargo.toml
  src/lib/linux-api/Cargo.toml
  src/lib/pod/Cargo.toml
  src/lib/scheduler/Cargo.toml
  src/lib/scheduler/src/sync/simple_latch.rs
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shim/Cargo.toml
  src/lib/shmem/Cargo.toml
  src/lib/vasi-macro/Cargo.toml
  src/lib/vasi-sync/Cargo.toml
  src/main/Cargo.toml
  src/main/core/logger/shadow_logger.rs
  src/main/utility/childpid_watcher.rs
  src/main/utility/sockaddr.rs
  src/test/Cargo.toml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3421 Fix nightly warnings
  src/lib/gml-parser/src/parser.rs
  src/main/utility/macros.rs
  src/test/signal/test_signals.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#3428 Replace `--log-errors-to-tty` with `--report-errors-to-stderr`
  CHANGELOG.md
  docs/shadow_config_spec.md
  src/main/core/configuration.rs
  src/main/core/logger/shadow_logger.rs
  src/main/shadow.rs
  src/test/CMakeLists.txt
  src/test/cli/help-long-expected
Labels: Component: Testing, Component: Main, Component: Build, Component: Documentation

#3429 Add 'log_level' section to 'perf_config_options.md'
  docs/perf_config_options.md
Labels: Component: Testing, Component: Documentation
