Repository shadow/shadow, pull requests merged in 2024-04, with the labels that each got.

#3320 Support lseek syscall on pipes
  src/main/host/syscall/handler/file.rs
  src/test/file/test_file.c
Labels: Component: Testing, Component: Main

#3321 Implement alarm syscall
  src/lib/linux-api/src/time.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/time.rs
  src/test/time/itimer/test_itimer.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#3324 alarm syscall: return 1 instead of 0 if timer was scheduled to fire now
  src/main/host/syscall/handler/time.rs
  src/main/host/timer.rs
  src/test/time/itimer/test_itimer.rs
Labels: Component: Testing, Component: Main

#3326 Add support for Ubuntu 24.04 and Fedora 40, and drop Fedora 38
  .github/workflows/run_tests.yml
  ci/container_scripts/install_deps.sh
  ci/run.sh
  docs/ci.md
  docs/supported_platforms.md
Labels: Component: Testing, Component: Documentation
