Repository shadow/shadow, pull requests merged in 2024-06, with the labels that each got.

#3336 Upgrade actions/github-script to v7
  .github/workflows/ci_maintenance.yml
Labels: Component: Testing

#3338 syscall handler mod: fix double-warn race condition
  src/main/host/syscall/handler/mod.rs
Labels: Component: Main

#3337 Update CHANGELOG with changes since 3.1.0.
  CHANGELOG.md
Labels: Component: Documentation

#3339 syscall handler: fix inverted "warn once" logic
  src/main/host/syscall/handler/mod.rs
Labels: Component: Main

#3342 Bump version of some CI tools
  .github/workflows/extra_tests.yml
  .github/workflows/lint.yml
  ci/rust-toolchain-nightly.toml
Labels: Component: Testing

#3344 Fix error-handling for posix_spawn
  CHANGELOG.md
  src/main/host/host.rs
  src/main/host/managed_thread.rs
  src/main/utility/childpid_watcher.rs
Labels: Component: Main, Component: Documentation

#3347 Clear changelog for next release
  CHANGELOG.md
Labels: Component: Documentation

#3333 Set Cargo edition/publish in workspace, and change non-main crates to 0.0.0
  .bumpversion.cfg
  src/Cargo.lock
  src/Cargo.toml
  src/lib/formatting-nostd/Cargo.toml
  src/lib/gml-parser/Cargo.toml
  src/lib/linux-api/Cargo.toml
  src/lib/log-c2rust/Cargo.toml
  src/lib/logger/Cargo.toml
  src/lib/pod/Cargo.toml
  src/lib/scheduler/Cargo.toml
  src/lib/shadow-build-common/Cargo.toml
  src/lib/shadow-build-info/Cargo.toml
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shim/Cargo.toml
  src/lib/shmem/Cargo.toml
  src/lib/std-util/Cargo.toml
  src/lib/syscall-logger/Cargo.toml
  src/lib/tcp/Cargo.toml
  src/lib/tsc/Cargo.toml
  src/lib/vasi-macro/Cargo.toml
  src/lib/vasi-sync/Cargo.toml
  src/lib/vasi/Cargo.toml
  src/main/Cargo.toml
  src/test/Cargo.toml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3349 Add `OnceSet` for unhandled syscall warnings
  src/main/host/syscall/handler/mod.rs
  src/main/utility/macros.rs
  src/main/utility/mod.rs
  src/main/utility/once_set.rs
Labels: Component: Main

#3350 Small doc/comment improvements
  .github/pull_request_template.md
  docs/perf_config_options.md
  docs/system_configuration.md
  src/lib/scheduler/src/lib.rs
  src/lib/scheduler/src/sync/thread_parking.rs
  src/lib/shadow-shim-helper-rs/src/rootedcell/rc.rs
  src/lib/tcp/src/lib.rs
  src/main/host/context.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/shared_buf.rs
Labels: Component: Libraries, Component: Main, Component: Documentation

#3352 Fix minor flag bug in `open_plugin_file`
  src/main/host/syscall/handler/mman.rs
Labels: Component: Main

#3351 Less nix
  docs/coding.md
  src/Cargo.lock
  src/lib/linux-api/Cargo.toml
  src/lib/linux-api/src/errno.rs
  src/lib/linux-api/src/mman.rs
  src/lib/linux-api/src/posix_types.rs
  src/main/Cargo.toml
  src/main/core/worker.rs
  src/main/host/managed_thread.rs
  src/main/host/memory_manager/memory_copier.rs
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/process.rs
  src/main/host/syscall/formatter.rs
  src/main/host/syscall/handler/mman.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/thread.rs
  src/main/utility/childpid_watcher.rs
  src/main/utility/macros.rs
Labels: Component: Libraries, Component: Main, Component: Build, Component: Documentation

#3353 getsockopt/setsockopt: use log_once_per_value_at_level for unknown opts
  CHANGELOG.md
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
Labels: Component: Main, Component: Documentation

#3354 Add exception for loom cfg in rust 1.80-beta
  src/lib/vasi-sync/Cargo.toml
Labels: Component: Libraries, Component: Build

#3355 Fix clippy warnings in rust 1.80-beta
  src/lib/shim/src/clone.rs
  src/lib/shim/src/tls.rs
  src/lib/vasi-sync/src/scchannel.rs
  src/main/host/memory_manager/mod.rs
Labels: Component: Libraries, Component: Main
