Repository shadow/shadow, pull requests merged in 2024-02, with the labels that each got.

#3291 Ensure clone handler drops RootedRc's on early exit
  src/lib/shadow-shim-helper-rs/src/explicit_drop.rs
  src/lib/shadow-shim-helper-rs/src/syscall_types.rs
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/type_formatting.rs
  src/test/clone/test_clone.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#3292 More explicit_drop cleanup
  src/main/core/worker.rs
  src/main/host/context.rs
  src/main/host/host.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/handler/wait.rs
  src/main/host/thread.rs
Labels: Component: Main

#3294 Fix exponential slowdown in wait4 syscall
  CHANGELOG.md
  src/main/host/syscall/syscall_condition.c
Labels: Component: Main, Component: Documentation

#3296 Use rust 1.76 features
  ci/rust-toolchain-nightly.toml
  ci/rust-toolchain-stable.toml
  src/lib/linux-api/src/futex.rs
  src/lib/linux-api/src/signal.rs
  src/lib/scheduler/src/sync/simple_latch.rs
  src/lib/shadow-shim-helper-rs/src/emulated_time.rs
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shadow-shim-helper-rs/src/simulation_time.rs
  src/lib/shim/src/clone.rs
  src/lib/shim/src/lib.rs
  src/lib/shim/src/signals.rs
  src/lib/shmem/src/shmalloc_impl.rs
  src/lib/vasi-sync/src/sync.rs
  src/main/core/sim_config.rs
  src/main/core/work/task.rs
  src/main/core/worker.rs
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/host.rs
  src/main/host/network/namespace.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/thread.rs
  src/main/host/timer.rs
  src/main/shadow.rs
  src/main/utility/sockaddr.rs
  src/test/clone/test_clone.rs
  src/test/memory/test_unaligned.rs
  src/test/poll/test_poll.rs
  src/test/select/test_select.rs
  src/test/signal/test_signals.rs
  src/test/socket/bind/test_bind_in_new_process.rs
  src/test/socket/connect/test_connect.rs
  src/test/socket/getpeername/test_getpeername.rs
  src/test/socket/send_recv/test_send_recv.rs
  src/test/socket/shutdown/test_shutdown.rs
  src/test/socket/socketpair/test_socketpair.rs
  src/test/socket_utils.rs
  src/test/test_utils.rs
  src/test/threads/test_pthreads.rs
  src/test/time/clock_getres/test_clock_getres.rs
  src/test/time/clock_gettime/test_clock_gettime.rs
  src/test/time/clock_nanosleep/test_clock_nanosleep.rs
  src/test/time/nanosleep/test_nanosleep.rs
  src/test/unistd/test_unistd.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#3198 Netlink sockets
  ci/container_scripts/install_deps.sh
  src/Cargo.lock
  src/lib/linux-api/bindings-wrapper.h
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/capability.rs
  src/lib/linux-api/src/lib.rs
  src/lib/linux-api/src/rtnetlink.rs
  src/main/Cargo.toml
  src/main/host/descriptor/shared_buf.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/netlink.rs
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/socket.rs
  src/main/utility/sockaddr.rs
  src/test/CMakeLists.txt
  src/test/Cargo.toml
  src/test/capabilities/CMakeLists.txt
  src/test/capabilities/capget.yaml
  src/test/capabilities/capset.yaml
  src/test/capabilities/test_capget.rs
  src/test/capabilities/test_capset.rs
  src/test/epoll/test_epoll_edge.rs
  src/test/netlink/CMakeLists.txt
  src/test/netlink/ip-addr.stdout
  src/test/netlink/netlink-ip-addr.yaml
  src/test/netlink/netlink-send-limit.yaml
  src/test/netlink/socket/CMakeLists.txt
  src/test/netlink/socket/bind/CMakeLists.txt
  src/test/netlink/socket/bind/bind.yaml
  src/test/netlink/socket/bind/test_bind.rs
  src/test/netlink/test_send_limit.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3301 Minor socket improvements
  src/lib/linux-api/bindings-wrapper.h
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/lib.rs
  src/lib/linux-api/src/netlink.rs
  src/lib/linux-api/src/socket.rs
  src/lib/shadow-shim-helper-rs/src/syscall_types.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/netlink.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/type_formatting.rs
  src/main/utility/sockaddr.rs
Labels: Component: Libraries, Component: Main
