Repository shadow/shadow, pull requests merged in 2024-08, with the labels that each got.

#3377 Add Jetty example/test
  .github/workflows/extra_tests.yml
  docs/compatibility_notes.md
  examples/apps/CMakeLists.txt
  examples/apps/jetty/CMakeLists.txt
  examples/apps/jetty/install_deps.sh
  examples/apps/jetty/run.sh
  examples/apps/jetty/shadow.yaml
Labels: Component: Testing, Component: Build, Component: Documentation

#3378 Replace the 'syscall-logger' proc macro crate with a macro_rules macro
  src/Cargo.lock
  src/Cargo.toml
  src/lib/syscall-logger/Cargo.toml
  src/lib/syscall-logger/src/lib.rs
  src/main/Cargo.toml
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/handler/close_range.rs
  src/main/host/syscall/handler/epoll.rs
  src/main/host/syscall/handler/eventfd.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/file.rs
  src/main/host/syscall/handler/fileat.rs
  src/main/host/syscall/handler/futex.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/mman.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/poll.rs
  src/main/host/syscall/handler/prctl.rs
  src/main/host/syscall/handler/random.rs
  src/main/host/syscall/handler/resource.rs
  src/main/host/syscall/handler/sched.rs
  src/main/host/syscall/handler/select.rs
  src/main/host/syscall/handler/shadow.rs
  src/main/host/syscall/handler/signal.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/stat.rs
  src/main/host/syscall/handler/sysinfo.rs
  src/main/host/syscall/handler/time.rs
  src/main/host/syscall/handler/timerfd.rs
  src/main/host/syscall/handler/uio.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/syscall/handler/wait.rs
  src/main/utility/macros.rs
Labels: Component: Libraries, Component: Main, Component: Build

#3379 Various improvements to syscall handlers
  src/lib/linux-api/src/fcntl.rs
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/netlink.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/handler/close_range.rs
  src/main/host/syscall/handler/epoll.rs
  src/main/host/syscall/handler/eventfd.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/file.rs
  src/main/host/syscall/handler/futex.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/mman.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/poll.rs
  src/main/host/syscall/handler/resource.rs
  src/main/host/syscall/handler/sched.rs
  src/main/host/syscall/handler/select.rs
  src/main/host/syscall/handler/signal.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/stat.rs
  src/main/host/syscall/handler/sysinfo.rs
  src/main/host/syscall/handler/time.rs
  src/main/host/syscall/handler/timerfd.rs
  src/main/host/syscall/handler/uio.rs
  src/main/host/syscall/handler/unistd.rs
Labels: Component: Libraries, Component: Main

#3380 Return `Errno` from some syscall handlers
  src/main/host/descriptor/epoll/mod.rs
  src/main/host/syscall/handler/clone.rs
  src/main/host/syscall/handler/close_range.rs
  src/main/host/syscall/handler/epoll.rs
  src/main/host/syscall/handler/eventfd.rs
  src/main/host/syscall/handler/futex.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/handler/mman.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/random.rs
  src/main/host/syscall/handler/sched.rs
  src/main/host/syscall/handler/shadow.rs
  src/main/host/syscall/handler/signal.rs
  src/main/host/syscall/handler/socket.rs
Labels: Component: Main

#3382 Update kernel sources in linux-api
  src/lib/linux-api/README.md
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/fcntl.rs
  src/lib/linux-api/src/ioctls.rs
  src/lib/linux-api/src/prctl.rs
  src/lib/linux-api/src/rseq.rs
  src/lib/linux-api/src/syscall.rs
  src/main/host/syscall/handler/sched.rs
  src/main/utility/macros.rs
Labels: Component: Libraries, Component: Main, Component: Documentation

#3343 Update Shadow's rust dependencies
  src/Cargo.lock
  src/lib/formatting-nostd/Cargo.toml
  src/lib/linux-api/Cargo.toml
  src/lib/log-c2rust/Cargo.toml
  src/lib/logger/Cargo.toml
  src/lib/pod/Cargo.toml
  src/lib/scheduler/Cargo.toml
  src/lib/shadow-build-common/Cargo.toml
  src/lib/shadow-build-info/Cargo.toml
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shim/Cargo.toml
  src/lib/tcp/Cargo.toml
  src/lib/tsc/Cargo.toml
  src/lib/vasi-macro/Cargo.toml
  src/lib/vasi-sync/Cargo.toml
  src/main/Cargo.toml
  src/test/Cargo.toml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3384 Add the fchmodat2 syscall handler and fix fchmodat
  src/lib/preload-libc/gen_syscall_wrappers_c.py
  src/main/host/syscall/handler/fileat.c
  src/main/host/syscall/handler/fileat.h
  src/main/host/syscall/handler/fileat.rs
  src/main/host/syscall/handler/mod.rs
Labels: Component: Libraries, Component: Main

#3385 Replace 'field_ptr' macro with 'field_project'
  src/main/host/syscall/handler/sched.rs
  src/main/utility/macros.rs
Labels: Component: Main

#3388 Upgrade cbindgen version
  src/Cargo.lock
  src/lib/linux-api/Cargo.toml
  src/lib/log-c2rust/Cargo.toml
  src/lib/shadow-build-common/Cargo.toml
  src/lib/shadow-build-common/src/lib.rs
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shim/Cargo.toml
  src/lib/shim/shim_syscall.h
  src/lib/tsc/Cargo.toml
  src/main/Cargo.toml
Labels: Component: Libraries, Component: Main, Component: Build

#3391 Add missing `with_global_cb_queue` wrappers
  src/main/host/syscall/handler/unistd.rs
  src/main/host/thread.rs
Labels: Component: Main

#3392 Reorganized `queue_and_run`/`with_global_cb_queue`
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/epoll/mod.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/netlink.rs
  src/main/host/descriptor/timerfd.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/close_range.rs
  src/main/host/syscall/handler/epoll.rs
  src/main/host/syscall/handler/socket.rs
  src/main/host/syscall/handler/timerfd.rs
  src/main/host/syscall/handler/uio.rs
  src/main/host/syscall/handler/unistd.rs
  src/main/host/thread.rs
  src/main/utility/callback_queue.rs
  src/main/utility/legacy_callback_queue.rs
Labels: Component: Main

#3396 Allow signal handlers to switch to in-use stack
  CHANGELOG.md
  src/lib/shim/src/signals.rs
  src/test/golang/CMakeLists.txt
  src/test/golang/sigterm.yaml
  src/test/golang/test_sigterm.go
Labels: Component: Libraries, Component: Testing, Component: Build, Component: Documentation
