Repository shadow/shadow, pull requests merged in 2024-12, with the labels that each got.

#3446 Remove tracker
  CHANGELOG.md
  docs/log_format.md
  docs/parsing_shadow_logs.md
  docs/perf_config_options.md
  docs/shadow_config_spec.md
  src/main/build.rs
  src/main/core/configuration.rs
  src/main/core/manager.rs
  src/main/core/sim_config.rs
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/tcp.c
  src/main/host/host.rs
  src/main/host/network/network_interface.c
  src/main/host/process.rs
  src/main/host/tracker.c
  src/main/host/tracker.h
  src/main/host/tracker_types.h
  src/test/cli/help-long-expected
  src/tools/parse-shadow.py
  src/tools/plot-shadow.py
  src/tools/strip_log_for_compare.py
Labels: Component: Testing, Component: Main, Component: Tools, Component: Documentation

#3451 Remove support for debian:10
  .github/workflows/run_tests.yml
  CHANGELOG.md
  ci/container_scripts/install_deps.sh
Labels: Type: Maintenance, Component: Testing, Component: Documentation

#3449 Add shadow helper python package shadowtools
  .github/workflows/lint.yml
  CHANGELOG.md
  CMakeLists.txt
  ci/container_scripts/install_deps.sh
  shadowtools/CMakeLists.txt
  shadowtools/LICENSE
  shadowtools/README.md
  shadowtools/pyproject.toml
  shadowtools/src/shadowtools/__init__.py
  shadowtools/src/shadowtools/config.py
  shadowtools/src/shadowtools/shadow_exec.py
  shadowtools/tests/__init__.py
  shadowtools/tests/test_shadow_exec.py
  src/lib/tcp/notes/scripts/poll-states.py
Labels: Component: Libraries, Component: Testing, Component: Build, Component: Documentation

#3453 shadowtools: add PEP 561 type annotation marker
  shadowtools/pyproject.toml
  shadowtools/src/shadowtools/py.typed
Labels: Component: Testing, Tag: Tor Project 141

#3458 Change some workflows from 'ubuntu-latest' to 'ubuntu-22.04'
  .github/workflows/lint.yml
  .github/workflows/sanitizers.yml
Labels: Component: Testing

#3457 Make 'shadowtools-tests' an "extra" test
  shadowtools/CMakeLists.txt
Labels: Component: Testing, Component: Build

#3461 linux-api: bump from linux 6.10 to 6.12
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/fcntl.rs
  src/lib/linux-api/src/mman.rs
  src/lib/linux-api/src/syscall.rs
Labels: Component: Libraries, Component: Testing

#3462 Bump pinned action images to ubuntu 24.04
  .github/workflows/lint.yml
  .github/workflows/sanitizers.yml
Labels: Component: Testing

#3455 Limit address scope
  src/main/build.rs
  src/main/host/descriptor/socket.c
  src/main/host/host.rs
  src/main/host/network/interface.rs
  src/main/host/network/namespace.rs
  src/main/host/network/network_interface.c
  src/main/host/network/network_interface.h
  src/main/routing/address.c
  src/main/routing/address.h
  src/main/routing/dns.c
  src/main/routing/dns.h
  src/main/routing/packet.c
  src/main/utility/utility.c
  src/main/utility/utility.h
Labels: Component: Testing, Component: Main

#3463 Limit dns scope
  src/main/core/manager.rs
  src/main/core/worker.rs
  src/main/host/descriptor/regular_file.c
  src/main/host/host.rs
  src/main/host/network/namespace.rs
  src/main/routing/dns.c
  src/main/routing/dns.h
Labels: Component: Testing, Component: Main

#3441 Support Go netlink sockets
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/netlink.rs
  src/main/host/descriptor/socket/netlink.rs
  src/test/Cargo.toml
  src/test/golang/CMakeLists.txt
  src/test/golang/go_netlink.stdout
  src/test/golang/go_netlink.yaml
  src/test/golang/test_netlink.go
  src/test/netlink/CMakeLists.txt
  src/test/netlink/netlink-ifaddrmsg.yaml
  src/test/netlink/netlink-ifinfomsg.yaml
  src/test/netlink/test_ifaddrmsg.rs
  src/test/netlink/test_ifinfomsg.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3467 Update changelog
  CHANGELOG.md
Labels: Component: Testing, Component: Documentation

#3464 Dns rs
  CHANGELOG.md
  src/main/build.rs
  src/main/core/manager.rs
  src/main/core/worker.rs
  src/main/host/descriptor/regular_file.c
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/tcp.c
  src/main/network/dns.rs
  src/main/network/mod.rs
  src/main/routing/address.c
  src/main/routing/address.h
  src/main/routing/dns.c
  src/main/routing/dns.h
  src/main/routing/packet.c
Labels: Component: Testing, Component: Main, Component: Documentation

#3474 Disallow broadcast and multicast in DNS
  CHANGELOG.md
  src/main/core/manager.rs
  src/main/network/dns.rs
Labels: Component: Testing, Component: Main, Component: Documentation

#3469 Fix clippy warnings with rust 1.83 and update version in CI
  CHANGELOG.md
  ci/rust-toolchain-nightly.toml
  ci/rust-toolchain-stable.toml
  src/lib/formatting-nostd/src/borrowed_fd_writer.rs
  src/lib/gml-parser/src/gml.rs
  src/lib/scheduler/src/lib.rs
  src/lib/scheduler/src/pools/bounded.rs
  src/lib/scheduler/src/pools/unbounded.rs
  src/lib/scheduler/src/thread_per_core.rs
  src/lib/scheduler/src/thread_per_host.rs
  src/lib/shadow-shim-helper-rs/src/rootedcell/refcell.rs
  src/lib/shim/src/tls.rs
  src/lib/shmem/src/allocator.rs
  src/lib/std-util/src/nested_ref.rs
  src/lib/vasi-sync/src/atomic_tls_map.rs
  src/lib/vasi-sync/src/lazy_lock.rs
  src/lib/vasi-sync/src/scmutex.rs
  src/main/core/configuration.rs
  src/main/host/memory_manager/memory_copier.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/syscall/condition.rs
  src/main/utility/enum_passthrough.rs
  src/main/utility/interval_map.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Documentation

#3470 Fix clippy warnings in unit tests and add '--all-targets' to clippy CI
  .github/workflows/lint.yml
  docs/coding_style.md
  src/lib/shadow-shim-helper-rs/src/simulation_time.rs
  src/lib/shmem/src/allocator.rs
  src/lib/tcp/src/lib.rs
  src/lib/tcp/src/tests/mod.rs
  src/lib/tcp/src/tests/send_recv.rs
  src/lib/tcp/src/tests/window_scale.rs
  src/lib/vasi-sync/tests/sync/mod.rs
  src/main/utility/shm_cleanup.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Documentation

#3473 Add `SyscallNonDeterministicArg` strace logger wrapper
  CHANGELOG.md
  src/main/host/syscall/formatter.rs
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/futex.rs
  src/main/host/syscall/handler/ioctl.rs
  src/main/host/syscall/type_formatting.rs
Labels: Component: Testing, Component: Main, Component: Documentation

#3472 Remove backtrace from logs when disabling ASLR fails
  src/main/shadow.rs
Labels: Component: Testing, Component: Main

#3471 Improve `SO_BROADCAST` stubs
  CHANGELOG.md
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/test/socket/sockopt/test_sockopt.rs
Labels: Component: Testing, Component: Main, Component: Documentation

#3477 Document automatic IP address assignment
  docs/shadow_config_spec.md
Labels: Component: Testing, Component: Documentation

#3478 Remove coverage build code
  CHANGELOG.md
  CMakeLists.txt
  ci/container_scripts/build_and_install.sh
  ci/container_scripts/install_extra_deps.sh
  ci/container_scripts/test.sh
  setup
  src/CMakeLists.txt
Labels: Component: Testing, Component: Build, Component: Documentation

#3479 Fix `dead_code` warning in `canary_check` in release builds
  src/lib/shmem/src/shmalloc_impl.rs
Labels: Component: Libraries, Component: Testing

#3476 Generate bindings for if.h as a separate module
  src/lib/linux-api/bindings-wrapper-if.h
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/src/bindings-if.rs
Labels: Component: Libraries, Component: Testing
