Repository shadow/shadow, pull requests merged in 2024-03, with the labels that each got.

#3304 Reduce the build time of the tests
  src/Cargo.lock
  src/lib/linux-api/Cargo.toml
  src/lib/linux-api/build.rs
  src/lib/log-c2rust/Cargo.toml
  src/lib/logger/Cargo.toml
  src/lib/shadow-build-common/Cargo.toml
  src/lib/shadow-build-common/src/lib.rs
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shim/Cargo.toml
  src/lib/tsc/Cargo.toml
  src/lib/vasi-sync/Cargo.toml
  src/main/Cargo.toml
  src/test/Cargo.toml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3307 Show warning if Go 1.21.x is installed
  CMakeLists.txt
Labels: Component: Build

#3309 Add ability to add extra rust tests
  CMakeLists.txt
  setup
  src/CMakeLists.txt
  src/test/Cargo.toml
Labels: Component: Testing, Component: Build

#3311 Remove Fedora 38 from the CI tests
  .github/workflows/run_tests.yml
Labels: Component: Testing

#3310 Fix rust/clippy warnings
  src/lib/linux-api/src/signal.rs
  src/lib/linux-api/src/time.rs
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shim/src/syscall.rs
  src/lib/shmem/src/raw_syscall.rs
  src/main/core/manager.rs
  src/main/core/work/task.rs
  src/main/core/worker.rs
  src/main/host/host.rs
  src/main/host/managed_thread.rs
  src/main/host/network/namespace.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/wait.rs
  src/main/host/syscall/types.rs
  src/main/host/thread.rs
  src/main/shadow.rs
  src/main/utility/counter.rs
  src/main/utility/shm_cleanup.rs
  src/test/signal/test_signals.rs
  src/test/test_utils.rs
  src/test/time/mod.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#3313 Don't strip debug symbols in release builds
  src/Cargo.toml
Labels: Component: Build

#3314 Move the `kill` syscall handler to rust
  src/lib/linux-api/src/signal.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/signal.c
  src/main/host/syscall/handler/signal.h
  src/main/host/syscall/handler/signal.rs
Labels: Component: Libraries, Component: Main

#3316 Move the `tkill` and `tgkill` syscall handlers to rust
  src/lib/linux-api/src/signal.rs
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/main/host/host.rs
  src/main/host/syscall/handler/signal.c
  src/main/host/syscall/handler/signal.h
  src/main/host/syscall/handler/signal.rs
  src/main/host/thread.rs
Labels: Component: Libraries, Component: Main

#3317 Rename "SysCall" to "Syscall"
  src/lib/shadow-shim-helper-rs/build.rs
  src/lib/shadow-shim-helper-rs/src/shim_event.rs
  src/lib/shadow-shim-helper-rs/src/syscall_types.rs
  src/lib/shim/src/syscall.rs
  src/lib/syscall-logger/src/lib.rs
  src/main/build.rs
  src/main/host/descriptor/mod.rs
  src/main/host/managed_thread.rs
  src/main/host/syscall/condition.rs
  src/main/host/syscall/formatter.rs
  src/main/host/syscall/handler/fcntl.c
  src/main/host/syscall/handler/fcntl.rs
  src/main/host/syscall/handler/file.c
  src/main/host/syscall/handler/fileat.c
  src/main/host/syscall/handler/futex.c
  src/main/host/syscall/handler/ioctl.c
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/poll.c
  src/main/host/syscall/handler/select.c
  src/main/host/syscall/handler/signal.c
  src/main/host/syscall/handler/uio.c
  src/main/host/syscall/handler/unistd.c
  src/main/host/syscall/handler/wait.rs
  src/main/host/syscall/protected.h
  src/main/host/syscall/types.rs
  src/main/host/thread.rs
  src/main/utility/syscall.rs
Labels: Component: Libraries, Component: Main
