Repository shadow/shadow, pull requests merged in 2024-01, with the labels that each got.

#3262 Fix bumped clang version check
  CMakeLists.txt
Labels: Component: Build

#3258 Add futex helpers
  src/lib/linux-api/src/futex.rs
  src/main/utility/synchronization/simple_latch.rs
Labels: Component: Libraries, Component: Main

#3264 CI and repo maintenance
  .github/workflows/ci_maintenance.yml
  .github/workflows/extra_tests.yml
  .github/workflows/run_tests.yml
  codecov.yml
  docs/supported_platforms.md
  src/Cargo.lock
  src/lib/formatting-nostd/Cargo.toml
  src/lib/linux-api/Cargo.toml
  src/lib/log-c2rust/Cargo.toml
  src/lib/pod/Cargo.toml
  src/lib/shadow-build-info/Cargo.toml
  src/lib/shim/Cargo.toml
  src/lib/syscall-logger/Cargo.toml
  src/lib/tcp/Cargo.toml
  src/lib/vasi-macro/Cargo.toml
  src/lib/vasi-sync/Cargo.toml
  src/main/Cargo.toml
  src/test/Cargo.toml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#3260 update profiling documentation
  docs/SUMMARY.md
  docs/profiling.md
Labels: Component: Documentation

#3268 Document rebasing a contributor PR
  docs/pull_requests.md
Labels: Component: Documentation

#3269 Fix cmake warning
  CMakeLists.txt
Labels: Component: Build

#3272 Fix bug in linux-api rename script
  src/lib/linux-api/rename.py
Labels: Component: Libraries

#2821 Add context to strace output when we can't read memory
  src/main/host/syscall/type_formatting.rs
Labels: Component: Main

#3273 Move the scheduler to its own library
  src/Cargo.lock
  src/Cargo.toml
  src/lib/scheduler/Cargo.toml
  src/lib/scheduler/src/lib.rs
  src/lib/scheduler/src/logical_processor.rs
  src/lib/scheduler/src/pools/bounded.rs
  src/lib/scheduler/src/pools/mod.rs
  src/lib/scheduler/src/pools/unbounded.rs
  src/lib/scheduler/src/sync/count_down_latch.rs
  src/lib/scheduler/src/sync/mod.rs
  src/lib/scheduler/src/sync/simple_latch.rs
  src/lib/scheduler/src/sync/thread_parking.rs
  src/lib/scheduler/src/thread_per_core.rs
  src/lib/scheduler/src/thread_per_host.rs
  src/main/Cargo.toml
  src/main/core/manager.rs
  src/main/core/mod.rs
  src/main/core/runahead.rs
  src/main/core/scheduler/thread_per_host.rs
  src/main/core/worker.rs
  src/main/host/managed_thread.rs
  src/main/utility/mod.rs
Labels: Component: Libraries, Component: Main, Component: Build

#3277 Don't update the file state in socket.c
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/tcp.c
  src/test/epoll/test_epoll.rs
Labels: Component: Testing, Component: Main

#3282 Move the `FutexTable` to rust
  src/lib/shadow-shim-helper-rs/src/syscall_types.rs
  src/main/build.rs
  src/main/host/futex_table.c
  src/main/host/futex_table.h
  src/main/host/futex_table.rs
  src/main/host/host.rs
  src/main/host/mod.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/futex.c
Labels: Component: Libraries, Component: Main

#3283 test_fork: fix race condition under Linux
  src/test/clone/test_fork.rs
Labels: Component: Testing

#3284 Fix signal handler initialization in forked child processes
  CHANGELOG.md
  src/lib/linux-api/src/sched.rs
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/main/host/syscall/handler/clone.rs
  src/test/clone/test_fork.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Documentation

#3288 syscallhandler: handle WARNED_SET race condition
  src/main/host/syscall/handler/mod.rs
Labels: Component: Main

#3243 Edge-triggered epoll events
  src/lib/tcp/src/connection.rs
  src/lib/tcp/src/lib.rs
  src/lib/tcp/src/states.rs
  src/lib/tcp/src/tests/mod.rs
  src/lib/tcp/src/tests/send_recv.rs
  src/main/host/descriptor/epoll/entry.rs
  src/main/host/descriptor/epoll/mod.rs
  src/main/host/descriptor/eventfd.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/shared_buf.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/descriptor/tcp.c
  src/test/Cargo.toml
  src/test/epoll/CMakeLists.txt
  src/test/epoll/epoll-edge-rs.yaml
  src/test/epoll/test_epoll.rs
  src/test/epoll/test_epoll_edge.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3281 Clean up file state type (`FileState` in rust, and previously `Status` in C)
  src/main/build.rs
  src/main/host/descriptor/descriptor.c
  src/main/host/descriptor/descriptor.h
  src/main/host/descriptor/descriptor_types.h
  src/main/host/descriptor/epoll.c
  src/main/host/descriptor/listener.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/regular_file.c
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/tcp.c
  src/main/host/futex.c
  src/main/host/status.h
  src/main/host/status_listener.c
  src/main/host/status_listener.h
  src/main/host/status_listener.rs
  src/main/host/syscall/handler/epoll.rs
  src/main/host/syscall/handler/futex.c
  src/main/host/syscall/handler/mman.rs
  src/main/host/syscall/handler/poll.c
  src/main/host/syscall/handler/uio.c
  src/main/host/syscall/handler/unistd.c
  src/main/host/syscall/mod.rs
  src/main/host/syscall/protected.c
  src/main/host/syscall/syscall_condition.c
  src/main/host/syscall/syscall_condition.h
  src/main/utility/legacy_callback_queue.rs
Labels: Component: Main

#3289 Doc changes, PR template, and minor misc code changes
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/pull_request_template.md
  docs/SUMMARY.md
  docs/coding.md
  docs/perf_config_options.md
  docs/pull_requests.md
  docs/shadow_config_overview.md
  docs/shadow_config_spec.md
  src/lib/scheduler/src/lib.rs
  src/lib/scheduler/src/logical_processor.rs
  src/lib/scheduler/src/thread_per_core.rs
  src/lib/scheduler/src/thread_per_host.rs
  src/lib/shadow-build-info/src/lib.rs
  src/lib/shim/src/lib.rs
  src/main/core/configuration.rs
  src/main/core/manager.rs
  src/main/core/mod.rs
  src/main/core/resource_usage.rs
  src/main/core/sim_config.rs
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/descriptor/listener.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/shared_buf.rs
  src/main/host/host.rs
  src/main/host/managed_thread.rs
  src/main/host/mod.rs
  src/main/host/process.rs
  src/main/host/status_listener.rs
  src/main/host/syscall/types.rs
  src/main/host/thread.rs
  src/main/lib.rs
  src/main/network/mod.rs
  src/main/shadow.rs
  src/main/utility/mod.rs
  src/test/cli/CMakeLists.txt
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation
