Repository shadow/shadow, pull requests merged in 2024-09, with the labels that each got.

#3406 Fix warnings in rust 1.82-beta
  src/lib/shadow-shim-helper-rs/src/emulated_time.rs
  src/lib/shadow-shim-helper-rs/src/syscall_types.rs
  src/lib/shadow-shim-helper-rs/src/util/mod.rs
  src/lib/shim/src/lib.rs
  src/lib/shim/src/mmap_box.rs
  src/lib/shim/src/shimlogger.rs
  src/lib/shim/src/tls.rs
  src/lib/shmem/src/allocator.rs
  src/lib/shmem/src/raw_syscall.rs
  src/lib/tcp/src/lib.rs
  src/lib/tcp/src/states.rs
  src/lib/vasi-sync/src/atomic_tls_map.rs
  src/lib/vasi-sync/src/lazy_lock.rs
  src/lib/vasi-sync/src/lib.rs
  src/main/core/cpu.rs
  src/main/core/logger/shadow_logger.rs
  src/main/core/runahead.rs
  src/main/core/sim_config.rs
  src/main/host/descriptor/mod.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/network/namespace.rs
  src/main/host/syscall/io.rs
  src/main/network/relay/mod.rs
  src/main/utility/callback_queue.rs
  src/main/utility/give.rs
  src/main/utility/legacy_callback_queue.rs
  src/main/utility/macros.rs
  src/main/utility/sockaddr.rs
  src/test/clone/test_clone.rs
  src/test/socket_utils.rs
  src/test/test_utils.rs
Labels: Component: Libraries, Component: Testing, Component: Main

#3401 verify_plugin_path: support scripts
  CHANGELOG.md
  src/Cargo.lock
  src/main/host/managed_thread.rs
  src/main/utility/mod.rs
  src/test/Cargo.toml
  src/test/clone/CMakeLists.txt
  src/test/clone/test_fork.rs
Labels: Component: Testing, Component: Main, Component: Build, Component: Documentation

#3411 Drop packet instead of panicking if dst IP is unknown
  src/main/core/worker.rs
  src/test/regression/3148/CMakeLists.txt
  src/test/regression/3148/regression-3148.yaml
  src/test/regression/CMakeLists.txt
Labels: Component: Testing, Component: Main, Component: Build

#3414 DNS: Allow assignment of restricted IPs
  CHANGELOG.md
  src/main/routing/dns.c
Labels: Component: Main, Component: Documentation
