Repository shadow/shadow, pull requests merged in 2024-07, with the labels that each got.

#3361 Support fstat on pipes
  src/lib/linux-api/bindings-wrapper.h
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/lib.rs
  src/lib/linux-api/src/stat.rs
  src/main/host/descriptor/epoll/mod.rs
  src/main/host/descriptor/eventfd.rs
  src/main/host/descriptor/mod.rs
  src/main/host/descriptor/pipe.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/socket/mod.rs
  src/main/host/descriptor/socket/netlink.rs
  src/main/host/descriptor/socket/unix.rs
  src/main/host/descriptor/timerfd.rs
  src/main/host/syscall/handler/file.rs
  src/main/host/syscall/handler/fileat.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/stat.rs
  src/main/host/syscall/type_formatting.rs
  src/test/CMakeLists.txt
  src/test/Cargo.toml
  src/test/stat/CMakeLists.txt
  src/test/stat/stat.yaml
  src/test/stat/test_stat.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3364 Support the 'close_range' syscall
  src/lib/linux-api/bindings-wrapper.h
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/close_range.rs
  src/lib/linux-api/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/syscall_types.rs
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/syscall/handler/close_range.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/type_formatting.rs
  src/test/CMakeLists.txt
  src/test/Cargo.toml
  src/test/close_range/CMakeLists.txt
  src/test/close_range/close_range.yaml
  src/test/close_range/test_close_range.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3368 Implement chdir
  CHANGELOG.md
  src/lib/linux-api/src/errno.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/handler/unistd.c
  src/main/host/syscall/handler/unistd.rs
  src/main/host/thread.rs
  src/test/Cargo.toml
  src/test/unistd/test_unistd.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#3373 Add an assertion when an event is pushed
  src/main/core/work/event_queue.rs
Labels: Component: Main

#3374 Update the changelog
  CHANGELOG.md
Labels: Component: Documentation
