Repository shadow/shadow, pull requests merged in 2025-01, with the labels that each got.

#3487 Bummp Tor version in the CI extra test
  .github/workflows/extra_tests.yml
Labels: Component: Testing

#3489 Fix fifo qdisc
  src/main/host/network/network_queuing_disciplines.c
  src/main/host/network/network_queuing_disciplines.h
Labels: Component: Testing, Component: Main

#3480 Convert network interface and queuing to rust
  CHANGELOG.md
  src/main/build.rs
  src/main/host/descriptor/compat_socket.c
  src/main/host/descriptor/compat_socket.h
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/host.rs
  src/main/host/network/interface.rs
  src/main/host/network/mod.rs
  src/main/host/network/namespace.rs
  src/main/host/network/network_interface.c
  src/main/host/network/network_interface.h
  src/main/host/network/network_queuing_disciplines.c
  src/main/host/network/network_queuing_disciplines.h
  src/main/host/network/queuing.rs
  src/main/network/packet.rs
  src/main/utility/pcap_writer.rs
  src/test/tor/minimal/verify.sh
Labels: Component: Testing, Component: Main, Component: Documentation

#3484 Prepare to migrate packet to Rust
  src/main/build.rs
  src/main/core/worker.rs
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/tcp_retransmit_tally.cc
  src/main/host/descriptor/tcp_retransmit_tally.h
  src/main/host/protocol.h
  src/main/network/packet.rs
  src/main/network/router/mod.rs
  src/main/routing/packet.c
  src/main/routing/packet.h
  src/main/routing/packet.minimal.h
Labels: Component: Testing, Component: Main

#3491 Fix 'dangling_pointers_from_temporaries' warning in test
  CHANGELOG.md
  src/test/clone/test_fork.rs
Labels: Component: Testing, Component: Documentation

#3496 Fix the expired timeout issue in the futex syscall handler
  src/main/host/syscall/handler/futex.c
  src/test/futex/test_futex.c
Labels: Component: Testing, Component: Main

#3504 Remove Debian 10 from supported platforms
  docs/supported_platforms.md
Labels: Component: Testing, Component: Documentation
