Repository shadow/shadow, pull requests merged in 2025-05, with the labels that each got.

#3578 Fix faccessat and add faccessat2
  src/main/host/syscall/handler/fileat.c
  src/main/host/syscall/handler/fileat.h
  src/main/host/syscall/handler/fileat.rs
  src/main/host/syscall/handler/mod.rs
  src/test/file/CMakeLists.txt
  src/test/file/test_file.c
Labels: Component: Testing, Component: Main, Component: Build

#3580 Update CHANGELOG.md for #3578
  CHANGELOG.md
Labels: Component: Testing, Component: Documentation

#3579 Small documentation and `debug_assert` related to `FileState`
  src/main/host/descriptor/mod.rs
  src/main/host/syscall/handler/uio.rs
Labels: Component: Testing, Component: Main

#3584 Upgrade 'merge' to 0.2
  src/Cargo.lock
  src/main/Cargo.toml
  src/main/core/configuration.rs
Labels: Component: Testing, Component: Main, Component: Build

#3585 Change `--werror` to also convert rust warnings to errors
  src/CMakeLists.txt
  src/lib/shadow-shim-helper-rs/src/rootedcell/rc.rs
Labels: Component: Libraries, Component: Testing, Component: Build

#3591 Fix warnings for rust 1.87 and upgrade CI rust version
  CHANGELOG.md
  ci/rust-toolchain-nightly.toml
  ci/rust-toolchain-stable.toml
  src/lib/shmem/src/raw_syscall.rs
  src/main/core/sim_stats.rs
  src/main/host/descriptor/descriptor_table.rs
  src/main/host/process.rs
  src/test/random/test_random.rs
  src/test/socket/socket/test_socket.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Documentation

#3592 Update 'setup' script to pass "OFF" to cmake
  CHANGELOG.md
  setup
Labels: Component: Testing, Component: Documentation

#3590 shadow-exec: add ability to pass through arbitrary shadow args
  shadowtools/src/shadowtools/shadow_exec.py
  shadowtools/tests/test_shadow_exec.py
Labels: Component: Testing

#3593 Finish migration of signal syscall handlers to rust
  src/lib/linux-api/src/signal.rs
  src/main/build.rs
  src/main/host/memory_manager/memory_copier.rs
  src/main/host/memory_manager/memory_mapper.rs
  src/main/host/memory_manager/mod.rs
  src/main/host/syscall/handler/signal.c
  src/main/host/syscall/handler/signal.h
  src/main/host/syscall/handler/signal.rs
Labels: Component: Libraries, Component: Testing, Component: Main
