Repository shadow/shadow, pull requests merged in 2025-03, with the labels that each got.

#3521 Fix CI failures due to rustup 1.28.0 changes
  ci/container_scripts/install_extra_deps.sh
Labels: Component: Testing

#3525 Fix ip addr increment infinite loop
  src/main/network/graph/mod.rs
Labels: Type: Bug, Component: Testing, Component: Main

#3533 Move shadow syscall nums into shadow-shim-helper-rs
  src/Cargo.lock
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/build.rs
  src/lib/shadow-shim-helper-rs/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/shadow_syscalls.rs
  src/lib/shim/shim.c
  src/lib/shim/shim_api_addrinfo.c
  src/lib/shim/shim_sys.c
  src/lib/shim/shim_syscall.c
  src/main/build.rs
  src/main/host/syscall/handler/mod.rs
  src/main/host/syscall/mod.rs
  src/main/host/syscall_numbers.h
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3520 Add preemption to escape pure-cpu busy-loops
  CHANGELOG.md
  docs/limitations.md
  docs/shadow_config_spec.md
  src/lib/linux-api/src/time.rs
  src/lib/shadow-shim-helper-rs/src/shim_shmem.rs
  src/lib/shim/shim.c
  src/lib/shim/src/lib.rs
  src/lib/shim/src/preempt.rs
  src/lib/shim/src/syscall.rs
  src/main/core/configuration.rs
  src/main/core/manager.rs
  src/main/host/syscall/handler/mod.rs
  src/test/Cargo.toml
  src/test/cli/help-long-expected
  src/test/regression/CMakeLists.txt
  src/test/regression/cpu_busy_wait.yaml
  src/test/regression/test_busy_wait.rs
  src/test/regression/test_cpu_busy_wait.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build, Component: Documentation

#3542 Make AT_RANDOM in the linux auxiliary vector deterministic
  CHANGELOG.md
  src/lib/linux-api/bindings-wrapper.h
  src/lib/linux-api/src/auxvec.rs
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/lib.rs
  src/lib/shadow-shim-helper-rs/src/shim_event.rs
  src/lib/shim/src/lib.rs
  src/lib/shim/src/reinit_auxvec_random.rs
  src/lib/shim/src/syscall.rs
  src/main/host/managed_thread.rs
  src/test/determinism/test_determinism.c
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Documentation

#3531 Fix the issue where loopback-bound sockets attempt to connect to a public IP
  CHANGELOG.md
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/test/socket/connect/connect.yaml
  src/test/socket/connect/test_connect.rs
  src/test/socket/send_recv/send-recv.yaml
  src/test/socket/send_recv/test_send_recv.rs
Labels: Component: Testing, Component: Main, Component: Documentation

#3545 Fix a bug with UDP implicit bind after `sendto()`
  CHANGELOG.md
  src/main/host/descriptor/socket/inet/udp.rs
  src/test/socket/getsockname/test_getsockname.rs
Labels: Component: Testing, Component: Main, Component: Documentation

#3547 Add better error logging to `test_siocgstamp` socket test
  src/test/socket/ioctl/test_ioctl.rs
  src/test/test_utils.rs
Labels: Component: Testing
