Repository shadow/shadow, pull requests merged in 2025-02, with the labels that each got.

#3507 Fix 'clippy::unnecessary_map_or' warning
  src/main/network/router/codel_queue.rs
Labels: Component: Testing, Component: Main

#3506 Upgrade 'rand{,_chacha,_core,_xoshiro}'
  src/Cargo.lock
  src/lib/scheduler/Cargo.toml
  src/lib/scheduler/src/sync/count_down_latch.rs
  src/lib/shadow-shim-helper-rs/Cargo.toml
  src/lib/shadow-shim-helper-rs/src/rootedcell/mod.rs
  src/lib/shmem/Cargo.toml
  src/lib/shmem/src/allocator.rs
  src/lib/vasi-sync/Cargo.toml
  src/main/Cargo.toml
  src/main/core/controller.rs
  src/main/core/sim_config.rs
  src/main/core/worker.rs
  src/main/host/descriptor/socket/abstract_unix_ns.rs
  src/main/host/host.rs
  src/main/host/network/namespace.rs
  src/main/utility/byte_queue.rs
  src/main/utility/interval_map.rs
  src/test/Cargo.toml
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build

#3492 Migrate packet to Rust
  CHANGELOG.md
  src/main/build.rs
  src/main/core/worker.rs
  src/main/host/descriptor/socket.c
  src/main/host/descriptor/socket.h
  src/main/host/descriptor/socket/inet/legacy_tcp.rs
  src/main/host/descriptor/socket/inet/mod.rs
  src/main/host/descriptor/socket/inet/tcp.rs
  src/main/host/descriptor/socket/inet/udp.rs
  src/main/host/descriptor/tcp.c
  src/main/host/descriptor/tcp.h
  src/main/host/descriptor/tcp_retransmit_tally.cc
  src/main/host/host.rs
  src/main/host/network/interface.rs
  src/main/host/network/namespace.rs
  src/main/host/protocol.h
  src/main/network/legacypacket.h
  src/main/network/packet.rs
  src/main/network/relay/mod.rs
  src/main/network/router/codel_queue.rs
  src/main/network/router/mod.rs
  src/main/routing/packet.c
  src/main/routing/packet.h
  src/main/routing/payload.c
  src/main/routing/payload.h
Labels: Component: Testing, Component: Main, Component: Documentation

#3513 Make tests compatible with --model-unblocked-syscall-latency
  src/test/epoll/CMakeLists.txt
  src/test/udp/udp.yaml
Labels: Component: Testing, Component: Build

#3514 Fix forked timers
  src/main/host/host.rs
  src/main/host/process.rs
  src/main/host/syscall/handler/mod.rs
  src/main/utility/perf_timer.rs
Labels: Component: Testing, Component: Main

#3516 shim_sys_handle_syscall_locally: remove extra unlock+lock
  src/lib/shim/shim_sys.c
Labels: Component: Libraries, Component: Testing

#3517 linux-api: add wrappers for getitimer and setitimer
  src/Cargo.lock
  src/lib/linux-api/Cargo.toml
  src/lib/linux-api/gen-kernel-bindings.sh
  src/lib/linux-api/src/bindings.rs
  src/lib/linux-api/src/signal.rs
  src/lib/linux-api/src/time.rs
  src/lib/shadow-shim-helper-rs/src/simulation_time.rs
  src/main/host/syscall/handler/time.rs
  src/main/host/syscall/type_formatting.rs
Labels: Component: Libraries, Component: Testing, Component: Main, Component: Build
